In [1]:
import argparse
import glob
import os
os.environ['CUDA_VISIBLE_DEVICES'] = ''
import sys
import numpy as np
import pandas as pd
from d3mds import D3MDS

In [2]:
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import MinMaxScaler

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
import keras
from keras.models import Model, Sequential, load_model
from keras.layers import Dense, GRU, InputLayer, Lambda, Masking
from keras import backend as K
from keras.callbacks import EarlyStopping

Using TensorFlow backend.

In [5]:
from keras.layers import LSTM

In [6]:
def build_lstm_model(batch_size=1, num_time_steps=1, num_feat=1, neurons=5):
    model = Sequential()
    model.add(LSTM(neurons, batch_input_shape=(batch_size, num_time_steps, num_feat), stateful=True))
    model.add(Dense(1))
    opt = keras.optimizers.Adam(lr=1e-4)
    model.compile(loss='mae', optimizer=opt)
    return model

def train_lstm(model, train, batch_size, nb_epoch, last_ind):
    X, y = train[0:last_ind+1, 0:1], train[304:(304+last_ind+1), 0:1]    
    print(X.shape, y.shape)
    X = X.reshape(X.shape[0], 1, X.shape[1])
    #print(X.shape)
    for i in range(nb_epoch):
        model.fit(X, y, epochs=1, batch_size=batch_size, verbose=1, shuffle=False)
        model.reset_states()
    return model

In [7]:
# Fix random seed for reproducibility
np.random.seed(42)

In [8]:
dataset_root = '../../'
model_dir = './models'

## Load train data

In [9]:
print('Load DATA')    
data_path = glob.glob(os.path.join(dataset_root, "*_dataset"))[0]
problem_path = glob.glob(os.path.join(dataset_root, "*_problem"))[0]
d3mds = D3MDS(data_path, problem_path)

Load DATA

/data/sptemp10/d3m/staging/LL1_736_population_spawn/LL1_736_population_spawn_solution/src/d3mds.py:31: UserWarning: the datasetSchemaVersions in the API and datasetDoc do not match !!!!!!!
  warnings.warn("the datasetSchemaVersions in the API and datasetDoc do not match !!!!!!!")
/data/sptemp10/d3m/staging/LL1_736_population_spawn/LL1_736_population_spawn_solution/src/d3mds.py:199: UserWarning: the problemSchemaVersions in the API and datasetDoc do not match !!!!!!!
  warnings.warn("the problemSchemaVersions in the API and datasetDoc do not match !!!!!!!")

In [10]:
print('Load train data')
df_train = d3mds.get_train_data()
targets_train = d3mds.get_train_targets()

Load train data

In [11]:
X_train = df_train.copy()
X_train['count'] = targets_train
X_train = X_train.pivot_table(index=['species', 'sector'], columns='day', values='count')

In [12]:
X_train

day                   2        3        4        5        6        7    \
species   sector
cas9_CAD  S_0102      NaN      NaN   4580.0   4730.0   4860.0   4890.0
          S_1102      NaN   3910.0   4019.0   3940.0   3900.0   3960.0
          S_2102      NaN   3410.0   3800.0   3810.0   3630.0      NaN
          S_3102   2810.0   2820.0   2980.0      NaN      NaN   3110.0
          S_4102   5080.0   5490.0      NaN      NaN   6070.0   6280.0
          S_5102   5570.0      NaN      NaN   5290.0   5280.0   5390.0
          S_6102      NaN      NaN   5920.0   5360.0   5210.0   5140.0
          S_7002      NaN  23800.0  23900.0  23630.0      NaN      NaN
          S_7102      NaN   2750.0   2750.0   2700.0   2650.0      NaN
          S_8002  26460.0  26160.0  25630.0      NaN      NaN  26240.0
          S_9002   7690.0      NaN      NaN   8109.0   9320.0   8830.0
cas9_FAB  S_0102      NaN      NaN   9245.0   9195.0   9182.0   9136.0
          S_1102      NaN   8990.0   8990.0   8942.0   8966.0   8966.0
          S_2102      NaN  11190.0  11130.0  11261.0  11209.0      NaN
          S_3102  12912.0  12989.0  12981.0      NaN      NaN  12912.0
          S_4102  10517.0  10594.0      NaN      NaN  10600.0  10600.0
          S_5002      NaN      NaN      NaN      NaN      NaN      NaN
          S_5102  12399.0      NaN      NaN  12405.0  12585.0  12725.0
          S_6002      NaN   9182.0   9239.0   9327.0   9377.0      NaN
          S_6102      NaN      NaN  13339.0  13421.0  13500.0  13603.0
          S_7002      NaN   9510.0   9582.0   9493.0      NaN      NaN
          S_7102      NaN  13687.0  13716.0  13832.0  13842.0      NaN
          S_8002   9019.0   9150.0   9203.0      NaN      NaN   9239.0
          S_9002   7019.0      NaN      NaN   7218.0   7471.0   7553.0
cas9_HNAF S_0102      NaN      NaN  20364.0  20877.0  21489.0  21725.0
          S_1102      NaN  16842.0  17078.0  17562.0  17562.0  17907.0
          S_2102      NaN   7182.0   7123.0   7123.0   6807.0      NaN
          S_3102   6679.0   6718.0   6738.0      NaN      NaN   6699.0
          S_4102   5978.0   5791.0      NaN      NaN   5840.0   5722.0
          S_5102   6620.0      NaN      NaN   7478.0   7340.0   7804.0
...                   ...      ...      ...      ...      ...      ...
cas9_NIAG S_8002   5400.0   5471.0   5400.0      NaN      NaN   5421.0
          S_9002   2800.0      NaN      NaN   2920.0   2914.0   2925.0
cas9_VBBA S_3102      NaN      NaN  28810.0      NaN      NaN  28869.0
          S_4102  45285.0  45563.0      NaN      NaN  43900.0  43988.0
          S_5102  59258.0      NaN      NaN  58140.0  57854.0  60193.0
          S_6102      NaN      NaN  53513.0  53291.0  53301.0  53141.0
          S_7102      NaN  60213.0  61062.0  61525.0  61545.0      NaN
cas9_XGAJ S_5102      NaN      NaN      NaN      NaN      NaN      NaN
          S_6102      NaN      NaN   2370.0   2390.0   2450.0   2480.0
          S_7102      NaN    670.0    670.0    680.0    650.0      NaN
cas9_XWAH S_7102      NaN  23108.0  23266.0  23285.0  23261.0      NaN
cas9_YABE S_0002      NaN   7432.0   6734.0   7184.0   7096.0   7087.0
          S_0102      NaN      NaN  10059.0   9954.0   9891.0   9777.0
          S_1002   3177.0   4141.0   3724.0   3215.0      NaN      NaN
          S_1102      NaN  12071.0  11982.0  12092.0  11960.0  11658.0
          S_2002   6965.0   7154.0   7205.0      NaN      NaN   7028.0
          S_2102      NaN  13190.0  12694.0  12925.0  12890.0      NaN
          S_3002   7297.0   7356.0      NaN      NaN   7681.0   7634.0
          S_3102  22555.0  22075.0  22214.0      NaN      NaN  22521.0
          S_4002  13258.0      NaN      NaN  13597.0  13712.0  13720.0
          S_4102  22702.0  22416.0      NaN      NaN  21793.0  22252.0
          S_5002      NaN  24011.0  23426.0  23338.0  22344.0  22428.0
          S_5102  23656.0      NaN      NaN  23460.0  23156.0  23114.0
          S_6002      NaN  18712.0  18733.0  19310.0  19634.0      NaN
          S_6102      NaN      NaN  26430.0  26120.0  26410.0  25690.0
          S_7002      NaN  12698.0  13295.0  12955.0      NaN      NaN
          S_7102      NaN  29840.0  29760.0  30010.0  31050.0      NaN
          S_8002  13674.0  13822.0  13173.0      NaN      NaN  12811.0
          S_9002   6170.0      NaN      NaN   6216.0   6388.0   6140.0
          S_9991      NaN      NaN   4208.0   3931.0   4962.0   5227.0

day                   8        9        10       11    ...         296  \
species   sector                                       ...
cas9_CAD  S_0102   4920.0      NaN      NaN   4850.0   ...         NaN
          S_1102      NaN      NaN   4100.0   4880.0   ...         NaN
          S_2102      NaN   3400.0   3420.0   3500.0   ...      2750.0
          S_3102   3210.0   3520.0   3360.0   3440.0   ...      3930.0
          S_4102   6630.0   6500.0   6400.0      NaN   ...      4550.0
          S_5102   5230.0   5190.0      NaN      NaN   ...      6390.0
          S_6102   5160.0      NaN      NaN   5230.0   ...         NaN
          S_7002  23890.0  23900.0  23700.0  23830.0   ...     35750.0
          S_7102      NaN   2700.0   2700.0   2750.0   ...      1500.0
          S_8002  25350.0  24890.0  25040.0  25490.0   ...      8010.0
          S_9002   9460.0  10160.0      NaN      NaN   ...      4470.0
cas9_FAB  S_0102   9232.0      NaN      NaN   9279.0   ...         NaN
          S_1102      NaN      NaN   8868.0   8868.0   ...         NaN
          S_2102      NaN  11329.0  11320.0  11353.0   ...     12568.0
          S_3102  12994.0  13068.0  13055.0  13038.0   ...     10538.0
          S_4102  10600.0  10645.0  10745.0      NaN   ...     12209.0
          S_5002      NaN      NaN      NaN      NaN   ...         NaN
          S_5102  12680.0  12654.0      NaN      NaN   ...     13150.0
          S_6002      NaN   9386.0   9394.0   9321.0   ...      9560.0
          S_6102  13593.0      NaN      NaN  13537.0   ...         NaN
          S_7002   9517.0   9582.0   9595.0   9533.0   ...      9232.0
          S_7102      NaN  13925.0  13993.0  14069.0   ...     15270.0
          S_8002   9300.0   9340.0   9327.0   9381.0   ...      6540.0
          S_9002   7855.0   8005.0      NaN      NaN   ...      9129.0
cas9_HNAF S_0102  22051.0      NaN      NaN  20838.0   ...         NaN
          S_1102      NaN      NaN  18213.0  18558.0   ...         NaN
          S_2102      NaN   6659.0   6768.0   6709.0   ...      5742.0
          S_3102   6561.0   6531.0   6551.0   6521.0   ...      4893.0
          S_4102   5761.0   5811.0   5811.0      NaN   ...      5199.0
          S_5102   7675.0   7873.0      NaN      NaN   ...      8781.0
...                   ...      ...      ...      ...   ...         ...
cas9_NIAG S_8002   5301.0   5165.0   5285.0   5481.0   ...      2599.0
          S_9002   3187.0   2697.0      NaN      NaN   ...      2680.0
cas9_VBBA S_3102  28241.0  28399.0  28480.0  28695.0   ...     42105.0
          S_4102  43873.0  44623.0  44343.0      NaN   ...     53528.0
          S_5102  60821.0  59159.0      NaN      NaN   ...     46761.0
          S_6102  51692.0      NaN      NaN  50049.0   ...         NaN
          S_7102      NaN  61950.0  61813.0  59583.0   ...     94510.0
cas9_XGAJ S_5102      NaN      NaN      NaN      NaN   ...      2110.0
          S_6102   2580.0      NaN      NaN   2810.0   ...         NaN
          S_7102      NaN    660.0    640.0    665.0   ...       190.0
cas9_XWAH S_7102      NaN  23217.0  23261.0  23353.0   ...     26660.0
cas9_YABE S_0002      NaN      NaN   7483.0   7323.0   ...         NaN
          S_0102   9895.0      NaN      NaN   9870.0   ...         NaN
          S_1002   3223.0   3514.0   4137.0   4305.0   ...      5846.0
          S_1102      NaN      NaN  11894.0  11936.0   ...         NaN
          S_2002   7108.0   7041.0   6944.0   6721.0   ...      6691.0
          S_2102      NaN  12841.0  13130.0  13265.0   ...     21107.0
          S_3002   7558.0   7735.0   7718.0      NaN   ...     11423.0
          S_3102  22171.0  22205.0  22305.0  22601.0   ...     21772.0
          S_4002  13561.0  13342.0      NaN      NaN   ...     20180.0
          S_4102  22041.0  21915.0  21953.0      NaN   ...     21375.0
          S_5002      NaN      NaN  22584.0  22061.0   ...         NaN
          S_5102  23741.0  23413.0      NaN      NaN   ...     28160.0
          S_6002      NaN  19609.0  19415.0  19095.0   ...     13359.0
          S_6102  25750.0      NaN      NaN  26100.0   ...         NaN
          S_7002  12500.0  12520.0  12332.0  12722.0   ...     15126.0
          S_7102      NaN  30750.0  30250.0  30410.0   ...     36830.0
          S_8002  12630.0  12572.0  12777.0  12492.0   ...      6325.0
          S_9002   6174.0   5972.0      NaN      NaN   ...      9916.0
          S_9991   5130.0      NaN      NaN   5109.0   ...         NaN

day                   297      298      299      300      301      302  \
species   sector
cas9_CAD  S_0102      NaN   4500.0   4550.0   4500.0   4530.0   4530.0
          S_1102   3900.0   3620.0   3650.0   3770.0   3900.0      NaN
          S_2102   2700.0   2700.0   2750.0   2700.0      NaN      NaN
          S_3102   3930.0   3850.0      NaN      NaN   3750.0   3910.0
          S_4102   4490.0      NaN      NaN   4600.0   4640.0   5000.0
          S_5102      NaN      NaN   6430.0   6390.0   6130.0   6020.0
          S_6102      NaN   2510.0   2600.0   2610.0   2550.0   2530.0
          S_7002  35300.0  36290.0  37500.0      NaN      NaN  37390.0
          S_7102   1500.0   1500.0   1500.0   1500.0      NaN      NaN
          S_8002   7820.0   7460.0      NaN      NaN   6800.0   7130.0
          S_9002      NaN      NaN   4410.0   4320.0   4000.0   4230.0
cas9_FAB  S_0102      NaN  10362.0  10366.0  10330.0  10338.0  10369.0
          S_1102  10062.0   9994.0   9998.0   9991.0   9947.0      NaN
          S_2102  12690.0  12788.0  12620.0  12665.0      NaN      NaN
          S_3102  10597.0  10574.0      NaN      NaN  10597.0  10614.0
          S_4102  12280.0      NaN      NaN  12226.0  12254.0  12270.0
          S_5002   9510.0   9472.0   9479.0   9533.0   9517.0      NaN
          S_5102      NaN      NaN  13065.0  13038.0  13132.0  13132.0
          S_6002   9671.0   9671.0   9612.0   9628.0      NaN      NaN
          S_6102      NaN  14249.0  14263.0  14162.0  14002.0  13925.0
          S_7002   9252.0   9157.0   9186.0      NaN      NaN   9266.0
          S_7102  15270.0  15090.0  15040.0  15000.0      NaN      NaN
          S_8002   6964.0   7191.0      NaN      NaN   7321.0   7115.0
          S_9002      NaN      NaN   9005.0   8983.0   8942.0   8903.0
cas9_HNAF S_0102      NaN  25988.0  25820.0  25711.0  25702.0  25355.0
          S_1102   7675.0   8129.0   7893.0   7902.0   7784.0      NaN
          S_2102   5702.0   5692.0   5781.0   5692.0      NaN      NaN
          S_3102   4834.0   4873.0      NaN      NaN   4824.0   4834.0
          S_4102   5189.0      NaN      NaN   5199.0   5317.0   5317.0
          S_5102      NaN      NaN   8761.0   8731.0   9037.0   8879.0
...                   ...      ...      ...      ...      ...      ...
cas9_NIAG S_8002   2615.0   2310.0      NaN      NaN   2419.0   2648.0
          S_9002      NaN      NaN   2691.0   2713.0   2697.0   2746.0
cas9_VBBA S_3102  41758.0  42951.0      NaN      NaN  43055.0  43376.0
          S_4102  54222.0      NaN      NaN  54398.0  54798.0  53943.0
          S_5102      NaN      NaN  48181.0  48840.0  49472.0  50253.0
          S_6102      NaN  58968.0  59383.0  58871.0  59296.0  55571.0
          S_7102  91690.0  91770.0  89560.0  91930.0      NaN      NaN
cas9_XGAJ S_5102      NaN      NaN   1960.0   2100.0   2750.0   3850.0
          S_6102      NaN    870.0    900.0    910.0    945.0    920.0
          S_7102    200.0    193.0    185.0    184.0      NaN      NaN
cas9_XWAH S_7102  26700.0  26600.0      NaN  26850.0      NaN      NaN
cas9_YABE S_0002   6266.0   5690.0   5690.0   5521.0   5408.0      NaN
          S_0102      NaN  11755.0  12100.0  12323.0  12508.0  12567.0
          S_1002   6014.0   6224.0   5997.0      NaN      NaN   5526.0
          S_1102  13624.0  13329.0  13081.0  13590.0  13994.0      NaN
          S_2002   6532.0   6523.0      NaN      NaN   6376.0   6435.0
          S_2102  20770.0  20572.0  20345.0  20838.0      NaN      NaN
          S_3002  11561.0      NaN      NaN  11755.0  12109.0  12037.0
          S_3102  22029.0  21730.0      NaN      NaN  21873.0  22449.0
          S_4002      NaN      NaN  20180.0  20042.0  20766.0  20808.0
          S_4102  21515.0      NaN      NaN  21545.0  21549.0  21604.0
          S_5002  16590.0  15997.0  16120.0  15925.0  16174.0      NaN
          S_5102      NaN      NaN  28170.0  28370.0  28250.0  28170.0
          S_6002  13169.0  13502.0  13796.0  13497.0      NaN      NaN
          S_6102      NaN  29220.0  29050.0  28820.0  28810.0  28600.0
          S_7002  15067.0  14835.0  15421.0      NaN      NaN  15425.0
          S_7102  36740.0  36680.0  36900.0  36800.0      NaN      NaN
          S_8002   6447.0   6266.0      NaN      NaN   6115.0   6679.0
          S_9002      NaN      NaN   9818.0   9743.0   9575.0   9684.0
          S_9991      NaN   7937.0   7996.0   7297.0   7163.0   7108.0

day                   303      304      305
species   sector
cas9_CAD  S_0102      NaN      NaN      NaN
          S_1102      NaN   3540.0      NaN
          S_2102      NaN      NaN   2750.0
          S_3102   4000.0   4000.0      NaN
          S_4102   5200.0   5480.0      NaN
          S_5102   6200.0      NaN      NaN
          S_6102      NaN      NaN   2550.0
          S_7002  36390.0  35910.0      NaN
          S_7102   1500.0      NaN      NaN
          S_8002   7220.0   7490.0   8390.0
          S_9002   4090.0      NaN      NaN
cas9_FAB  S_0102      NaN      NaN      NaN
          S_1102      NaN   9949.0      NaN
          S_2102      NaN      NaN  12599.0
          S_3102  10592.0  10559.0      NaN
          S_4102  12244.0  12216.0      NaN
          S_5002      NaN   9458.0      NaN
          S_5102  13102.0      NaN      NaN
          S_6002   9552.0   9575.0      NaN
          S_6102      NaN      NaN  13860.0
          S_7002   9245.0   9182.0      NaN
          S_7102  15080.0      NaN      NaN
          S_8002   6964.0   7040.0   7053.0
          S_9002   8903.0      NaN      NaN
cas9_HNAF S_0102      NaN      NaN      NaN
          S_1102      NaN   7449.0      NaN
          S_2102      NaN      NaN   5801.0
          S_3102   4804.0   4785.0      NaN
          S_4102   5327.0   5401.0      NaN
          S_5102   8968.0      NaN      NaN
...                   ...      ...      ...
cas9_NIAG S_8002   2479.0   2566.0   3035.0
          S_9002   2751.0      NaN      NaN
cas9_VBBA S_3102  42516.0  42211.0      NaN
          S_4102  55020.0  57071.0      NaN
          S_5102  55313.0      NaN      NaN
          S_6102      NaN      NaN  53817.0
          S_7102  90960.0      NaN      NaN
cas9_XGAJ S_5102   3680.0      NaN      NaN
          S_6102      NaN      NaN    940.0
          S_7102    182.0      NaN      NaN
cas9_XWAH S_7102  26775.0      NaN      NaN
cas9_YABE S_0002      NaN   5181.0   5420.0
          S_0102      NaN      NaN      NaN
          S_1002   5622.0   5521.0      NaN
          S_1102      NaN  13395.0      NaN
          S_2002   6578.0   6654.0      NaN
          S_2102      NaN      NaN  20311.0
          S_3002  11978.0  11767.0      NaN
          S_3102  22189.0  22184.0      NaN
          S_4002  20543.0      NaN      NaN
          S_4102  21695.0  22096.0      NaN
          S_5002      NaN  16671.0      NaN
          S_5102  27900.0      NaN      NaN
          S_6002  13569.0  13523.0      NaN
          S_6102      NaN      NaN  28510.0
          S_7002  15375.0  15194.0      NaN
          S_7102  37000.0      NaN      NaN
          S_8002   6380.0   6477.0   6426.0
          S_9002   9372.0      NaN      NaN
          S_9991      NaN      NaN      NaN

[144 rows x 304 columns]

In [13]:
last_day_info = {}

for i, (idx, df) in enumerate(X_train.groupby(level=[0,1])):
    print(i, (idx, df))
    last_ind = np.where(X_train.notnull().iloc[i,:]==True)[0][-1]
    last_day =  X_train.columns[last_ind]
    
    last_day_info[idx] = {}
    last_day_info[idx]['last_ind'] = last_ind
    last_day_info[idx]['last_day'] = last_day

0 (('cas9_CAD', 'S_0102'), day              2    3       4       5       6       7       8    9    10   \
species  sector
cas9_CAD S_0102  NaN  NaN  4580.0  4730.0  4860.0  4890.0  4920.0  NaN  NaN

day                 11  ...   296  297     298     299     300     301  \
species  sector         ...
cas9_CAD S_0102  4850.0 ...   NaN  NaN  4500.0  4550.0  4500.0  4530.0

day                 302  303  304  305
species  sector
cas9_CAD S_0102  4530.0  NaN  NaN  NaN

[1 rows x 304 columns])
1 (('cas9_CAD', 'S_1102'), day              2       3       4       5       6       7    8    9    \
species  sector
cas9_CAD S_1102  NaN  3910.0  4019.0  3940.0  3900.0  3960.0  NaN  NaN

day                 10      11  ...   296     297     298     299     300  \
species  sector                 ...
cas9_CAD S_1102  4100.0  4880.0 ...   NaN  3900.0  3620.0  3650.0  3770.0

day                 301  302  303     304  305
species  sector
cas9_CAD S_1102  3900.0  NaN  NaN  3540.0  NaN

[1 rows x 304 columns])
2 (('cas9_CAD', 'S_2102'), day              2       3       4       5       6    7    8       9    \
species  sector
cas9_CAD S_2102  NaN  3410.0  3800.0  3810.0  3630.0  NaN  NaN  3400.0

day                 10      11    ...       296     297     298     299  \
species  sector                   ...
cas9_CAD S_2102  3420.0  3500.0   ...    2750.0  2700.0  2700.0  2750.0

day                 300  301  302  303  304     305
species  sector
cas9_CAD S_2102  2700.0  NaN  NaN  NaN  NaN  2750.0

[1 rows x 304 columns])
3 (('cas9_CAD', 'S_3102'), day                 2       3       4    5    6       7       8       9    \
species  sector
cas9_CAD S_3102  2810.0  2820.0  2980.0  NaN  NaN  3110.0  3210.0  3520.0

day                 10      11  ...      296     297     298  299  300  \
species  sector                 ...
cas9_CAD S_3102  3360.0  3440.0 ...   3930.0  3930.0  3850.0  NaN  NaN

day                 301     302     303     304  305
species  sector
cas9_CAD S_3102  3750.0  3910.0  4000.0  4000.0  NaN

[1 rows x 304 columns])
4 (('cas9_CAD', 'S_4102'), day                 2       3    4    5       6       7       8       9    \
species  sector
cas9_CAD S_4102  5080.0  5490.0  NaN  NaN  6070.0  6280.0  6630.0  6500.0

day                 10   11  ...      296     297  298  299     300     301  \
species  sector              ...
cas9_CAD S_4102  6400.0  NaN ...   4550.0  4490.0  NaN  NaN  4600.0  4640.0

day                 302     303     304  305
species  sector
cas9_CAD S_4102  5000.0  5200.0  5480.0  NaN

[1 rows x 304 columns])
5 (('cas9_CAD', 'S_5102'), day                 2    3    4       5       6       7       8       9    \
species  sector
cas9_CAD S_5102  5570.0  NaN  NaN  5290.0  5280.0  5390.0  5230.0  5190.0

day              10   11  ...      296  297  298     299     300     301  \
species  sector           ...
cas9_CAD S_5102  NaN  NaN ...   6390.0  NaN  NaN  6430.0  6390.0  6130.0

day                 302     303  304  305
species  sector
cas9_CAD S_5102  6020.0  6200.0  NaN  NaN

[1 rows x 304 columns])
6 (('cas9_CAD', 'S_6102'), day              2    3       4       5       6       7       8    9    10   \
species  sector
cas9_CAD S_6102  NaN  NaN  5920.0  5360.0  5210.0  5140.0  5160.0  NaN  NaN

day                 11    ...    296  297     298     299     300     301  \
species  sector           ...
cas9_CAD S_6102  5230.0   ...    NaN  NaN  2510.0  2600.0  2610.0  2550.0

day                 302  303  304     305
species  sector
cas9_CAD S_6102  2530.0  NaN  NaN  2550.0

[1 rows x 304 columns])
7 (('cas9_CAD', 'S_7002'), day              2        3        4        5    6    7        8        9    \
species  sector
cas9_CAD S_7002  NaN  23800.0  23900.0  23630.0  NaN  NaN  23890.0  23900.0

day                  10       11  ...       296      297      298      299  \
species  sector                   ...
cas9_CAD S_7002  23700.0  23830.0 ...   35750.0  35300.0  36290.0  37500.0

day              300  301      302      303      304  305
species  sector
cas9_CAD S_7002  NaN  NaN  37390.0  36390.0  35910.0  NaN

[1 rows x 304 columns])
8 (('cas9_CAD', 'S_7102'), day              2       3       4       5       6    7    8       9    \
species  sector
cas9_CAD S_7102  NaN  2750.0  2750.0  2700.0  2650.0  NaN  NaN  2700.0

day                 10      11  ...      296     297     298     299     300  \
species  sector                 ...
cas9_CAD S_7102  2700.0  2750.0 ...   1500.0  1500.0  1500.0  1500.0  1500.0

day              301  302     303  304  305
species  sector
cas9_CAD S_7102  NaN  NaN  1500.0  NaN  NaN

[1 rows x 304 columns])
9 (('cas9_CAD', 'S_8002'), day                  2        3        4    5    6        7        8    \
species  sector
cas9_CAD S_8002  26460.0  26160.0  25630.0  NaN  NaN  26240.0  25350.0

day                  9        10       11    ...       296     297     298  \
species  sector                              ...
cas9_CAD S_8002  24890.0  25040.0  25490.0   ...    8010.0  7820.0  7460.0

day              299  300     301     302     303     304     305
species  sector
cas9_CAD S_8002  NaN  NaN  6800.0  7130.0  7220.0  7490.0  8390.0

[1 rows x 304 columns])
10 (('cas9_CAD', 'S_9002'), day                 2    3    4       5       6       7       8        9    \
species  sector
cas9_CAD S_9002  7690.0  NaN  NaN  8109.0  9320.0  8830.0  9460.0  10160.0

day              10   11  ...      296  297  298     299     300     301  \
species  sector           ...
cas9_CAD S_9002  NaN  NaN ...   4470.0  NaN  NaN  4410.0  4320.0  4000.0

day                 302     303  304  305
species  sector
cas9_CAD S_9002  4230.0  4090.0  NaN  NaN

[1 rows x 304 columns])
11 (('cas9_FAB', 'S_0102'), day              2    3       4       5       6       7       8    9    10   \
species  sector
cas9_FAB S_0102  NaN  NaN  9245.0  9195.0  9182.0  9136.0  9232.0  NaN  NaN

day                 11  ...   296  297      298      299      300      301  \
species  sector         ...
cas9_FAB S_0102  9279.0 ...   NaN  NaN  10362.0  10366.0  10330.0  10338.0

day                  302  303  304  305
species  sector
cas9_FAB S_0102  10369.0  NaN  NaN  NaN

[1 rows x 304 columns])
12 (('cas9_FAB', 'S_1102'), day              2       3       4       5       6       7    8    9    \
species  sector
cas9_FAB S_1102  NaN  8990.0  8990.0  8942.0  8966.0  8966.0  NaN  NaN

day                 10      11  ...   296      297     298     299     300  \
species  sector                 ...
cas9_FAB S_1102  8868.0  8868.0 ...   NaN  10062.0  9994.0  9998.0  9991.0

day                 301  302  303     304  305
species  sector
cas9_FAB S_1102  9947.0  NaN  NaN  9949.0  NaN

[1 rows x 304 columns])
13 (('cas9_FAB', 'S_2102'), day              2        3        4        5        6    7    8        9    \
species  sector
cas9_FAB S_2102  NaN  11190.0  11130.0  11261.0  11209.0  NaN  NaN  11329.0

day                  10       11    ...         296      297      298  \
species  sector                     ...
cas9_FAB S_2102  11320.0  11353.0   ...     12568.0  12690.0  12788.0

day                  299      300  301  302  303  304      305
species  sector
cas9_FAB S_2102  12620.0  12665.0  NaN  NaN  NaN  NaN  12599.0

[1 rows x 304 columns])
14 (('cas9_FAB', 'S_3102'), day                  2        3        4    5    6        7        8    \
species  sector
cas9_FAB S_3102  12912.0  12989.0  12981.0  NaN  NaN  12912.0  12994.0

day                  9        10       11  ...       296      297      298  \
species  sector                            ...
cas9_FAB S_3102  13068.0  13055.0  13038.0 ...   10538.0  10597.0  10574.0

day              299  300      301      302      303      304  305
species  sector
cas9_FAB S_3102  NaN  NaN  10597.0  10614.0  10592.0  10559.0  NaN

[1 rows x 304 columns])
15 (('cas9_FAB', 'S_4102'), day                  2        3    4    5        6        7        8    \
species  sector
cas9_FAB S_4102  10517.0  10594.0  NaN  NaN  10600.0  10600.0  10600.0

day                  9        10   11  ...       296      297  298  299  \
species  sector                        ...
cas9_FAB S_4102  10645.0  10745.0  NaN ...   12209.0  12280.0  NaN  NaN

day                  300      301      302      303      304  305
species  sector
cas9_FAB S_4102  12226.0  12254.0  12270.0  12244.0  12216.0  NaN

[1 rows x 304 columns])
16 (('cas9_FAB', 'S_5002'), day              2    3    4    5    6    7    8    9    10   11  ...   296  \
species  sector                                                   ...
cas9_FAB S_5002  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN

day                 297     298     299     300     301  302  303     304  305
species  sector
cas9_FAB S_5002  9510.0  9472.0  9479.0  9533.0  9517.0  NaN  NaN  9458.0  NaN

[1 rows x 304 columns])
17 (('cas9_FAB', 'S_5102'), day                  2    3    4        5        6        7        8    \
species  sector
cas9_FAB S_5102  12399.0  NaN  NaN  12405.0  12585.0  12725.0  12680.0

day                  9    10   11  ...       296  297  298      299      300  \
species  sector                    ...
cas9_FAB S_5102  12654.0  NaN  NaN ...   13150.0  NaN  NaN  13065.0  13038.0

day                  301      302      303  304  305
species  sector
cas9_FAB S_5102  13132.0  13132.0  13102.0  NaN  NaN

[1 rows x 304 columns])
18 (('cas9_FAB', 'S_6002'), day              2       3       4       5       6    7    8       9    \
species  sector
cas9_FAB S_6002  NaN  9182.0  9239.0  9327.0  9377.0  NaN  NaN  9386.0

day                 10      11  ...      296     297     298     299     300  \
species  sector                 ...
cas9_FAB S_6002  9394.0  9321.0 ...   9560.0  9671.0  9671.0  9612.0  9628.0

day              301  302     303     304  305
species  sector
cas9_FAB S_6002  NaN  NaN  9552.0  9575.0  NaN

[1 rows x 304 columns])
19 (('cas9_FAB', 'S_6102'), day              2    3        4        5        6        7        8    9    \
species  sector
cas9_FAB S_6102  NaN  NaN  13339.0  13421.0  13500.0  13603.0  13593.0  NaN

day              10       11    ...     296  297      298      299      300  \
species  sector                 ...
cas9_FAB S_6102  NaN  13537.0   ...     NaN  NaN  14249.0  14263.0  14162.0

day                  301      302  303  304      305
species  sector
cas9_FAB S_6102  14002.0  13925.0  NaN  NaN  13860.0

[1 rows x 304 columns])
20 (('cas9_FAB', 'S_7002'), day              2       3       4       5    6    7       8       9    \
species  sector
cas9_FAB S_7002  NaN  9510.0  9582.0  9493.0  NaN  NaN  9517.0  9582.0

day                 10      11  ...      296     297     298     299  300  \
species  sector                 ...
cas9_FAB S_7002  9595.0  9533.0 ...   9232.0  9252.0  9157.0  9186.0  NaN

day              301     302     303     304  305
species  sector
cas9_FAB S_7002  NaN  9266.0  9245.0  9182.0  NaN

[1 rows x 304 columns])
21 (('cas9_FAB', 'S_7102'), day              2        3        4        5        6    7    8        9    \
species  sector
cas9_FAB S_7102  NaN  13687.0  13716.0  13832.0  13842.0  NaN  NaN  13925.0

day                  10       11  ...       296      297      298      299  \
species  sector                   ...
cas9_FAB S_7102  13993.0  14069.0 ...   15270.0  15270.0  15090.0  15040.0

day                  300  301  302      303  304  305
species  sector
cas9_FAB S_7102  15000.0  NaN  NaN  15080.0  NaN  NaN

[1 rows x 304 columns])
22 (('cas9_FAB', 'S_8002'), day                 2       3       4    5    6       7       8       9    \
species  sector
cas9_FAB S_8002  9019.0  9150.0  9203.0  NaN  NaN  9239.0  9300.0  9340.0

day                 10      11    ...       296     297     298  299  300  \
species  sector                   ...
cas9_FAB S_8002  9327.0  9381.0   ...    6540.0  6964.0  7191.0  NaN  NaN

day                 301     302     303     304     305
species  sector
cas9_FAB S_8002  7321.0  7115.0  6964.0  7040.0  7053.0

[1 rows x 304 columns])
23 (('cas9_FAB', 'S_9002'), day                 2    3    4       5       6       7       8       9    \
species  sector
cas9_FAB S_9002  7019.0  NaN  NaN  7218.0  7471.0  7553.0  7855.0  8005.0

day              10   11  ...      296  297  298     299     300     301  \
species  sector           ...
cas9_FAB S_9002  NaN  NaN ...   9129.0  NaN  NaN  9005.0  8983.0  8942.0

day                 302     303  304  305
species  sector
cas9_FAB S_9002  8903.0  8903.0  NaN  NaN

[1 rows x 304 columns])
24 (('cas9_HNAF', 'S_0102'), day               2    3        4        5        6        7        8    9    \
species   sector
cas9_HNAF S_0102  NaN  NaN  20364.0  20877.0  21489.0  21725.0  22051.0  NaN

day               10       11  ...   296  297      298      299      300  \
species   sector               ...
cas9_HNAF S_0102  NaN  20838.0 ...   NaN  NaN  25988.0  25820.0  25711.0

day                   301      302  303  304  305
species   sector
cas9_HNAF S_0102  25702.0  25355.0  NaN  NaN  NaN

[1 rows x 304 columns])

25 (('cas9_HNAF', 'S_1102'), day               2        3        4        5        6        7    8    9    \
species   sector
cas9_HNAF S_1102  NaN  16842.0  17078.0  17562.0  17562.0  17907.0  NaN  NaN

day                   10       11  ...   296     297     298     299     300  \
species   sector                   ...
cas9_HNAF S_1102  18213.0  18558.0 ...   NaN  7675.0  8129.0  7893.0  7902.0

day                  301  302  303     304  305
species   sector
cas9_HNAF S_1102  7784.0  NaN  NaN  7449.0  NaN

[1 rows x 304 columns])
26 (('cas9_HNAF', 'S_2102'), day               2       3       4       5       6    7    8       9    \
species   sector
cas9_HNAF S_2102  NaN  7182.0  7123.0  7123.0  6807.0  NaN  NaN  6659.0

day                  10      11    ...       296     297     298     299  \
species   sector                   ...
cas9_HNAF S_2102  6768.0  6709.0   ...    5742.0  5702.0  5692.0  5781.0

day                  300  301  302  303  304     305
species   sector
cas9_HNAF S_2102  5692.0  NaN  NaN  NaN  NaN  5801.0

[1 rows x 304 columns])
27 (('cas9_HNAF', 'S_3102'), day                  2       3       4    5    6       7       8       9    \
species   sector
cas9_HNAF S_3102  6679.0  6718.0  6738.0  NaN  NaN  6699.0  6561.0  6531.0

day                  10      11  ...      296     297     298  299  300  \
species   sector                 ...
cas9_HNAF S_3102  6551.0  6521.0 ...   4893.0  4834.0  4873.0  NaN  NaN

day                  301     302     303     304  305
species   sector
cas9_HNAF S_3102  4824.0  4834.0  4804.0  4785.0  NaN

[1 rows x 304 columns])
28 (('cas9_HNAF', 'S_4102'), day                  2       3    4    5       6       7       8       9    \
species   sector
cas9_HNAF S_4102  5978.0  5791.0  NaN  NaN  5840.0  5722.0  5761.0  5811.0

day                  10   11  ...      296     297  298  299     300     301  \
species   sector              ...
cas9_HNAF S_4102  5811.0  NaN ...   5199.0  5189.0  NaN  NaN  5199.0  5317.0

day                  302     303     304  305
species   sector
cas9_HNAF S_4102  5317.0  5327.0  5401.0  NaN

[1 rows x 304 columns])
29 (('cas9_HNAF', 'S_5102'), day                  2    3    4       5       6       7       8       9    \
species   sector
cas9_HNAF S_5102  6620.0  NaN  NaN  7478.0  7340.0  7804.0  7675.0  7873.0

day               10   11  ...      296  297  298     299     300     301  \
species   sector           ...
cas9_HNAF S_5102  NaN  NaN ...   8781.0  NaN  NaN  8761.0  8731.0  9037.0

day                  302     303  304  305
species   sector
cas9_HNAF S_5102  8879.0  8968.0  NaN  NaN

[1 rows x 304 columns])
30 (('cas9_HNAF', 'S_6102'), day               2    3       4       5       6       7       8    9    10   \
species   sector
cas9_HNAF S_6102  NaN  NaN  9146.0  9126.0  8623.0  8129.0  8110.0  NaN  NaN

day                  11    ...    296  297     298     299     300     301  \
species   sector           ...
cas9_HNAF S_6102  7814.0   ...    NaN  NaN  8090.0  7932.0  8041.0  8189.0

day                  302  303  304     305
species   sector
cas9_HNAF S_6102  7937.0  NaN  NaN  8080.0

[1 rows x 304 columns])
31 (('cas9_HNAF', 'S_7102'), day               2       3       4       5       6    7    8       9    \
species   sector
cas9_HNAF S_7102  NaN  8682.0  8573.0  8465.0  8588.0  NaN  NaN  8613.0

day                  10      11  ...       296      297      298      299  \
species   sector                 ...
cas9_HNAF S_7102  8534.0  8248.0 ...   15500.0  15520.0  15230.0  15130.0

day                   300  301  302      303  304  305
species   sector
cas9_HNAF S_7102  15200.0  NaN  NaN  14800.0  NaN  NaN

[1 rows x 304 columns])
32 (('cas9_HNAF', 'S_8002'), day                   2        3        4    5    6        7        8    \
species   sector
cas9_HNAF S_8002  14306.0  13812.0  13329.0  NaN  NaN  14040.0  14247.0

day                   9        10       11    ...       296     297     298  \
species   sector                              ...
cas9_HNAF S_8002  14405.0  14602.0  13980.0   ...    8090.0  7922.0  8297.0

day               299  300     301     302     303     304     305
species   sector
cas9_HNAF S_8002  NaN  NaN  7005.0  7498.0  7399.0  7439.0  8623.0

[1 rows x 304 columns])
33 (('cas9_HNAF', 'S_9002'), day                  2    3    4       5       6       7       8       9    \
species   sector
cas9_HNAF S_9002  9244.0  NaN  NaN  8583.0  8761.0  7902.0  7498.0  7458.0

day               10   11  ...       296  297  298      299      300      301  \
species   sector           ...
cas9_HNAF S_9002  NaN  NaN ...   22998.0  NaN  NaN  21676.0  20472.0  18253.0

day                   302      303  304  305
species   sector
cas9_HNAF S_9002  19890.0  19999.0  NaN  NaN

[1 rows x 304 columns])
34 (('cas9_JAC', 'S_0102'), day              2    3        4        5        6        7        8    9    \
species  sector
cas9_JAC S_0102  NaN  NaN  39364.0  39674.0  39629.0  38527.0  38235.0  NaN

day              10       11  ...   296  297      298      299      300  \
species  sector               ...
cas9_JAC S_0102  NaN  38354.0 ...   NaN  NaN  42332.0  41669.0  41568.0

day                  301      302  303  304  305
species  sector
cas9_JAC S_0102  42433.0  41887.0  NaN  NaN  NaN

[1 rows x 304 columns])
35 (('cas9_JAC', 'S_1102'), day              2        3        4        5        6        7    8    9    \
species  sector
cas9_JAC S_1102  NaN  47586.0  47203.0  46868.0  46667.0  46029.0  NaN  NaN

day                  10       11  ...   296      297      298      299  \
species  sector                   ...
cas9_JAC S_1102  45967.0  45802.0 ...   NaN  42698.0  41075.0  42123.0

day                  300      301  302  303      304  305
species  sector
cas9_JAC S_1102  43080.0  42897.0  NaN  NaN  41476.0  NaN

[1 rows x 304 columns])
36 (('cas9_JAC', 'S_2102'), day              2        3        4        5        6    7    8        9    \
species  sector
cas9_JAC S_2102  NaN  41049.0  40547.0  40148.0  39656.0  NaN  NaN  39656.0

day                  10       11    ...         296      297      298  \
species  sector                     ...
cas9_JAC S_2102  39483.0  39173.0   ...     30840.0  29838.0  30015.0

day                  299      300  301  302  303  304      305
species  sector
cas9_JAC S_2102  29301.0  29930.0  NaN  NaN  NaN  NaN  29811.0

[1 rows x 304 columns])
37 (('cas9_JAC', 'S_3102'), day                  2        3        4    5    6        7        8    \
species  sector
cas9_JAC S_3102  37219.0  37090.0  36394.0  NaN  NaN  35745.0  35189.0

day                  9        10       11  ...       296      297      298  \
species  sector                            ...
cas9_JAC S_3102  35012.0  35141.0  35374.0 ...   30310.0  30480.0  30111.0

day              299  300      301      302      303      304  305
species  sector
cas9_JAC S_3102  NaN  NaN  30686.0  30273.0  30026.0  29828.0  NaN

[1 rows x 304 columns])
38 (('cas9_JAC', 'S_4102'), day                  2        3    4    5        6        7        8    \
species  sector
cas9_JAC S_4102  29837.0  29828.0  NaN  NaN  29921.0  29846.0  29233.0

day                  9        10   11  ...       296      297  298  299  \
species  sector                        ...
cas9_JAC S_4102  29478.0  29393.0  NaN ...   28770.0  28676.0  NaN  NaN

day                  300      301      302      303      304  305
species  sector
cas9_JAC S_4102  28609.0  28136.0  28127.0  28721.0  29308.0  NaN

[1 rows x 304 columns])
39 (('cas9_JAC', 'S_5002'), day              2    3    4    5    6    7    8    9    10   11  ...   296  \
species  sector                                                   ...
cas9_JAC S_5002  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN

day                  297      298      299      300      301  302  303  \
species  sector
cas9_JAC S_5002  32198.0  32234.0  32116.0  31807.0  31497.0  NaN  NaN

day                  304  305
species  sector
cas9_JAC S_5002  32216.0  NaN

[1 rows x 304 columns])

40 (('cas9_JAC', 'S_5102'), day                  2    3    4        5        6        7        8    \
species  sector
cas9_JAC S_5102  30581.0  NaN  NaN  30109.0  29935.0  30013.0  30360.0

day                  9    10   11  ...       296  297  298      299      300  \
species  sector                    ...
cas9_JAC S_5102  29993.0  NaN  NaN ...   30640.0  NaN  NaN  30254.0  28092.0

day                  301      302      303  304  305
species  sector
cas9_JAC S_5102  29191.0  29077.0  28748.0  NaN  NaN

[1 rows x 304 columns])
41 (('cas9_JAC', 'S_6002'), day              2        3        4        5        6    7    8        9    \
species  sector
cas9_JAC S_6002  NaN  36614.0  37380.0  37461.0  38545.0  NaN  NaN  38672.0

day                  10       11  ...       296      297      298      299  \
species  sector                   ...
cas9_JAC S_6002  37671.0  37961.0 ...   50620.0  50529.0  50410.0  51229.0

day                  300  301  302      303      304  305
species  sector
cas9_JAC S_6002  49681.0  NaN  NaN  48926.0  48616.0  NaN

[1 rows x 304 columns])
42 (('cas9_JAC', 'S_6102'), day              2    3        4        5        6        7        8    9    \
species  sector
cas9_JAC S_6102  NaN  NaN  29346.0  29385.0  28835.0  27960.0  27557.0  NaN

day              10       11    ...     296  297      298      299      300  \
species  sector                 ...
cas9_JAC S_6102  NaN  27793.0   ...     NaN  NaN  28971.0  28874.0  27479.0

day                  301      302  303  304      305
species  sector
cas9_JAC S_6102  27655.0  27921.0  NaN  NaN  28225.0

[1 rows x 304 columns])
43 (('cas9_JAC', 'S_7002'), day              2        3        4        5    6    7        8        9    \
species  sector
cas9_JAC S_7002  NaN  51428.0  51075.0  49992.0  NaN  NaN  50273.0  50200.0

day                  10       11  ...       296      297      298      299  \
species  sector                   ...
cas9_JAC S_7002  49516.0  49508.0 ...   47258.0  45775.0  46248.0  45903.0

day              300  301      302      303      304  305
species  sector
cas9_JAC S_7002  NaN  NaN  46711.0  45894.0  46047.0  NaN

[1 rows x 304 columns])
44 (('cas9_JAC', 'S_7102'), day              2        3        4        5        6    7    8        9    \
species  sector
cas9_JAC S_7102  NaN  27930.0  28206.0  28392.0  28068.0  NaN  NaN  28058.0

day                  10       11  ...       296      297      298      299  \
species  sector                   ...
cas9_JAC S_7102  28147.0  28334.0 ...   35900.0  36850.0  36380.0  36880.0

day                  300  301  302      303  304  305
species  sector
cas9_JAC S_7102  37530.0  NaN  NaN  37490.0  NaN  NaN

[1 rows x 304 columns])
45 (('cas9_JAC', 'S_8002'), day                  2        3        4    5    6        7        8    \
species  sector
cas9_JAC S_8002  41632.0  41905.0  40384.0  NaN  NaN  41458.0  40556.0

day                  9        10       11    ...         296      297  \
species  sector                              ...
cas9_JAC S_8002  41386.0  40795.0  39902.0   ...     28409.0  27900.0

day                  298  299  300      301      302      303      304  \
species  sector
cas9_JAC S_8002  24968.0  NaN  NaN  21890.0  25886.0  25733.0  27737.0

day                  305
species  sector
cas9_JAC S_8002  31206.0

[1 rows x 304 columns])
46 (('cas9_JAC', 'S_9002'), day                  2    3    4        5        6        7        8    \
species  sector
cas9_JAC S_9002  28875.0  NaN  NaN  28210.0  29703.0  31551.0  31734.0

day                  9    10   11  ...       296  297  298      299      300  \
species  sector                    ...
cas9_JAC S_9002  30769.0  NaN  NaN ...   35585.0  NaN  NaN  35475.0  34711.0

day                  301      302      303  304  305
species  sector
cas9_JAC S_9002  33919.0  35130.0  34292.0  NaN  NaN

[1 rows x 304 columns])
47 (('cas9_MBI', 'S_0002'), day              2        3        4        5        6        7    8    9    \
species  sector
cas9_MBI S_0002  NaN  96497.0  93277.0  96497.0  94877.0  94461.0  NaN  NaN

day                  10       11    ...     296      297      298      299  \
species  sector                     ...
cas9_MBI S_0002  98161.0  99000.0   ...     NaN  77341.0  76145.0  72963.0

day                  300      301  302  303      304      305
species  sector
cas9_MBI S_0002  77240.0  78024.0  NaN  NaN  77708.0  82041.0

[1 rows x 304 columns])
48 (('cas9_MBI', 'S_0102'), day              2    3         4         5         6         7         8    \
species  sector
cas9_MBI S_0102  NaN  NaN  110590.0  109260.0  108560.0  108190.0  109260.0

day              9    10        11  ...   296  297       298       299  \
species  sector                     ...
cas9_MBI S_0102  NaN  NaN  108120.0 ...   NaN  NaN  116760.0  117460.0

day                   300       301       302  303  304  305
species  sector
cas9_MBI S_0102  118100.0  117650.0  119890.0  NaN  NaN  NaN

[1 rows x 304 columns])
49 (('cas9_MBI', 'S_0791'), day                  2    3    4        5        6        7        8    \
species  sector
cas9_MBI S_0791  15162.0  NaN  NaN  15305.0  15312.0  15330.0  15356.0

day                  9    10   11  ...       296  297  298      299      300  \
species  sector                    ...
cas9_MBI S_0791  15338.0  NaN  NaN ...   12258.0  NaN  NaN  12042.0  12100.0

day                  301      302      303  304  305
species  sector
cas9_MBI S_0791  12324.0  12409.0  12216.0  NaN  NaN

[1 rows x 304 columns])
50 (('cas9_MBI', 'S_0891'), day                  2        3        4    5    6        7        8    \
species  sector
cas9_MBI S_0891  12992.0  13199.0  13179.0  NaN  NaN  13126.0  14001.0

day                  9        10       11    ...         296      297  \
species  sector                              ...
cas9_MBI S_0891  13593.0  14027.0  13927.0   ...     14087.0  13693.0

day                  298  299  300      301      302      303      304  \
species  sector
cas9_MBI S_0891  13854.0  NaN  NaN  13745.0  13854.0  13620.0  13536.0

day                  305
species  sector
cas9_MBI S_0891  13854.0

[1 rows x 304 columns])
51 (('cas9_MBI', 'S_0991'), day                  2        3        4        5    6    7        8    \
species  sector
cas9_MBI S_0991  20383.0  20566.0  20800.0  20743.0  NaN  NaN  20875.0

day                  9        10       11  ...       296      297      298  \
species  sector                            ...
cas9_MBI S_0991  20665.0  20590.0  20767.0 ...   22203.0  22595.0  22488.0

day                  299  300  301      302      303      304  305
species  sector
cas9_MBI S_0991  22230.0  NaN  NaN  22044.0  22119.0  21945.0  NaN

[1 rows x 304 columns])
52 (('cas9_MBI', 'S_1002'), day                  2        3        4        5    6    7        8    \
species  sector
cas9_MBI S_1002  70718.0  78910.0  77708.0  78389.0  NaN  NaN  78024.0

day                  9        10       11  ...       296      297      298  \
species  sector                            ...
cas9_MBI S_1002  77187.0  77915.0  78124.0 ...   88355.0  90657.0  92407.0

day                  299  300  301      302      303      304  305
species  sector
cas9_MBI S_1002  92817.0  NaN  NaN  90705.0  90732.0  90240.0  NaN

[1 rows x 304 columns])
53 (('cas9_MBI', 'S_1102'), day              2         3         4         5         6         7    8    \
species  sector
cas9_MBI S_1102  NaN  123150.0  123280.0  122790.0  124140.0  123520.0  NaN

day              9         10        11  ...   296       297       298  \
species  sector                          ...
cas9_MBI S_1102  NaN  123280.0  122990.0 ...   NaN  153520.0  151930.0

day                   299       300       301  302  303       304  305
species  sector
cas9_MBI S_1102  153280.0  156580.0  157900.0  NaN  NaN  155520.0  NaN

[1 rows x 304 columns])
54 (('cas9_MBI', 'S_1791'), day              2    3        4        5        6        7        8    9    \
species  sector
cas9_MBI S_1791  NaN  NaN  13008.0  13145.0  13216.0  13145.0  13075.0  NaN

day              10       11  ...   296  297      298      299      300  \
species  sector               ...
cas9_MBI S_1791  NaN  12992.0 ...   NaN  NaN  12552.0  12425.0  12339.0

day                  301      302  303  304  305
species  sector
cas9_MBI S_1791  12401.0  12492.0  NaN  NaN  NaN

[1 rows x 304 columns])
55 (('cas9_MBI', 'S_1891'), day                  2    3    4        5        6        7        8    \
species  sector
cas9_MBI S_1891  14372.0  NaN  NaN  14604.0  14863.0  14445.0  14062.0

day                  9    10   11  ...       296  297  298      299      300  \
species  sector                    ...
cas9_MBI S_1891  14001.0  NaN  NaN ...   10605.0  NaN  NaN  10522.0  10555.0

day                  301      302      303  304  305
species  sector
cas9_MBI S_1891  10287.0  10185.0  10705.0  NaN  NaN

[1 rows x 304 columns])

56 (('cas9_MBI', 'S_1991'), day                  2        3        4    5    6        7        8    \
species  sector
cas9_MBI S_1991  23320.0  23397.0  23320.0  NaN  NaN  22928.0  22670.0

day                  9        10       11  ...       296      297      298  \
species  sector                            ...
cas9_MBI S_1991  22230.0  22537.0  22488.0 ...   20483.0  20430.0  20383.0

day              299  300      301      302      303      304  305
species  sector
cas9_MBI S_1991  NaN  NaN  20430.0  20566.0  20851.0  20430.0  NaN

[1 rows x 304 columns])
57 (('cas9_MBI', 'S_2002'), day                   2         3         4    5    6         7         8    \
species  sector
cas9_MBI S_2002  101440.0  103280.0  104870.0  NaN  NaN  103570.0  104140.0

day                   9         10        11  ...       296      297      298  \
species  sector                               ...
cas9_MBI S_2002  103950.0  101990.0  100450.0 ...   62291.0  60206.0  62258.0

day              299  300      301      302      303      304  305
species  sector
cas9_MBI S_2002  NaN  NaN  63928.0  64078.0  65689.0  65916.0  NaN

[1 rows x 304 columns])
58 (('cas9_MBI', 'S_2102'), day              2         3         4         5         6    7    8    \
species  sector
cas9_MBI S_2102  NaN  157580.0  156930.0  156180.0  154390.0  NaN  NaN

day                   9         10        11     ...          296       297  \
species  sector                                  ...
cas9_MBI S_2102  153580.0  153340.0  154200.0    ...     166460.0  163760.0

day                   298       299       300  301  302  303  304       305
species  sector
cas9_MBI S_2102  163310.0  164050.0  165500.0  NaN  NaN  NaN  NaN  166570.0

[1 rows x 304 columns])
59 (('cas9_MBI', 'S_2691'), day                 2       3       4       5    6    7       8       9    \
species  sector
cas9_MBI S_2691  6337.0  6396.0  6329.0  6204.0  NaN  NaN  6087.0  6162.0

day                 10      11  ...      296     297     298     299  300  \
species  sector                 ...
cas9_MBI S_2691  6170.0  6237.0 ...   3657.0  3765.0  3748.0  3674.0  NaN

day              301     302     303     304  305
species  sector
cas9_MBI S_2691  NaN  3816.0  3899.0  3832.0  NaN

[1 rows x 304 columns])
60 (('cas9_MBI', 'S_2791'), day              2        3        4        5        6        7    8    9    \
species  sector
cas9_MBI S_2791  NaN  13845.0  14137.0  14170.0  14170.0  14080.0  NaN  NaN

day                  10       11    ...     296      297      298      299  \
species  sector                     ...
cas9_MBI S_2791  14055.0  14170.0   ...     NaN  16230.0  16183.0  15940.0

day                  300      301  302  303      304      305
species  sector
cas9_MBI S_2791  15690.0  15741.0  NaN  NaN  15780.0  16024.0

[1 rows x 304 columns])
61 (('cas9_MBI', 'S_2891'), day              2    3        4        5        6        7    8    9    10   \
species  sector
cas9_MBI S_2891  NaN  NaN  12107.0  11849.0  11799.0  11799.0  NaN  NaN  NaN

day                  11  ...   296  297      298      299      300      301  \
species  sector          ...
cas9_MBI S_2891  11799.0 ...   NaN  NaN  16634.0  17052.0  16967.0  16558.0

day                  302  303  304  305
species  sector
cas9_MBI S_2891  16609.0  NaN  NaN  NaN

[1 rows x 304 columns])
62 (('cas9_MBI', 'S_2991'), day                  2        3    4    5        6        7        8    \
species  sector
cas9_MBI S_2991  18770.0  18797.0  NaN  NaN  19190.0  19682.0  19213.0

day                  9        10   11  ...       296      297  298  299  \
species  sector                        ...
cas9_MBI S_2991  18977.0  18905.0  NaN ...   14245.0  14380.0  NaN  NaN

day                  300      301      302      303      304  305
species  sector
cas9_MBI S_2991  14037.0  13677.0  13962.0  13729.0  13911.0  NaN

[1 rows x 304 columns])
63 (('cas9_MBI', 'S_3002'), day                  2        3    4    5        6        7        8    \
species  sector
cas9_MBI S_3002  67276.0  68176.0  NaN  NaN  69798.0  71812.0  70298.0

day                  9        10   11  ...       296      297  298  299  \
species  sector                        ...
cas9_MBI S_3002  72646.0  73213.0  NaN ...   73607.0  73831.0  NaN  NaN

day                  300      301      302      303      304  305
species  sector
cas9_MBI S_3002  73916.0  75068.0  74598.0  74418.0  74717.0  NaN

[1 rows x 304 columns])
64 (('cas9_MBI', 'S_3102'), day                   2         3         4    5    6         7         8    \
species  sector
cas9_MBI S_3102  168860.0  167960.0  166830.0  NaN  NaN  166110.0  165880.0

day                   9         10        11  ...        296       297  \
species  sector                               ...
cas9_MBI S_3102  165400.0  165890.0  167240.0 ...   153280.0  155060.0

day                   298  299  300       301       302       303       304  \
species  sector
cas9_MBI S_3102  154220.0  NaN  NaN  154640.0  158820.0  157100.0  157120.0

day              305
species  sector
cas9_MBI S_3102  NaN

[1 rows x 304 columns])
65 (('cas9_MBI', 'S_3691'), day                 2       3       4    5    6       7       8       9    \
species  sector
cas9_MBI S_3691  4266.0  4392.0  4400.0  NaN  NaN  4366.0  4475.0  4475.0

day                 10      11  ...      296     297     298  299  300  \
species  sector                 ...
cas9_MBI S_3691  4508.0  4517.0 ...   5352.0  5377.0  5469.0  NaN  NaN

day                 301     302     303     304  305
species  sector
cas9_MBI S_3691  5511.0  5444.0  5369.0  5477.0  NaN

[1 rows x 304 columns])
66 (('cas9_MBI', 'S_3791'), day                  2        3        4        5    6    7        8    \
species  sector
cas9_MBI S_3791  17000.0  17008.0  17117.0  17409.0  NaN  NaN  17409.0

day                  9        10       11  ...       296      297      298  \
species  sector                            ...
cas9_MBI S_3791  17352.0  17102.0  17260.0 ...   14863.0  14939.0  15013.0

day                  299  300  301      302      303      304  305
species  sector
cas9_MBI S_3791  14840.0  NaN  NaN  14804.0  14472.0  14561.0  NaN

[1 rows x 304 columns])
67 (('cas9_MBI', 'S_3891'), day              2        3        4        5        6        7    8    9    \
species  sector
cas9_MBI S_3891  NaN  19339.0  19881.0  19956.0  20301.0  20090.0  NaN  NaN

day                  10       11  ...   296      297      298      299  \
species  sector                   ...
cas9_MBI S_3891  20375.0  20375.0 ...   NaN  26662.0  26721.0  26613.0

day                  300      301  302  303      304  305
species  sector
cas9_MBI S_3891  26904.0  26613.0  NaN  NaN  26353.0  NaN

[1 rows x 304 columns])
68 (('cas9_MBI', 'S_3991'), day              2    3        4        5       6       7       8    9    10   \
species  sector
cas9_MBI S_3991  NaN  NaN  10431.0  10162.0  9987.0  9777.0  9670.0  NaN  NaN

day                 11  ...   296  297     298     299     300     301  \
species  sector         ...
cas9_MBI S_3991  9929.0 ...   NaN  NaN  9336.0  9619.0  9570.0  9517.0

day                 302  303  304  305
species  sector
cas9_MBI S_3991  9570.0  NaN  NaN  NaN

[1 rows x 304 columns])
69 (('cas9_MBI', 'S_4002'), day                  2    3    4        5        6        7        8    \
species  sector
cas9_MBI S_4002  76445.0  NaN  NaN  77699.0  77708.0  77473.0  77690.0

day                  9    10   11  ...       296  297  298      299      300  \
species  sector                    ...
cas9_MBI S_4002  76161.0  NaN  NaN ...   72971.0  NaN  NaN  73841.0  74317.0

day                  301      302      303  304  305
species  sector
cas9_MBI S_4002  75154.0  74732.0  74944.0  NaN  NaN

[1 rows x 304 columns])
70 (('cas9_MBI', 'S_4102'), day                   2         3    4    5         6         7         8    \
species  sector
cas9_MBI S_4102  162650.0  163620.0  NaN  NaN  163070.0  166330.0  164800.0

day                   9         10   11  ...        296       297  298  299  \
species  sector                          ...
cas9_MBI S_4102  164290.0  164170.0  NaN ...   144650.0  144570.0  NaN  NaN

day                   300       301       302       303       304  305
species  sector
cas9_MBI S_4102  144380.0  145910.0  145790.0  146580.0  146630.0  NaN

[1 rows x 304 columns])

71 (('cas9_MBI', 'S_4691'), day                 2       3    4    5       6       7       8       9    \
species  sector
cas9_MBI S_4691  5728.0  5652.0  NaN  NaN  5669.0  5627.0  5686.0  5861.0

day                 10   11  ...      296     297  298  299     300     301  \
species  sector              ...
cas9_MBI S_4691  5911.0  NaN ...   5861.0  5836.0  NaN  NaN  5753.0  5769.0

day                 302     303     304  305
species  sector
cas9_MBI S_4691  5803.0  5828.0  5820.0  NaN

[1 rows x 304 columns])
72 (('cas9_MBI', 'S_4791'), day                  2        3        4    5    6        7        8    \
species  sector
cas9_MBI S_4791  12615.0  12433.0  11989.0  NaN  NaN  11807.0  11849.0

day                  9        10       11  ...      296     297     298  299  \
species  sector                            ...
cas9_MBI S_4791  11832.0  11898.0  12465.0 ...   9460.0  9418.0  9211.0  NaN

day              300     301     302      303     304  305
species  sector
cas9_MBI S_4791  NaN  9391.0  9962.0  10029.0  9828.0  NaN

[1 rows x 304 columns])
73 (('cas9_MBI', 'S_4891'), day              2        3        4        5        6    7    8        9    \
species  sector
cas9_MBI S_4891  NaN  25319.0  25760.0  25835.0  25677.0  NaN  NaN  25627.0

day                  10       11    ...         296      297      298  \
species  sector                     ...
cas9_MBI S_4891  25418.0  25418.0   ...     26145.0  26327.0  26353.0

day                  299      300  301  302      303      304      305
species  sector
cas9_MBI S_4891  25995.0  25813.0  NaN  NaN  25967.0  26353.0  25910.0

[1 rows x 304 columns])
74 (('cas9_MBI', 'S_4991'), day              2        3        4        5        6        7    8    9    \
species  sector
cas9_MBI S_4991  NaN  11982.0  12275.0  12375.0  12165.0  12250.0  NaN  NaN

day                  10       11  ...   296      297      298      299  \
species  sector                   ...
cas9_MBI S_4991  12324.0  12192.0 ...   NaN  15179.0  15363.0  15470.0

day                  300      301  302  303      304  305
species  sector
cas9_MBI S_4991  15423.0  15832.0  NaN  NaN  15498.0  NaN

[1 rows x 304 columns])
75 (('cas9_MBI', 'S_5002'), day              2        3        4        5        6        7    8    9    \
species  sector
cas9_MBI S_5002  NaN  81622.0  80746.0  80581.0  80328.0  79979.0  NaN  NaN

day                  10       11  ...   296      297      298      299  \
species  sector                   ...
cas9_MBI S_5002  79892.0  79326.0 ...   NaN  69697.0  69606.0  69190.0

day                  300      301  302  303      304  305
species  sector
cas9_MBI S_5002  68731.0  67987.0  NaN  NaN  68371.0  NaN

[1 rows x 304 columns])
76 (('cas9_MBI', 'S_5102'), day                   2    3    4         5         6         7         8    \
species  sector
cas9_MBI S_5102  145540.0  NaN  NaN  143240.0  140140.0  139230.0  142260.0

day                   9    10   11  ...        296  297  298       299  \
species  sector                     ...
cas9_MBI S_5102  142880.0  NaN  NaN ...   132920.0  NaN  NaN  131970.0

day                   300       301       302       303  304  305
species  sector
cas9_MBI S_5102  126660.0  129389.0  129110.0  128699.0  NaN  NaN

[1 rows x 304 columns])
77 (('cas9_MBI', 'S_5691'), day              2    3       4       5       6       7       8    9    10   \
species  sector
cas9_MBI S_5691  NaN  NaN  5611.0  5602.0  5661.0  5786.0  5886.0  NaN  NaN

day                 11  ...   296  297     298     299     300     301  \
species  sector         ...
cas9_MBI S_5691  5853.0 ...   NaN  NaN  7306.0  7256.0  7348.0  7364.0

day                 302  303  304  305
species  sector
cas9_MBI S_5691  7381.0  NaN  NaN  NaN

[1 rows x 304 columns])
78 (('cas9_MBI', 'S_5791'), day                 2       3    4    5       6       7       8       9    \
species  sector
cas9_MBI S_5791  8775.0  8701.0  NaN  NaN  8659.0  8608.0  8483.0  8759.0

day                 10   11  ...       296      297  298  299      300  \
species  sector              ...
cas9_MBI S_5791  8902.0  NaN ...   11190.0  10865.0  NaN  NaN  10972.0

day                  301      302      303      304  305
species  sector
cas9_MBI S_5791  11173.0  10963.0  10972.0  11029.0  NaN

[1 rows x 304 columns])
79 (('cas9_MBI', 'S_5891'), day                  2        3        4    5    6        7        8    \
species  sector
cas9_MBI S_5891  25160.0  24952.0  24900.0  NaN  NaN  25034.0  24900.0

day                  9        10       11  ...       296      297      298  \
species  sector                            ...
cas9_MBI S_5891  25034.0  25732.0  25526.0 ...   27136.0  26745.0  26613.0

day              299  300      301      302      303      304  305
species  sector
cas9_MBI S_5891  NaN  NaN  26904.0  27136.0  27263.0  27006.0  NaN

[1 rows x 304 columns])
80 (('cas9_MBI', 'S_5991'), day              2        3        4        5        6    7    8        9    \
species  sector
cas9_MBI S_5991  NaN  15338.0  15470.0  15390.0  15624.0  NaN  NaN  15707.0

day                  10       11  ...       296      297      298      299  \
species  sector                   ...
cas9_MBI S_5991  15940.0  15806.0 ...   20590.0  20383.0  20000.0  19940.0

day                  300  301  302      303      304  305
species  sector
cas9_MBI S_5991  20073.0  NaN  NaN  20439.0  20232.0  NaN

[1 rows x 304 columns])
81 (('cas9_MBI', 'S_6002'), day              2        3        4        5        6    7    8        9    \
species  sector
cas9_MBI S_6002  NaN  68523.0  68430.0  68890.0  70935.0  NaN  NaN  69916.0

day                  10       11  ...       296      297      298      299  \
species  sector                   ...
cas9_MBI S_6002  70200.0  70283.0 ...   76455.0  76393.0  76679.0  76437.0

day                  300  301  302      303      304  305
species  sector
cas9_MBI S_6002  75785.0  NaN  NaN  76402.0  77095.0  NaN

[1 rows x 304 columns])
82 (('cas9_MBI', 'S_6102'), day              2    3         4         5         6         7         8    \
species  sector
cas9_MBI S_6102  NaN  NaN  126060.0  125970.0  125350.0  123210.0  122060.0

day              9    10        11     ...     296  297       298       299  \
species  sector                        ...
cas9_MBI S_6102  NaN  NaN  123550.0    ...     NaN  NaN  143650.0  143930.0

day                   300       301       302  303  304       305
species  sector
cas9_MBI S_6102  144830.0  146300.0  145590.0  NaN  NaN  146630.0

[1 rows x 304 columns])
83 (('cas9_MBI', 'S_6691'), day              2       3       4       5       6       7    8    9    \
species  sector
cas9_MBI S_6691  NaN  6838.0  6813.0  6864.0  6897.0  6897.0  NaN  NaN

day                 10      11  ...   296     297     298     299     300  \
species  sector                 ...
cas9_MBI S_6691  6872.0  6897.0 ...   NaN  6688.0  6847.0  6847.0  6922.0

day                 301  302  303     304  305
species  sector
cas9_MBI S_6691  6955.0  NaN  NaN  6897.0  NaN

[1 rows x 304 columns])
84 (('cas9_MBI', 'S_6791'), day                  2    3    4        5        6        7        8    \
species  sector
cas9_MBI S_6791  11774.0  NaN  NaN  11950.0  11915.0  11874.0  11975.0

day                  9    10   11  ...       296  297  298      299      300  \
species  sector                    ...
cas9_MBI S_6791  12014.0  NaN  NaN ...   13325.0  NaN  NaN  13485.0  13693.0

day                  301      302      303  304  305
species  sector
cas9_MBI S_6791  13819.0  13845.0  14118.0  NaN  NaN

[1 rows x 304 columns])
85 (('cas9_MBI', 'S_6891'), day                  2        3    4    5        6        7        8    \
species  sector
cas9_MBI S_6891  31603.0  32095.0  NaN  NaN  32095.0  32357.0  30954.0

day                  9        10   11  ...       296      297  298  299  \
species  sector                        ...
cas9_MBI S_6891  31270.0  30877.0  NaN ...   25265.0  25241.0  NaN  NaN

day                  300      301      302      303      304  305
species  sector
cas9_MBI S_6891  25392.0  25109.0  25133.0  25365.0  25712.0  NaN

[1 rows x 304 columns])

86 (('cas9_MBI', 'S_6991'), day                  2        3        4        5    6    7        8    \
species  sector
cas9_MBI S_6991  18905.0  18563.0  18069.0  18437.0  NaN  NaN  18535.0

day                  9        10       11    ...         296      297  \
species  sector                              ...
cas9_MBI S_6991  18044.0  18145.0  18145.0   ...     26421.0  26888.0

day                  298      299  300  301      302      303      304  \
species  sector
cas9_MBI S_6991  26494.0  26311.0  NaN  NaN  26494.0  26127.0  26285.0

day                  305
species  sector
cas9_MBI S_6991  26837.0

[1 rows x 304 columns])
87 (('cas9_MBI', 'S_7002'), day              2        3        4        5    6    7        8        9    \
species  sector
cas9_MBI S_7002  NaN  81220.0  82089.0  81347.0  NaN  NaN  82584.0  83561.0

day                  10       11  ...       296      297      298      299  \
species  sector                   ...
cas9_MBI S_7002  82575.0  82377.0 ...   95753.0  94319.0  94205.0  94962.0

day              300  301      302      303      304  305
species  sector
cas9_MBI S_7002  NaN  NaN  95842.0  95295.0  96949.0  NaN

[1 rows x 304 columns])
88 (('cas9_MBI', 'S_7102'), day              2         3         4         5         6    7    8    \
species  sector
cas9_MBI S_7102  NaN  160950.0  162940.0  162410.0  163200.0  NaN  NaN

day                   9         10        11  ...        296       297  \
species  sector                               ...
cas9_MBI S_7102  161390.0  159340.0  161490.0 ...   157970.0  154340.0

day                   298       299       300  301  302       303  304  305
species  sector
cas9_MBI S_7102  151980.0  152080.0  152160.0  NaN  NaN  152830.0  NaN  NaN

[1 rows x 304 columns])
89 (('cas9_MBI', 'S_7691'), day              2       3       4       5       6    7    8       9    \
species  sector
cas9_MBI S_7691  NaN  7665.0  7581.0  7657.0  7857.0  NaN  NaN  8024.0

day                 10      11  ...       296      297      298      299  \
species  sector                 ...
cas9_MBI S_7691  8082.0  8191.0 ...   12275.0  12258.0  12242.0  12349.0

day                  300  301  302      303      304  305
species  sector
cas9_MBI S_7691  12417.0  NaN  NaN  12401.0  12333.0  NaN

[1 rows x 304 columns])
90 (('cas9_MBI', 'S_7791'), day              2        3        4        5        6        7    8    9    \
species  sector
cas9_MBI S_7791  NaN  14372.0  14187.0  14238.0  14238.0  14137.0  NaN  NaN

day                  10       11  ...   296      297      298      299  \
species  sector                   ...
cas9_MBI S_7791  14094.0  13978.0 ...   NaN  13445.0  13367.0  13536.0

day                  300      301  302  303      304  305
species  sector
cas9_MBI S_7791  13529.0  13450.0  NaN  NaN  13367.0  NaN

[1 rows x 304 columns])
91 (('cas9_MBI', 'S_7891'), day                  2    3    4        5        6        7        8    \
species  sector
cas9_MBI S_7891  25365.0  NaN  NaN  25712.0  25576.0  25685.0  25552.0

day                  9    10   11  ...       296  297  298      299      300  \
species  sector                    ...
cas9_MBI S_7891  25418.0  NaN  NaN ...   25109.0  NaN  NaN  23288.0  24541.0

day                  301      302      303  304  305
species  sector
cas9_MBI S_7891  24541.0  25008.0  25474.0  NaN  NaN

[1 rows x 304 columns])
92 (('cas9_MBI', 'S_7991'), day                  2        3    4    5        6        7        8    \
species  sector
cas9_MBI S_7991  31881.0  33100.0  NaN  NaN  33544.0  33984.0  33260.0

day                  9        10   11  ...       296      297  298  299  \
species  sector                        ...
cas9_MBI S_7991  33676.0  33909.0  NaN ...   41761.0  40774.0  NaN  NaN

day                  300      301      302      303      304  305
species  sector
cas9_MBI S_7991  37443.0  41342.0  40875.0  39864.0  40983.0  NaN

[1 rows x 304 columns])
93 (('cas9_MBI', 'S_8002'), day                  2        3        4    5    6        7        8    \
species  sector
cas9_MBI S_8002  87417.0  87592.0  84445.0  NaN  NaN  83542.0  81488.0

day                  9        10       11    ...         296      297  \
species  sector                              ...
cas9_MBI S_8002  82089.0  83435.0  81555.0   ...     69806.0  70433.0

day                  298  299  300      301      302      303      304  \
species  sector
cas9_MBI S_8002  68532.0  NaN  NaN  66517.0  72878.0  73650.0  75727.0

day                  305
species  sector
cas9_MBI S_8002  77631.0

[1 rows x 304 columns])
94 (('cas9_MBI', 'S_8691'), day                  2        3        4        5    6    7        8    \
species  sector
cas9_MBI S_8691  12751.0  12591.0  12232.0  12324.0  NaN  NaN  12417.0

day                  9        10       11    ...         296  297      298  \
species  sector                              ...
cas9_MBI S_8691  12442.0  12552.0  12660.0   ...     13469.0  NaN  13216.0

day                  299  300  301      302      303  304      305
species  sector
cas9_MBI S_8691  13170.0  NaN  NaN  13035.0  12869.0  NaN  12759.0

[1 rows x 304 columns])
95 (('cas9_MBI', 'S_8791'), day              2        3        4        5        6    7    8        9    \
species  sector
cas9_MBI S_8791  NaN  13970.0  14071.0  13869.0  13878.0  NaN  NaN  13970.0

day                  10       11  ...       296      297      298      299  \
species  sector                   ...
cas9_MBI S_8791  13878.0  13827.0 ...   14445.0  14286.0  14230.0  14170.0

day                  300  301  302      303      304  305
species  sector
cas9_MBI S_8791  14001.0  NaN  NaN  14187.0  13735.0  NaN

[1 rows x 304 columns])
96 (('cas9_MBI', 'S_8891'), day              2    3        4        5        6        7        8    9    \
species  sector
cas9_MBI S_8891  NaN  NaN  25109.0  25344.0  25552.0  25660.0  23891.0  NaN

day              10       11    ...     296  297      298      299      300  \
species  sector                 ...
cas9_MBI S_8891  NaN  24480.0   ...     NaN  NaN  25601.0  25552.0  25291.0

day                  301      302  303  304      305
species  sector
cas9_MBI S_8891  25008.0  25109.0  NaN  NaN  25503.0

[1 rows x 304 columns])
97 (('cas9_MBI', 'S_8991'), day                  2    3    4        5        6        7        8    \
species  sector
cas9_MBI S_8991  43946.0  NaN  NaN  44279.0  43787.0  43370.0  43347.0

day                  9    10   11  ...       296  297  298      299      300  \
species  sector                    ...
cas9_MBI S_8991  41626.0  NaN  NaN ...   58893.0  NaN  NaN  59519.0  60062.0

day                  301      302      303  304  305
species  sector
cas9_MBI S_8991  60821.0  61883.0  61784.0  NaN  NaN

[1 rows x 304 columns])
98 (('cas9_MBI', 'S_9002'), day                  2    3    4        5        6        7        8    \
species  sector
cas9_MBI S_9002  72956.0  NaN  NaN  72496.0  74508.0  73306.0  72795.0

day                  9    10   11  ...        296  297  298       299  \
species  sector                    ...
cas9_MBI S_9002  70726.0  NaN  NaN ...   100490.0  NaN  NaN  100300.0

day                   300       301       302       303  304  305
species  sector
cas9_MBI S_9002  100740.0  101440.0  102590.0  100710.0  NaN  NaN

[1 rows x 304 columns])
99 (('cas9_MBI', 'S_9691'), day                  2        3    4    5        6        7        8    \
species  sector
cas9_MBI S_9691  13045.0  12969.0  NaN  NaN  12575.0  12615.0  12715.0

day                  9        10   11  ...       296      297  298  299  \
species  sector                        ...
cas9_MBI S_9691  12886.0  12706.0  NaN ...   14822.0  15132.0  NaN  NaN

day                  300      301      302      303      304  305
species  sector
cas9_MBI S_9691  15106.0  15020.0  14804.0  14947.0  14990.0  NaN

[1 rows x 304 columns])
100 (('cas9_MBI', 'S_9791'), day                  2        3        4        5    6    7        8    \
species  sector
cas9_MBI S_9791  15770.0  15931.0  15850.0  15898.0  NaN  NaN  15823.0

day                  9        10       11  ...       296      297      298  \
species  sector                            ...
cas9_MBI S_9791  15898.0  15874.0  16190.0 ...   13045.0  12992.0  12917.0

day                  299  300  301      302      303      304  305
species  sector
cas9_MBI S_9791  12944.0  NaN  NaN  12992.0  13304.0  12969.0  NaN

[1 rows x 304 columns])

101 (('cas9_MBI', 'S_9891'), day              2        3        4        5        6    7    8        9    \
species  sector
cas9_MBI S_9891  NaN  25166.0  25474.0  25427.0  25344.0  NaN  NaN  25365.0

day                  10       11  ...       296      297      298      299  \
species  sector                   ...
cas9_MBI S_9891  25193.0  25427.0 ...   21525.0  21415.0  21186.0  20949.0

day                  300  301  302      303      304  305
species  sector
cas9_MBI S_9891  20767.0  NaN  NaN  20691.0  20851.0  NaN

[1 rows x 304 columns])
102 (('cas9_MBI', 'S_9991'), day              2    3        4        5        6        7        8    9    \
species  sector
cas9_MBI S_9991  NaN  NaN  76138.0  78892.0  78525.0  79126.0  78033.0  NaN

day              10       11  ...   296  297      298      299      300  \
species  sector               ...
cas9_MBI S_9991  NaN  78735.0 ...   NaN  NaN  78106.0  79460.0  77378.0

day                  301      302  303  304  305
species  sector
cas9_MBI S_9991  78991.0  81749.0  NaN  NaN  NaN

[1 rows x 304 columns])
103 (('cas9_NIAG', 'S_0102'), day               2    3       4       5       6       7       8    9    10   \
species   sector
cas9_NIAG S_0102  NaN  NaN  2631.0  2599.0  2593.0  2664.0  2642.0  NaN  NaN

day                  11  ...   296  297     298     299     300     301  \
species   sector         ...
cas9_NIAG S_0102  2620.0 ...   NaN  NaN  3999.0  4021.0  3966.0  3950.0

day                  302  303  304  305
species   sector
cas9_NIAG S_0102  3969.0  NaN  NaN  NaN

[1 rows x 304 columns])
104 (('cas9_NIAG', 'S_1102'), day               2       3       4       5       6       7    8    9    \
species   sector
cas9_NIAG S_1102  NaN  4266.0  4179.0  4223.0  4206.0  4146.0  NaN  NaN

day                  10      11  ...   296     297     298     299     300  \
species   sector                 ...
cas9_NIAG S_1102  4179.0  4282.0 ...   NaN  4289.0  4151.0  4265.0  4375.0

day                  301  302  303     304  305
species   sector
cas9_NIAG S_1102  4324.0  NaN  NaN  4294.0  NaN

[1 rows x 304 columns])
105 (('cas9_NIAG', 'S_2102'), day               2       3       4       5       6    7    8       9    \
species   sector
cas9_NIAG S_2102  NaN  4255.0  4237.0  4249.0  4270.0  NaN  NaN  4377.0

day                  10      11    ...       296     297     298     299  \
species   sector                   ...
cas9_NIAG S_2102  4388.0  4375.0   ...    4633.0  4621.0  4602.0  4640.0

day                  300  301  302  303  304     305
species   sector
cas9_NIAG S_2102  4596.0  NaN  NaN  NaN  NaN  4578.0

[1 rows x 304 columns])
106 (('cas9_NIAG', 'S_3102'), day                  2       3       4    5    6       7       8       9    \
species   sector
cas9_NIAG S_3102  4488.0  4475.0  4538.0  NaN  NaN  4557.0  4475.0  4538.0

day                  10      11  ...      296     297     298  299  300  \
species   sector                 ...
cas9_NIAG S_3102  4576.0  4601.0 ...   4890.0  4896.0  4882.0  NaN  NaN

day                  301     302     303     304  305
species   sector
cas9_NIAG S_3102  4876.0  4896.0  4869.0  4761.0  NaN

[1 rows x 304 columns])
107 (('cas9_NIAG', 'S_4102'), day                  2       3    4    5       6       7       8       9    \
species   sector
cas9_NIAG S_4102  5541.0  5527.0  NaN  NaN  5541.0  5437.0  5547.0  5555.0

day                  10   11  ...      296     297  298  299     300     301  \
species   sector              ...
cas9_NIAG S_4102  5547.0  NaN ...   5415.0  5423.0  NaN  NaN  5415.0  5430.0

day                  302     303     304  305
species   sector
cas9_NIAG S_4102  5438.0  5423.0  5475.0  NaN

[1 rows x 304 columns])
108 (('cas9_NIAG', 'S_5002'), day               2    3    4    5    6    7    8    9    10   11  ...   296  \
species   sector                                                   ...
cas9_NIAG S_5002  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN

day                  297     298     299     300     301  302  303     304  \
species   sector
cas9_NIAG S_5002  7806.0  7627.0  7592.0  7540.0  7627.0  NaN  NaN  7743.0

day               305
species   sector
cas9_NIAG S_5002  NaN

[1 rows x 304 columns])
109 (('cas9_NIAG', 'S_5102'), day                  2    3    4       5       6       7       8       9    \
species   sector
cas9_NIAG S_5102  5425.0  NaN  NaN  5540.0  5525.0  5540.0  5601.0  5586.0

day               10   11  ...      296  297  298     299     300     301  \
species   sector           ...
cas9_NIAG S_5102  NaN  NaN ...   6263.0  NaN  NaN  6254.0  6196.0  6246.0

day                  302     303  304  305
species   sector
cas9_NIAG S_5102  6329.0  6196.0  NaN  NaN

[1 rows x 304 columns])
110 (('cas9_NIAG', 'S_6002'), day               2       3       4       5       6    7    8       9    \
species   sector
cas9_NIAG S_6002  NaN  7592.0  7633.0  7552.0  7540.0  NaN  NaN  7585.0

day                  10      11  ...      296     297     298     299     300  \
species   sector                 ...
cas9_NIAG S_6002  7673.0  7967.0 ...   8026.0  7995.0  7950.0  8037.0  7982.0

day               301  302     303     304  305
species   sector
cas9_NIAG S_6002  NaN  NaN  8043.0  7982.0  NaN

[1 rows x 304 columns])
111 (('cas9_NIAG', 'S_6102'), day               2    3       4       5       6       7       8    9    10   \
species   sector
cas9_NIAG S_6102  NaN  NaN  6687.0  6653.0  6662.0  6443.0  6552.0  NaN  NaN

day                  11    ...    296  297     298     299     300     301  \
species   sector           ...
cas9_NIAG S_6102  6502.0   ...    NaN  NaN  8067.0  8067.0  7857.0  7875.0

day                  302  303  304     305
species   sector
cas9_NIAG S_6102  7948.0  NaN  NaN  7802.0

[1 rows x 304 columns])
112 (('cas9_NIAG', 'S_7002'), day               2       3       4       5    6    7       8       9    \
species   sector
cas9_NIAG S_7002  NaN  8501.0  8460.0  8315.0  NaN  NaN  8440.0  8413.0

day                  10      11  ...      296     297     298     299  300  \
species   sector                 ...
cas9_NIAG S_7002  8452.0  8565.0 ...   6822.0  6898.0  6810.0  6685.0  NaN

day               301     302     303     304  305
species   sector
cas9_NIAG S_7002  NaN  6604.0  6631.0  6680.0  NaN

[1 rows x 304 columns])
113 (('cas9_NIAG', 'S_7102'), day               2       3       4       5       6    7    8       9    \
species   sector
cas9_NIAG S_7102  NaN  7985.0  8134.0  8143.0  7948.0  NaN  NaN  7920.0

day                  10      11  ...       296      297      298      299  \
species   sector                 ...
cas9_NIAG S_7102  8004.0  7976.0 ...   10270.0  10320.0  10150.0  10190.0

day                   300  301  302      303  304  305
species   sector
cas9_NIAG S_7102  10270.0  NaN  NaN  10120.0  NaN  NaN

[1 rows x 304 columns])
114 (('cas9_NIAG', 'S_8002'), day                  2       3       4    5    6       7       8       9    \
species   sector
cas9_NIAG S_8002  5400.0  5471.0  5400.0  NaN  NaN  5421.0  5301.0  5165.0

day                  10      11    ...       296     297     298  299  300  \
species   sector                   ...
cas9_NIAG S_8002  5285.0  5481.0   ...    2599.0  2615.0  2310.0  NaN  NaN

day                  301     302     303     304     305
species   sector
cas9_NIAG S_8002  2419.0  2648.0  2479.0  2566.0  3035.0

[1 rows x 304 columns])
115 (('cas9_NIAG', 'S_9002'), day                  2    3    4       5       6       7       8       9    \
species   sector
cas9_NIAG S_9002  2800.0  NaN  NaN  2920.0  2914.0  2925.0  3187.0  2697.0

day               10   11  ...      296  297  298     299     300     301  \
species   sector           ...
cas9_NIAG S_9002  NaN  NaN ...   2680.0  NaN  NaN  2691.0  2713.0  2697.0

day                  302     303  304  305
species   sector
cas9_NIAG S_9002  2746.0  2751.0  NaN  NaN

[1 rows x 304 columns])
116 (('cas9_VBBA', 'S_3102'), day               2    3        4    5    6        7        8        9    \
species   sector
cas9_VBBA S_3102  NaN  NaN  28810.0  NaN  NaN  28869.0  28241.0  28399.0

day                   10       11  ...       296      297      298  299  300  \
species   sector                   ...
cas9_VBBA S_3102  28480.0  28695.0 ...   42105.0  41758.0  42951.0  NaN  NaN

day                   301      302      303      304  305
species   sector
cas9_VBBA S_3102  43055.0  43376.0  42516.0  42211.0  NaN

[1 rows x 304 columns])

117 (('cas9_VBBA', 'S_4102'), day                   2        3    4    5        6        7        8    \
species   sector
cas9_VBBA S_4102  45285.0  45563.0  NaN  NaN  43900.0  43988.0  43873.0

day                   9        10   11  ...       296      297  298  299  \
species   sector                        ...
cas9_VBBA S_4102  44623.0  44343.0  NaN ...   53528.0  54222.0  NaN  NaN

day                   300      301      302      303      304  305
species   sector
cas9_VBBA S_4102  54398.0  54798.0  53943.0  55020.0  57071.0  NaN

[1 rows x 304 columns])
118 (('cas9_VBBA', 'S_5102'), day                   2    3    4        5        6        7        8    \
species   sector
cas9_VBBA S_5102  59258.0  NaN  NaN  58140.0  57854.0  60193.0  60821.0

day                   9    10   11  ...       296  297  298      299      300  \
species   sector                    ...
cas9_VBBA S_5102  59159.0  NaN  NaN ...   46761.0  NaN  NaN  48181.0  48840.0

day                   301      302      303  304  305
species   sector
cas9_VBBA S_5102  49472.0  50253.0  55313.0  NaN  NaN

[1 rows x 304 columns])
119 (('cas9_VBBA', 'S_6102'), day               2    3        4        5        6        7        8    9    \
species   sector
cas9_VBBA S_6102  NaN  NaN  53513.0  53291.0  53301.0  53141.0  51692.0  NaN

day               10       11    ...     296  297      298      299      300  \
species   sector                 ...
cas9_VBBA S_6102  NaN  50049.0   ...     NaN  NaN  58968.0  59383.0  58871.0

day                   301      302  303  304      305
species   sector
cas9_VBBA S_6102  59296.0  55571.0  NaN  NaN  53817.0

[1 rows x 304 columns])
120 (('cas9_VBBA', 'S_7102'), day               2        3        4        5        6    7    8        9    \
species   sector
cas9_VBBA S_7102  NaN  60213.0  61062.0  61525.0  61545.0  NaN  NaN  61950.0

day                   10       11  ...       296      297      298      299  \
species   sector                   ...
cas9_VBBA S_7102  61813.0  59583.0 ...   94510.0  91690.0  91770.0  89560.0

day                   300  301  302      303  304  305
species   sector
cas9_VBBA S_7102  91930.0  NaN  NaN  90960.0  NaN  NaN

[1 rows x 304 columns])
121 (('cas9_XGAJ', 'S_5102'), day               2    3    4    5    6    7    8    9    10   11  ...   \
species   sector                                                   ...
cas9_XGAJ S_5102  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...

day                  296  297  298     299     300     301     302     303  \
species   sector
cas9_XGAJ S_5102  2110.0  NaN  NaN  1960.0  2100.0  2750.0  3850.0  3680.0

day               304  305
species   sector
cas9_XGAJ S_5102  NaN  NaN

[1 rows x 304 columns])
122 (('cas9_XGAJ', 'S_6102'), day               2    3       4       5       6       7       8    9    10   \
species   sector
cas9_XGAJ S_6102  NaN  NaN  2370.0  2390.0  2450.0  2480.0  2580.0  NaN  NaN

day                  11   ...    296  297    298    299    300    301    302  \
species   sector          ...
cas9_XGAJ S_6102  2810.0  ...    NaN  NaN  870.0  900.0  910.0  945.0  920.0

day               303  304    305
species   sector
cas9_XGAJ S_6102  NaN  NaN  940.0

[1 rows x 304 columns])
123 (('cas9_XGAJ', 'S_7102'), day               2      3      4      5      6    7    8      9      10   \
species   sector
cas9_XGAJ S_7102  NaN  670.0  670.0  680.0  650.0  NaN  NaN  660.0  640.0

day                 11  ...     296    297    298    299    300  301  302  \
species   sector        ...
cas9_XGAJ S_7102  665.0 ...   190.0  200.0  193.0  185.0  184.0  NaN  NaN

day                 303  304  305
species   sector
cas9_XGAJ S_7102  182.0  NaN  NaN

[1 rows x 304 columns])
124 (('cas9_XWAH', 'S_7102'), day               2        3        4        5        6    7    8        9    \
species   sector
cas9_XWAH S_7102  NaN  23108.0  23266.0  23285.0  23261.0  NaN  NaN  23217.0

day                   10       11  ...       296      297      298  299  \
species   sector                   ...
cas9_XWAH S_7102  23261.0  23353.0 ...   26660.0  26700.0  26600.0  NaN

day                   300  301  302      303  304  305
species   sector
cas9_XWAH S_7102  26850.0  NaN  NaN  26775.0  NaN  NaN

[1 rows x 304 columns])
125 (('cas9_YABE', 'S_0002'), day               2       3       4       5       6       7    8    9    \
species   sector
cas9_YABE S_0002  NaN  7432.0  6734.0  7184.0  7096.0  7087.0  NaN  NaN

day                  10      11    ...    296     297     298     299     300  \
species   sector                   ...
cas9_YABE S_0002  7483.0  7323.0   ...    NaN  6266.0  5690.0  5690.0  5521.0

day                  301  302  303     304     305
species   sector
cas9_YABE S_0002  5408.0  NaN  NaN  5181.0  5420.0

[1 rows x 304 columns])
126 (('cas9_YABE', 'S_0102'), day               2    3        4       5       6       7       8    9    10   \
species   sector
cas9_YABE S_0102  NaN  NaN  10059.0  9954.0  9891.0  9777.0  9895.0  NaN  NaN

day                  11  ...   296  297      298      299      300      301  \
species   sector         ...
cas9_YABE S_0102  9870.0 ...   NaN  NaN  11755.0  12100.0  12323.0  12508.0

day                   302  303  304  305
species   sector
cas9_YABE S_0102  12567.0  NaN  NaN  NaN

[1 rows x 304 columns])
127 (('cas9_YABE', 'S_1002'), day                  2       3       4       5    6    7       8       9    \
species   sector
cas9_YABE S_1002  3177.0  4141.0  3724.0  3215.0  NaN  NaN  3223.0  3514.0

day                  10      11  ...      296     297     298     299  300  \
species   sector                 ...
cas9_YABE S_1002  4137.0  4305.0 ...   5846.0  6014.0  6224.0  5997.0  NaN

day               301     302     303     304  305
species   sector
cas9_YABE S_1002  NaN  5526.0  5622.0  5521.0  NaN

[1 rows x 304 columns])
128 (('cas9_YABE', 'S_1102'), day               2        3        4        5        6        7    8    9    \
species   sector
cas9_YABE S_1102  NaN  12071.0  11982.0  12092.0  11960.0  11658.0  NaN  NaN

day                   10       11  ...   296      297      298      299  \
species   sector                   ...
cas9_YABE S_1102  11894.0  11936.0 ...   NaN  13624.0  13329.0  13081.0

day                   300      301  302  303      304  305
species   sector
cas9_YABE S_1102  13590.0  13994.0  NaN  NaN  13395.0  NaN

[1 rows x 304 columns])
129 (('cas9_YABE', 'S_2002'), day                  2       3       4    5    6       7       8       9    \
species   sector
cas9_YABE S_2002  6965.0  7154.0  7205.0  NaN  NaN  7028.0  7108.0  7041.0

day                  10      11  ...      296     297     298  299  300  \
species   sector                 ...
cas9_YABE S_2002  6944.0  6721.0 ...   6691.0  6532.0  6523.0  NaN  NaN

day                  301     302     303     304  305
species   sector
cas9_YABE S_2002  6376.0  6435.0  6578.0  6654.0  NaN

[1 rows x 304 columns])
130 (('cas9_YABE', 'S_2102'), day               2        3        4        5        6    7    8        9    \
species   sector
cas9_YABE S_2102  NaN  13190.0  12694.0  12925.0  12890.0  NaN  NaN  12841.0

day                   10       11    ...         296      297      298  \
species   sector                     ...
cas9_YABE S_2102  13130.0  13265.0   ...     21107.0  20770.0  20572.0

day                   299      300  301  302  303  304      305
species   sector
cas9_YABE S_2102  20345.0  20838.0  NaN  NaN  NaN  NaN  20311.0

[1 rows x 304 columns])
131 (('cas9_YABE', 'S_3002'), day                  2       3    4    5       6       7       8       9    \
species   sector
cas9_YABE S_3002  7297.0  7356.0  NaN  NaN  7681.0  7634.0  7558.0  7735.0

day                  10   11  ...       296      297  298  299      300  \
species   sector              ...
cas9_YABE S_3002  7718.0  NaN ...   11423.0  11561.0  NaN  NaN  11755.0

day                   301      302      303      304  305
species   sector
cas9_YABE S_3002  12109.0  12037.0  11978.0  11767.0  NaN

[1 rows x 304 columns])

132 (('cas9_YABE', 'S_3102'), day                   2        3        4    5    6        7        8    \
species   sector
cas9_YABE S_3102  22555.0  22075.0  22214.0  NaN  NaN  22521.0  22171.0

day                   9        10       11  ...       296      297      298  \
species   sector                            ...
cas9_YABE S_3102  22205.0  22305.0  22601.0 ...   21772.0  22029.0  21730.0

day               299  300      301      302      303      304  305
species   sector
cas9_YABE S_3102  NaN  NaN  21873.0  22449.0  22189.0  22184.0  NaN

[1 rows x 304 columns])
133 (('cas9_YABE', 'S_4002'), day                   2    3    4        5        6        7        8    \
species   sector
cas9_YABE S_4002  13258.0  NaN  NaN  13597.0  13712.0  13720.0  13561.0

day                   9    10   11  ...       296  297  298      299      300  \
species   sector                    ...
cas9_YABE S_4002  13342.0  NaN  NaN ...   20180.0  NaN  NaN  20180.0  20042.0

day                   301      302      303  304  305
species   sector
cas9_YABE S_4002  20766.0  20808.0  20543.0  NaN  NaN

[1 rows x 304 columns])
134 (('cas9_YABE', 'S_4102'), day                   2        3    4    5        6        7        8    \
species   sector
cas9_YABE S_4102  22702.0  22416.0  NaN  NaN  21793.0  22252.0  22041.0

day                   9        10   11  ...       296      297  298  299  \
species   sector                        ...
cas9_YABE S_4102  21915.0  21953.0  NaN ...   21375.0  21515.0  NaN  NaN

day                   300      301      302      303      304  305
species   sector
cas9_YABE S_4102  21545.0  21549.0  21604.0  21695.0  22096.0  NaN

[1 rows x 304 columns])
135 (('cas9_YABE', 'S_5002'), day               2        3        4        5        6        7    8    9    \
species   sector
cas9_YABE S_5002  NaN  24011.0  23426.0  23338.0  22344.0  22428.0  NaN  NaN

day                   10       11  ...   296      297      298      299  \
species   sector                   ...
cas9_YABE S_5002  22584.0  22061.0 ...   NaN  16590.0  15997.0  16120.0

day                   300      301  302  303      304  305
species   sector
cas9_YABE S_5002  15925.0  16174.0  NaN  NaN  16671.0  NaN

[1 rows x 304 columns])
136 (('cas9_YABE', 'S_5102'), day                   2    3    4        5        6        7        8    \
species   sector
cas9_YABE S_5102  23656.0  NaN  NaN  23460.0  23156.0  23114.0  23741.0

day                   9    10   11  ...       296  297  298      299      300  \
species   sector                    ...
cas9_YABE S_5102  23413.0  NaN  NaN ...   28160.0  NaN  NaN  28170.0  28370.0

day                   301      302      303  304  305
species   sector
cas9_YABE S_5102  28250.0  28170.0  27900.0  NaN  NaN

[1 rows x 304 columns])
137 (('cas9_YABE', 'S_6002'), day               2        3        4        5        6    7    8        9    \
species   sector
cas9_YABE S_6002  NaN  18712.0  18733.0  19310.0  19634.0  NaN  NaN  19609.0

day                   10       11  ...       296      297      298      299  \
species   sector                   ...
cas9_YABE S_6002  19415.0  19095.0 ...   13359.0  13169.0  13502.0  13796.0

day                   300  301  302      303      304  305
species   sector
cas9_YABE S_6002  13497.0  NaN  NaN  13569.0  13523.0  NaN

[1 rows x 304 columns])
138 (('cas9_YABE', 'S_6102'), day               2    3        4        5        6        7        8    9    \
species   sector
cas9_YABE S_6102  NaN  NaN  26430.0  26120.0  26410.0  25690.0  25750.0  NaN

day               10       11    ...     296  297      298      299      300  \
species   sector                 ...
cas9_YABE S_6102  NaN  26100.0   ...     NaN  NaN  29220.0  29050.0  28820.0

day                   301      302  303  304      305
species   sector
cas9_YABE S_6102  28810.0  28600.0  NaN  NaN  28510.0

[1 rows x 304 columns])
139 (('cas9_YABE', 'S_7002'), day               2        3        4        5    6    7        8        9    \
species   sector
cas9_YABE S_7002  NaN  12698.0  13295.0  12955.0  NaN  NaN  12500.0  12520.0

day                   10       11  ...       296      297      298      299  \
species   sector                   ...
cas9_YABE S_7002  12332.0  12722.0 ...   15126.0  15067.0  14835.0  15421.0

day               300  301      302      303      304  305
species   sector
cas9_YABE S_7002  NaN  NaN  15425.0  15375.0  15194.0  NaN

[1 rows x 304 columns])
140 (('cas9_YABE', 'S_7102'), day               2        3        4        5        6    7    8        9    \
species   sector
cas9_YABE S_7102  NaN  29840.0  29760.0  30010.0  31050.0  NaN  NaN  30750.0

day                   10       11  ...       296      297      298      299  \
species   sector                   ...
cas9_YABE S_7102  30250.0  30410.0 ...   36830.0  36740.0  36680.0  36900.0

day                   300  301  302      303  304  305
species   sector
cas9_YABE S_7102  36800.0  NaN  NaN  37000.0  NaN  NaN

[1 rows x 304 columns])
141 (('cas9_YABE', 'S_8002'), day                   2        3        4    5    6        7        8    \
species   sector
cas9_YABE S_8002  13674.0  13822.0  13173.0  NaN  NaN  12811.0  12630.0

day                   9        10       11    ...       296     297     298  \
species   sector                              ...
cas9_YABE S_8002  12572.0  12777.0  12492.0   ...    6325.0  6447.0  6266.0

day               299  300     301     302     303     304     305
species   sector
cas9_YABE S_8002  NaN  NaN  6115.0  6679.0  6380.0  6477.0  6426.0

[1 rows x 304 columns])
142 (('cas9_YABE', 'S_9002'), day                  2    3    4       5       6       7       8       9    \
species   sector
cas9_YABE S_9002  6170.0  NaN  NaN  6216.0  6388.0  6140.0  6174.0  5972.0

day               10   11  ...      296  297  298     299     300     301  \
species   sector           ...
cas9_YABE S_9002  NaN  NaN ...   9916.0  NaN  NaN  9818.0  9743.0  9575.0

day                  302     303  304  305
species   sector
cas9_YABE S_9002  9684.0  9372.0  NaN  NaN

[1 rows x 304 columns])
143 (('cas9_YABE', 'S_9991'), day               2    3       4       5       6       7       8    9    10   \
species   sector
cas9_YABE S_9991  NaN  NaN  4208.0  3931.0  4962.0  5227.0  5130.0  NaN  NaN

day                  11  ...   296  297     298     299     300     301  \
species   sector         ...
cas9_YABE S_9991  5109.0 ...   NaN  NaN  7937.0  7996.0  7297.0  7163.0

day                  302  303  304  305
species   sector
cas9_YABE S_9991  7108.0  NaN  NaN  NaN

[1 rows x 304 columns])

In [14]:
last_day_info.keys()

dict_keys([('cas9_CAD', 'S_0102'), ('cas9_CAD', 'S_1102'), ('cas9_CAD', 'S_2102'), ('cas9_CAD', 'S_3102'), ('cas9_CAD', 'S_4102'), ('cas9_CAD', 'S_5102'), ('cas9_CAD', 'S_6102'), ('cas9_CAD', 'S_7002'), ('cas9_CAD', 'S_7102'), ('cas9_CAD', 'S_8002'), ('cas9_CAD', 'S_9002'), ('cas9_FAB', 'S_0102'), ('cas9_FAB', 'S_1102'), ('cas9_FAB', 'S_2102'), ('cas9_FAB', 'S_3102'), ('cas9_FAB', 'S_4102'), ('cas9_FAB', 'S_5002'), ('cas9_FAB', 'S_5102'), ('cas9_FAB', 'S_6002'), ('cas9_FAB', 'S_6102'), ('cas9_FAB', 'S_7002'), ('cas9_FAB', 'S_7102'), ('cas9_FAB', 'S_8002'), ('cas9_FAB', 'S_9002'), ('cas9_HNAF', 'S_0102'), ('cas9_HNAF', 'S_1102'), ('cas9_HNAF', 'S_2102'), ('cas9_HNAF', 'S_3102'), ('cas9_HNAF', 'S_4102'), ('cas9_HNAF', 'S_5102'), ('cas9_HNAF', 'S_6102'), ('cas9_HNAF', 'S_7102'), ('cas9_HNAF', 'S_8002'), ('cas9_HNAF', 'S_9002'), ('cas9_JAC', 'S_0102'), ('cas9_JAC', 'S_1102'), ('cas9_JAC', 'S_2102'), ('cas9_JAC', 'S_3102'), ('cas9_JAC', 'S_4102'), ('cas9_JAC', 'S_5002'), ('cas9_JAC', 'S_5102'), ('cas9_JAC', 'S_6002'), ('cas9_JAC', 'S_6102'), ('cas9_JAC', 'S_7002'), ('cas9_JAC', 'S_7102'), ('cas9_JAC', 'S_8002'), ('cas9_JAC', 'S_9002'), ('cas9_MBI', 'S_0002'), ('cas9_MBI', 'S_0102'), ('cas9_MBI', 'S_0791'), ('cas9_MBI', 'S_0891'), ('cas9_MBI', 'S_0991'), ('cas9_MBI', 'S_1002'), ('cas9_MBI', 'S_1102'), ('cas9_MBI', 'S_1791'), ('cas9_MBI', 'S_1891'), ('cas9_MBI', 'S_1991'), ('cas9_MBI', 'S_2002'), ('cas9_MBI', 'S_2102'), ('cas9_MBI', 'S_2691'), ('cas9_MBI', 'S_2791'), ('cas9_MBI', 'S_2891'), ('cas9_MBI', 'S_2991'), ('cas9_MBI', 'S_3002'), ('cas9_MBI', 'S_3102'), ('cas9_MBI', 'S_3691'), ('cas9_MBI', 'S_3791'), ('cas9_MBI', 'S_3891'), ('cas9_MBI', 'S_3991'), ('cas9_MBI', 'S_4002'), ('cas9_MBI', 'S_4102'), ('cas9_MBI', 'S_4691'), ('cas9_MBI', 'S_4791'), ('cas9_MBI', 'S_4891'), ('cas9_MBI', 'S_4991'), ('cas9_MBI', 'S_5002'), ('cas9_MBI', 'S_5102'), ('cas9_MBI', 'S_5691'), ('cas9_MBI', 'S_5791'), ('cas9_MBI', 'S_5891'), ('cas9_MBI', 'S_5991'), ('cas9_MBI', 'S_6002'), ('cas9_MBI', 'S_6102'), ('cas9_MBI', 'S_6691'), ('cas9_MBI', 'S_6791'), ('cas9_MBI', 'S_6891'), ('cas9_MBI', 'S_6991'), ('cas9_MBI', 'S_7002'), ('cas9_MBI', 'S_7102'), ('cas9_MBI', 'S_7691'), ('cas9_MBI', 'S_7791'), ('cas9_MBI', 'S_7891'), ('cas9_MBI', 'S_7991'), ('cas9_MBI', 'S_8002'), ('cas9_MBI', 'S_8691'), ('cas9_MBI', 'S_8791'), ('cas9_MBI', 'S_8891'), ('cas9_MBI', 'S_8991'), ('cas9_MBI', 'S_9002'), ('cas9_MBI', 'S_9691'), ('cas9_MBI', 'S_9791'), ('cas9_MBI', 'S_9891'), ('cas9_MBI', 'S_9991'), ('cas9_NIAG', 'S_0102'), ('cas9_NIAG', 'S_1102'), ('cas9_NIAG', 'S_2102'), ('cas9_NIAG', 'S_3102'), ('cas9_NIAG', 'S_4102'), ('cas9_NIAG', 'S_5002'), ('cas9_NIAG', 'S_5102'), ('cas9_NIAG', 'S_6002'), ('cas9_NIAG', 'S_6102'), ('cas9_NIAG', 'S_7002'), ('cas9_NIAG', 'S_7102'), ('cas9_NIAG', 'S_8002'), ('cas9_NIAG', 'S_9002'), ('cas9_VBBA', 'S_3102'), ('cas9_VBBA', 'S_4102'), ('cas9_VBBA', 'S_5102'), ('cas9_VBBA', 'S_6102'), ('cas9_VBBA', 'S_7102'), ('cas9_XGAJ', 'S_5102'), ('cas9_XGAJ', 'S_6102'), ('cas9_XGAJ', 'S_7102'), ('cas9_XWAH', 'S_7102'), ('cas9_YABE', 'S_0002'), ('cas9_YABE', 'S_0102'), ('cas9_YABE', 'S_1002'), ('cas9_YABE', 'S_1102'), ('cas9_YABE', 'S_2002'), ('cas9_YABE', 'S_2102'), ('cas9_YABE', 'S_3002'), ('cas9_YABE', 'S_3102'), ('cas9_YABE', 'S_4002'), ('cas9_YABE', 'S_4102'), ('cas9_YABE', 'S_5002'), ('cas9_YABE', 'S_5102'), ('cas9_YABE', 'S_6002'), ('cas9_YABE', 'S_6102'), ('cas9_YABE', 'S_7002'), ('cas9_YABE', 'S_7102'), ('cas9_YABE', 'S_8002'), ('cas9_YABE', 'S_9002'), ('cas9_YABE', 'S_9991')])

In [15]:
last_day_info[('cas9_CAD', 'S_0102')]

{'last_day': 302, 'last_ind': 300}

In [16]:
last_day_info[('cas9_CAD', 'S_1102')]

{'last_day': 304, 'last_ind': 302}

In [17]:
last_day_info[('cas9_CAD', 'S_2102')]

{'last_day': 305, 'last_ind': 303}

## Interpolate missing values for each time series

In [18]:
X_train.interpolate('index', axis=1, limit_direction='both', inplace=True)

In [19]:
X_train

day                   2             3             4             5    \
species   sector
cas9_CAD  S_0102   4580.0   4580.000000   4580.000000   4730.000000
          S_1102   3910.0   3910.000000   4019.000000   3940.000000
          S_2102   3410.0   3410.000000   3800.000000   3810.000000
          S_3102   2810.0   2820.000000   2980.000000   3023.333333
          S_4102   5080.0   5490.000000   5683.333333   5876.666667
          S_5102   5570.0   5476.666667   5383.333333   5290.000000
          S_6102   5920.0   5920.000000   5920.000000   5360.000000
          S_7002  23800.0  23800.000000  23900.000000  23630.000000
          S_7102   2750.0   2750.000000   2750.000000   2700.000000
          S_8002  26460.0  26160.000000  25630.000000  25833.333333
          S_9002   7690.0   7829.666667   7969.333333   8109.000000
cas9_FAB  S_0102   9245.0   9245.000000   9245.000000   9195.000000
          S_1102   8990.0   8990.000000   8990.000000   8942.000000
          S_2102  11190.0  11190.000000  11130.000000  11261.000000
          S_3102  12912.0  12989.000000  12981.000000  12958.000000
          S_4102  10517.0  10594.000000  10596.000000  10598.000000
          S_5002  10252.0  10252.000000  10252.000000  10252.000000
          S_5102  12399.0  12401.000000  12403.000000  12405.000000
          S_6002   9182.0   9182.000000   9239.000000   9327.000000
          S_6102  13339.0  13339.000000  13339.000000  13421.000000
          S_7002   9510.0   9510.000000   9582.000000   9493.000000
          S_7102  13687.0  13687.000000  13716.000000  13832.000000
          S_8002   9019.0   9150.000000   9203.000000   9215.000000
          S_9002   7019.0   7085.333333   7151.666667   7218.000000
cas9_HNAF S_0102  20364.0  20364.000000  20364.000000  20877.000000
          S_1102  16842.0  16842.000000  17078.000000  17562.000000
          S_2102   7182.0   7182.000000   7123.000000   7123.000000
          S_3102   6679.0   6718.000000   6738.000000   6725.000000
          S_4102   5978.0   5791.000000   5807.333333   5823.666667
          S_5102   6620.0   6906.000000   7192.000000   7478.000000
...                   ...           ...           ...           ...
cas9_NIAG S_8002   5400.0   5471.000000   5400.000000   5407.000000
          S_9002   2800.0   2840.000000   2880.000000   2920.000000
cas9_VBBA S_3102  28810.0  28810.000000  28810.000000  28829.666667
          S_4102  45285.0  45563.000000  45008.666667  44454.333333
          S_5102  59258.0  58885.333333  58512.666667  58140.000000
          S_6102  53513.0  53513.000000  53513.000000  53291.000000
          S_7102  60213.0  60213.000000  61062.000000  61525.000000
cas9_XGAJ S_5102   6780.0   6780.000000   6780.000000   6780.000000
          S_6102   2370.0   2370.000000   2370.000000   2390.000000
          S_7102    670.0    670.000000    670.000000    680.000000
cas9_XWAH S_7102  23108.0  23108.000000  23266.000000  23285.000000
cas9_YABE S_0002   7432.0   7432.000000   6734.000000   7184.000000
          S_0102  10059.0  10059.000000  10059.000000   9954.000000
          S_1002   3177.0   4141.000000   3724.000000   3215.000000
          S_1102  12071.0  12071.000000  11982.000000  12092.000000
          S_2002   6965.0   7154.000000   7205.000000   7146.000000
          S_2102  13190.0  13190.000000  12694.000000  12925.000000
          S_3002   7297.0   7356.000000   7464.333333   7572.666667
          S_3102  22555.0  22075.000000  22214.000000  22316.333333
          S_4002  13258.0  13371.000000  13484.000000  13597.000000
          S_4102  22702.0  22416.000000  22208.333333  22000.666667
          S_5002  24011.0  24011.000000  23426.000000  23338.000000
          S_5102  23656.0  23590.666667  23525.333333  23460.000000
          S_6002  18712.0  18712.000000  18733.000000  19310.000000
          S_6102  26430.0  26430.000000  26430.000000  26120.000000
          S_7002  12698.0  12698.000000  13295.000000  12955.000000
          S_7102  29840.0  29840.000000  29760.000000  30010.000000
          S_8002  13674.0  13822.000000  13173.000000  13052.333333
          S_9002   6170.0   6185.333333   6200.666667   6216.000000
          S_9991   4208.0   4208.000000   4208.000000   3931.000000

day                        6             7             8             9    \
species   sector
cas9_CAD  S_0102   4860.000000   4890.000000   4920.000000   4896.666667
          S_1102   3900.000000   3960.000000   4006.666667   4053.333333
          S_2102   3630.000000   3553.333333   3476.666667   3400.000000
          S_3102   3066.666667   3110.000000   3210.000000   3520.000000
          S_4102   6070.000000   6280.000000   6630.000000   6500.000000
          S_5102   5280.000000   5390.000000   5230.000000   5190.000000
          S_6102   5210.000000   5140.000000   5160.000000   5183.333333
          S_7002  23716.666667  23803.333333  23890.000000  23900.000000
          S_7102   2650.000000   2666.666667   2683.333333   2700.000000
          S_8002  26036.666667  26240.000000  25350.000000  24890.000000
          S_9002   9320.000000   8830.000000   9460.000000  10160.000000
cas9_FAB  S_0102   9182.000000   9136.000000   9232.000000   9247.666667
          S_1102   8966.000000   8966.000000   8933.333333   8900.666667
          S_2102  11209.000000  11249.000000  11289.000000  11329.000000
          S_3102  12935.000000  12912.000000  12994.000000  13068.000000
          S_4102  10600.000000  10600.000000  10600.000000  10645.000000
          S_5002  10252.000000  10252.000000  10252.000000  10252.000000
          S_5102  12585.000000  12725.000000  12680.000000  12654.000000
          S_6002   9377.000000   9380.000000   9383.000000   9386.000000
          S_6102  13500.000000  13603.000000  13593.000000  13574.333333
          S_7002   9501.000000   9509.000000   9517.000000   9582.000000
          S_7102  13842.000000  13869.666667  13897.333333  13925.000000
          S_8002   9227.000000   9239.000000   9300.000000   9340.000000
          S_9002   7471.000000   7553.000000   7855.000000   8005.000000
cas9_HNAF S_0102  21489.000000  21725.000000  22051.000000  21646.666667
          S_1102  17562.000000  17907.000000  18009.000000  18111.000000
          S_2102   6807.000000   6757.666667   6708.333333   6659.000000
          S_3102   6712.000000   6699.000000   6561.000000   6531.000000
          S_4102   5840.000000   5722.000000   5761.000000   5811.000000
          S_5102   7340.000000   7804.000000   7675.000000   7873.000000
...                        ...           ...           ...           ...
cas9_NIAG S_8002   5414.000000   5421.000000   5301.000000   5165.000000
          S_9002   2914.000000   2925.000000   3187.000000   2697.000000
cas9_VBBA S_3102  28849.333333  28869.000000  28241.000000  28399.000000
          S_4102  43900.000000  43988.000000  43873.000000  44623.000000
          S_5102  57854.000000  60193.000000  60821.000000  59159.000000
          S_6102  53301.000000  53141.000000  51692.000000  51144.333333
          S_7102  61545.000000  61680.000000  61815.000000  61950.000000
cas9_XGAJ S_5102   6780.000000   6780.000000   6780.000000   6780.000000
          S_6102   2450.000000   2480.000000   2580.000000   2656.666667
          S_7102    650.000000    653.333333    656.666667    660.000000
cas9_XWAH S_7102  23261.000000  23246.333333  23231.666667  23217.000000
cas9_YABE S_0002   7096.000000   7087.000000   7219.000000   7351.000000
          S_0102   9891.000000   9777.000000   9895.000000   9886.666667
          S_1002   3217.666667   3220.333333   3223.000000   3514.000000
          S_1102  11960.000000  11658.000000  11736.666667  11815.333333
          S_2002   7087.000000   7028.000000   7108.000000   7041.000000
          S_2102  12890.000000  12873.666667  12857.333333  12841.000000
          S_3002   7681.000000   7634.000000   7558.000000   7735.000000
          S_3102  22418.666667  22521.000000  22171.000000  22205.000000
          S_4002  13712.000000  13720.000000  13561.000000  13342.000000
          S_4102  21793.000000  22252.000000  22041.000000  21915.000000
          S_5002  22344.000000  22428.000000  22480.000000  22532.000000
          S_5102  23156.000000  23114.000000  23741.000000  23413.000000
          S_6002  19634.000000  19625.666667  19617.333333  19609.000000
          S_6102  26410.000000  25690.000000  25750.000000  25866.666667
          S_7002  12803.333333  12651.666667  12500.000000  12520.000000
          S_7102  31050.000000  30950.000000  30850.000000  30750.000000
          S_8002  12931.666667  12811.000000  12630.000000  12572.000000
          S_9002   6388.000000   6140.000000   6174.000000   5972.000000
          S_9991   4962.000000   5227.000000   5130.000000   5123.000000

day                        10            11    ...              296  \
species   sector                               ...
cas9_CAD  S_0102   4873.333333   4850.000000   ...      4633.333333
          S_1102   4100.000000   4880.000000   ...      3920.000000
          S_2102   3420.000000   3500.000000   ...      2750.000000
          S_3102   3360.000000   3440.000000   ...      3930.000000
          S_4102   6400.000000   6476.666667   ...      4550.000000
          S_5102   5186.666667   5183.333333   ...      6390.000000
          S_6102   5206.666667   5230.000000   ...      2516.666667
          S_7002  23700.000000  23830.000000   ...     35750.000000
          S_7102   2700.000000   2750.000000   ...      1500.000000
          S_8002  25040.000000  25490.000000   ...      8010.000000
          S_9002   9633.333333   9106.666667   ...      4470.000000
cas9_FAB  S_0102   9263.333333   9279.000000   ...     10364.666667
          S_1102   8868.000000   8868.000000   ...     10089.666667
          S_2102  11320.000000  11353.000000   ...     12568.000000
          S_3102  13055.000000  13038.000000   ...     10538.000000
          S_4102  10745.000000  10750.666667   ...     12209.000000
          S_5002  10252.000000  10252.000000   ...      9507.666667
          S_5102  12666.000000  12678.000000   ...     13150.000000
          S_6002   9394.000000   9321.000000   ...      9560.000000
          S_6102  13555.666667  13537.000000   ...     14265.000000
          S_7002   9595.000000   9533.000000   ...      9232.000000
          S_7102  13993.000000  14069.000000   ...     15270.000000
          S_8002   9327.000000   9381.000000   ...      6540.000000
          S_9002   7977.666667   7950.333333   ...      9129.000000
cas9_HNAF S_0102  21242.333333  20838.000000   ...     25784.000000
          S_1102  18213.000000  18558.000000   ...      7441.666667
          S_2102   6768.000000   6709.000000   ...      5742.000000
          S_3102   6551.000000   6521.000000   ...      4893.000000
          S_4102   5811.000000   5857.000000   ...      5199.000000
          S_5102   7777.666667   7682.333333   ...      8781.000000
...                        ...           ...   ...              ...
cas9_NIAG S_8002   5285.000000   5481.000000   ...      2599.000000
          S_9002   2689.666667   2682.333333   ...      2680.000000
cas9_VBBA S_3102  28480.000000  28695.000000   ...     42105.000000
          S_4102  44343.000000  44147.000000   ...     53528.000000
          S_5102  59152.666667  59146.333333   ...     46761.000000
          S_6102  50596.666667  50049.000000   ...     58878.000000
          S_7102  61813.000000  59583.000000   ...     94510.000000
cas9_XGAJ S_5102   6780.000000   6780.000000   ...      2110.000000
          S_6102   2733.333333   2810.000000   ...       910.000000
          S_7102    640.000000    665.000000   ...       190.000000
cas9_XWAH S_7102  23261.000000  23353.000000   ...     26660.000000
cas9_YABE S_0002   7483.000000   7323.000000   ...      6214.333333
          S_0102   9878.333333   9870.000000   ...     11794.333333
          S_1002   4137.000000   4305.000000   ...      5846.000000
          S_1102  11894.000000  11936.000000   ...     13589.000000
          S_2002   6944.000000   6721.000000   ...      6691.000000
          S_2102  13130.000000  13265.000000   ...     21107.000000
          S_3002   7718.000000   7740.666667   ...     11423.000000
          S_3102  22305.000000  22601.000000   ...     21772.000000
          S_4002  13391.000000  13440.000000   ...     20180.000000
          S_4102  21953.000000  22006.333333   ...     21375.000000
          S_5002  22584.000000  22061.000000   ...     16571.666667
          S_5102  23352.666667  23292.333333   ...     28160.000000
          S_6002  19415.000000  19095.000000   ...     13359.000000
          S_6102  25983.333333  26100.000000   ...     29113.333333
          S_7002  12332.000000  12722.000000   ...     15126.000000
          S_7102  30250.000000  30410.000000   ...     36830.000000
          S_8002  12777.000000  12492.000000   ...      6325.000000
          S_9002   5946.666667   5921.333333   ...      9916.000000
          S_9991   5116.000000   5109.000000   ...      7648.333333

day                        297           298           299           300  \
species   sector
cas9_CAD  S_0102   4566.666667   4500.000000   4550.000000   4500.000000
          S_1102   3900.000000   3620.000000   3650.000000   3770.000000
          S_2102   2700.000000   2700.000000   2750.000000   2700.000000
          S_3102   3930.000000   3850.000000   3816.666667   3783.333333
          S_4102   4490.000000   4526.666667   4563.333333   4600.000000
          S_5102   6403.333333   6416.666667   6430.000000   6390.000000
          S_6102   2513.333333   2510.000000   2600.000000   2610.000000
          S_7002  35300.000000  36290.000000  37500.000000  37463.333333
          S_7102   1500.000000   1500.000000   1500.000000   1500.000000
          S_8002   7820.000000   7460.000000   7240.000000   7020.000000
          S_9002   4450.000000   4430.000000   4410.000000   4320.000000
cas9_FAB  S_0102  10363.333333  10362.000000  10366.000000  10330.000000
          S_1102  10062.000000   9994.000000   9998.000000   9991.000000
          S_2102  12690.000000  12788.000000  12620.000000  12665.000000
          S_3102  10597.000000  10574.000000  10581.666667  10589.333333
          S_4102  12280.000000  12262.000000  12244.000000  12226.000000
          S_5002   9510.000000   9472.000000   9479.000000   9533.000000
          S_5102  13121.666667  13093.333333  13065.000000  13038.000000
          S_6002   9671.000000   9671.000000   9612.000000   9628.000000
          S_6102  14257.000000  14249.000000  14263.000000  14162.000000
          S_7002   9252.000000   9157.000000   9186.000000   9212.666667
          S_7102  15270.000000  15090.000000  15040.000000  15000.000000
          S_8002   6964.000000   7191.000000   7234.333333   7277.666667
          S_9002   9087.666667   9046.333333   9005.000000   8983.000000
cas9_HNAF S_0102  25886.000000  25988.000000  25820.000000  25711.000000
          S_1102   7675.000000   8129.000000   7893.000000   7902.000000
          S_2102   5702.000000   5692.000000   5781.000000   5692.000000
          S_3102   4834.000000   4873.000000   4856.666667   4840.333333
          S_4102   5189.000000   5192.333333   5195.666667   5199.000000
          S_5102   8774.333333   8767.666667   8761.000000   8731.000000
...                        ...           ...           ...           ...
cas9_NIAG S_8002   2615.000000   2310.000000   2346.333333   2382.666667
          S_9002   2683.666667   2687.333333   2691.000000   2713.000000
cas9_VBBA S_3102  41758.000000  42951.000000  42985.666667  43020.333333
          S_4102  54222.000000  54280.666667  54339.333333  54398.000000
          S_5102  47234.333333  47707.666667  48181.000000  48840.000000
          S_6102  58923.000000  58968.000000  59383.000000  58871.000000
          S_7102  91690.000000  91770.000000  89560.000000  91930.000000
cas9_XGAJ S_5102   2060.000000   2010.000000   1960.000000   2100.000000
          S_6102    890.000000    870.000000    900.000000    910.000000
          S_7102    200.000000    193.000000    185.000000    184.000000
cas9_XWAH S_7102  26700.000000  26600.000000  26725.000000  26850.000000
cas9_YABE S_0002   6266.000000   5690.000000   5690.000000   5521.000000
          S_0102  11774.666667  11755.000000  12100.000000  12323.000000
          S_1002   6014.000000   6224.000000   5997.000000   5840.000000
          S_1102  13624.000000  13329.000000  13081.000000  13590.000000
          S_2002   6532.000000   6523.000000   6474.000000   6425.000000
          S_2102  20770.000000  20572.000000  20345.000000  20838.000000
          S_3002  11561.000000  11625.666667  11690.333333  11755.000000
          S_3102  22029.000000  21730.000000  21777.666667  21825.333333
          S_4002  20180.000000  20180.000000  20180.000000  20042.000000
          S_4102  21515.000000  21525.000000  21535.000000  21545.000000
          S_5002  16590.000000  15997.000000  16120.000000  15925.000000
          S_5102  28163.333333  28166.666667  28170.000000  28370.000000
          S_6002  13169.000000  13502.000000  13796.000000  13497.000000
          S_6102  29166.666667  29220.000000  29050.000000  28820.000000
          S_7002  15067.000000  14835.000000  15421.000000  15422.333333
          S_7102  36740.000000  36680.000000  36900.000000  36800.000000
          S_8002   6447.000000   6266.000000   6215.666667   6165.333333
          S_9002   9883.333333   9850.666667   9818.000000   9743.000000
          S_9991   7792.666667   7937.000000   7996.000000   7297.000000

day                        301           302           303           304  \
species   sector
cas9_CAD  S_0102   4530.000000   4530.000000   4530.000000   4530.000000
          S_1102   3900.000000   3780.000000   3660.000000   3540.000000
          S_2102   2710.000000   2720.000000   2730.000000   2740.000000
          S_3102   3750.000000   3910.000000   4000.000000   4000.000000
          S_4102   4640.000000   5000.000000   5200.000000   5480.000000
          S_5102   6130.000000   6020.000000   6200.000000   6200.000000
          S_6102   2550.000000   2530.000000   2536.666667   2543.333333
          S_7002  37426.666667  37390.000000  36390.000000  35910.000000
          S_7102   1500.000000   1500.000000   1500.000000   1500.000000
          S_8002   6800.000000   7130.000000   7220.000000   7490.000000
          S_9002   4000.000000   4230.000000   4090.000000   4090.000000
cas9_FAB  S_0102  10338.000000  10369.000000  10369.000000  10369.000000
          S_1102   9947.000000   9947.666667   9948.333333   9949.000000
          S_2102  12651.800000  12638.600000  12625.400000  12612.200000
          S_3102  10597.000000  10614.000000  10592.000000  10559.000000
          S_4102  12254.000000  12270.000000  12244.000000  12216.000000
          S_5002   9517.000000   9497.333333   9477.666667   9458.000000
          S_5102  13132.000000  13132.000000  13102.000000  13102.000000
          S_6002   9602.666667   9577.333333   9552.000000   9575.000000
          S_6102  14002.000000  13925.000000  13903.333333  13881.666667
          S_7002   9239.333333   9266.000000   9245.000000   9182.000000
          S_7102  15026.666667  15053.333333  15080.000000  15080.000000
          S_8002   7321.000000   7115.000000   6964.000000   7040.000000
          S_9002   8942.000000   8903.000000   8903.000000   8903.000000
cas9_HNAF S_0102  25702.000000  25355.000000  25355.000000  25355.000000
          S_1102   7784.000000   7672.333333   7560.666667   7449.000000
          S_2102   5713.800000   5735.600000   5757.400000   5779.200000
          S_3102   4824.000000   4834.000000   4804.000000   4785.000000
          S_4102   5317.000000   5317.000000   5327.000000   5401.000000
          S_5102   9037.000000   8879.000000   8968.000000   8968.000000
...                        ...           ...           ...           ...

## Create supervised version of dataset (predict one time point at a time)

### Take differences

In [21]:
# Create shifted form of each timeseries - (creates supervised version of timeseries problem)
def shift_df(df, lag=1):    
    shifted_df = df.shift(lag, axis=1)
    shifted_df.fillna(0, inplace=True)
    return shifted_df

In [22]:
def diff_df(df):
    df_diff = df.diff(periods=-1, axis=1)
    df_diff.fillna(0, inplace=True)
    return df_diff

In [23]:
X_train_diff = diff_df(X_train)

In [24]:
X_train_diff

day                      2           3           4            5    \
species   sector
cas9_CAD  S_0102    0.000000    0.000000 -150.000000  -130.000000
          S_1102    0.000000 -109.000000   79.000000    40.000000
          S_2102    0.000000 -390.000000  -10.000000   180.000000
          S_3102  -10.000000 -160.000000  -43.333333   -43.333333
          S_4102 -410.000000 -193.333333 -193.333333  -193.333333
          S_5102   93.333333   93.333333   93.333333    10.000000
          S_6102    0.000000    0.000000  560.000000   150.000000
          S_7002    0.000000 -100.000000  270.000000   -86.666667
          S_7102    0.000000    0.000000   50.000000    50.000000
          S_8002  300.000000  530.000000 -203.333333  -203.333333
          S_9002 -139.666667 -139.666667 -139.666667 -1211.000000
cas9_FAB  S_0102    0.000000    0.000000   50.000000    13.000000
          S_1102    0.000000    0.000000   48.000000   -24.000000
          S_2102    0.000000   60.000000 -131.000000    52.000000
          S_3102  -77.000000    8.000000   23.000000    23.000000
          S_4102  -77.000000   -2.000000   -2.000000    -2.000000
          S_5002    0.000000    0.000000    0.000000     0.000000
          S_5102   -2.000000   -2.000000   -2.000000  -180.000000
          S_6002    0.000000  -57.000000  -88.000000   -50.000000
          S_6102    0.000000    0.000000  -82.000000   -79.000000
          S_7002    0.000000  -72.000000   89.000000    -8.000000
          S_7102    0.000000  -29.000000 -116.000000   -10.000000
          S_8002 -131.000000  -53.000000  -12.000000   -12.000000
          S_9002  -66.333333  -66.333333  -66.333333  -253.000000
cas9_HNAF S_0102    0.000000    0.000000 -513.000000  -612.000000
          S_1102    0.000000 -236.000000 -484.000000     0.000000
          S_2102    0.000000   59.000000    0.000000   316.000000
          S_3102  -39.000000  -20.000000   13.000000    13.000000
          S_4102  187.000000  -16.333333  -16.333333   -16.333333
          S_5102 -286.000000 -286.000000 -286.000000   138.000000
...                      ...         ...         ...          ...
cas9_NIAG S_8002  -71.000000   71.000000   -7.000000    -7.000000
          S_9002  -40.000000  -40.000000  -40.000000     6.000000
cas9_VBBA S_3102    0.000000    0.000000  -19.666667   -19.666667
          S_4102 -278.000000  554.333333  554.333333   554.333333
          S_5102  372.666667  372.666667  372.666667   286.000000
          S_6102    0.000000    0.000000  222.000000   -10.000000
          S_7102    0.000000 -849.000000 -463.000000   -20.000000
cas9_XGAJ S_5102    0.000000    0.000000    0.000000     0.000000
          S_6102    0.000000    0.000000  -20.000000   -60.000000
          S_7102    0.000000    0.000000  -10.000000    30.000000
cas9_XWAH S_7102    0.000000 -158.000000  -19.000000    24.000000
cas9_YABE S_0002    0.000000  698.000000 -450.000000    88.000000
          S_0102    0.000000    0.000000  105.000000    63.000000
          S_1002 -964.000000  417.000000  509.000000    -2.666667
          S_1102    0.000000   89.000000 -110.000000   132.000000
          S_2002 -189.000000  -51.000000   59.000000    59.000000
          S_2102    0.000000  496.000000 -231.000000    35.000000
          S_3002  -59.000000 -108.333333 -108.333333  -108.333333
          S_3102  480.000000 -139.000000 -102.333333  -102.333333
          S_4002 -113.000000 -113.000000 -113.000000  -115.000000
          S_4102  286.000000  207.666667  207.666667   207.666667
          S_5002    0.000000  585.000000   88.000000   994.000000
          S_5102   65.333333   65.333333   65.333333   304.000000
          S_6002    0.000000  -21.000000 -577.000000  -324.000000
          S_6102    0.000000    0.000000  310.000000  -290.000000
          S_7002    0.000000 -597.000000  340.000000   151.666667
          S_7102    0.000000   80.000000 -250.000000 -1040.000000
          S_8002 -148.000000  649.000000  120.666667   120.666667
          S_9002  -15.333333  -15.333333  -15.333333  -172.000000
          S_9991    0.000000    0.000000  277.000000 -1031.000000

day                       6            7            8           9    \
species   sector
cas9_CAD  S_0102   -30.000000   -30.000000    23.333333   23.333333
          S_1102   -60.000000   -46.666667   -46.666667  -46.666667
          S_2102    76.666667    76.666667    76.666667  -20.000000
          S_3102   -43.333333  -100.000000  -310.000000  160.000000
          S_4102  -210.000000  -350.000000   130.000000  100.000000
          S_5102  -110.000000   160.000000    40.000000    3.333333
          S_6102    70.000000   -20.000000   -23.333333  -23.333333
          S_7002   -86.666667   -86.666667   -10.000000  200.000000
          S_7102   -16.666667   -16.666667   -16.666667    0.000000
          S_8002  -203.333333   890.000000   460.000000 -150.000000
          S_9002   490.000000  -630.000000  -700.000000  526.666667
cas9_FAB  S_0102    46.000000   -96.000000   -15.666667  -15.666667
          S_1102     0.000000    32.666667    32.666667   32.666667
          S_2102   -40.000000   -40.000000   -40.000000    9.000000
          S_3102    23.000000   -82.000000   -74.000000   13.000000
          S_4102     0.000000     0.000000   -45.000000 -100.000000
          S_5002     0.000000     0.000000     0.000000    0.000000
          S_5102  -140.000000    45.000000    26.000000  -12.000000
          S_6002    -3.000000    -3.000000    -3.000000   -8.000000
          S_6102  -103.000000    10.000000    18.666667   18.666667
          S_7002    -8.000000    -8.000000   -65.000000  -13.000000
          S_7102   -27.666667   -27.666667   -27.666667  -68.000000
          S_8002   -12.000000   -61.000000   -40.000000   13.000000
          S_9002   -82.000000  -302.000000  -150.000000   27.333333
cas9_HNAF S_0102  -236.000000  -326.000000   404.333333  404.333333
          S_1102  -345.000000  -102.000000  -102.000000 -102.000000
          S_2102    49.333333    49.333333    49.333333 -109.000000
          S_3102    13.000000   138.000000    30.000000  -20.000000
          S_4102   118.000000   -39.000000   -50.000000    0.000000
          S_5102  -464.000000   129.000000  -198.000000   95.333333
...                       ...          ...          ...         ...
cas9_NIAG S_8002    -7.000000   120.000000   136.000000 -120.000000
          S_9002   -11.000000  -262.000000   490.000000    7.333333
cas9_VBBA S_3102   -19.666667   628.000000  -158.000000  -81.000000
          S_4102   -88.000000   115.000000  -750.000000  280.000000
          S_5102 -2339.000000  -628.000000  1662.000000    6.333333
          S_6102   160.000000  1449.000000   547.666667  547.666667
          S_7102  -135.000000  -135.000000  -135.000000  137.000000
cas9_XGAJ S_5102     0.000000     0.000000     0.000000    0.000000
          S_6102   -30.000000  -100.000000   -76.666667  -76.666667
          S_7102    -3.333333    -3.333333    -3.333333   20.000000
cas9_XWAH S_7102    14.666667    14.666667    14.666667  -44.000000
cas9_YABE S_0002     9.000000  -132.000000  -132.000000 -132.000000
          S_0102   114.000000  -118.000000     8.333333    8.333333
          S_1002    -2.666667    -2.666667  -291.000000 -623.000000
          S_1102   302.000000   -78.666667   -78.666667  -78.666667
          S_2002    59.000000   -80.000000    67.000000   97.000000
          S_2102    16.333333    16.333333    16.333333 -289.000000
          S_3002    47.000000    76.000000  -177.000000   17.000000
          S_3102  -102.333333   350.000000   -34.000000 -100.000000
          S_4002    -8.000000   159.000000   219.000000  -49.000000
          S_4102  -459.000000   211.000000   126.000000  -38.000000
          S_5002   -84.000000   -52.000000   -52.000000  -52.000000
          S_5102    42.000000  -627.000000   328.000000   60.333333
          S_6002     8.333333     8.333333     8.333333  194.000000
          S_6102   720.000000   -60.000000  -116.666667 -116.666667
          S_7002   151.666667   151.666667   -20.000000  188.000000
          S_7102   100.000000   100.000000   100.000000  500.000000
          S_8002   120.666667   181.000000    58.000000 -205.000000
          S_9002   248.000000   -34.000000   202.000000   25.333333
          S_9991  -265.000000    97.000000     7.000000    7.000000

day                       10          11  ...           296          297  \
species   sector                          ...
cas9_CAD  S_0102    23.333333   80.000000 ...     66.666667    66.666667
          S_1102  -780.000000  240.000000 ...     20.000000   280.000000
          S_2102   -80.000000   60.000000 ...     50.000000     0.000000
          S_3102   -80.000000   10.000000 ...      0.000000    80.000000
          S_4102   -76.666667  -76.666667 ...     60.000000   -36.666667
          S_5102     3.333333    3.333333 ...    -13.333333   -13.333333
          S_6102   -23.333333   40.000000 ...      3.333333     3.333333
          S_7002  -130.000000 -280.000000 ...    450.000000  -990.000000
          S_7102   -50.000000  100.000000 ...      0.000000     0.000000
          S_8002  -450.000000  163.333333 ...    190.000000   360.000000
          S_9002   526.666667  526.666667 ...     20.000000    20.000000
cas9_FAB  S_0102   -15.666667    7.000000 ...      1.333333     1.333333
          S_1102     0.000000  172.000000 ...     27.666667    68.000000
          S_2102   -33.000000  -69.000000 ...   -122.000000   -98.000000
          S_3102    17.000000   27.000000 ...    -59.000000    23.000000
          S_4102    -5.666667   -5.666667 ...    -71.000000    18.000000
          S_5002     0.000000    0.000000 ...     -2.333333    38.000000
          S_5102   -12.000000  -12.000000 ...     28.333333    28.333333
          S_6002    73.000000   -6.000000 ...   -111.000000     0.000000
          S_6102    18.666667  -47.000000 ...      8.000000     8.000000
          S_7002    62.000000 -101.000000 ...    -20.000000    95.000000
          S_7102   -76.000000  -76.000000 ...      0.000000   180.000000
          S_8002   -54.000000  -23.333333 ...   -424.000000  -227.000000
          S_9002    27.333333   27.333333 ...     41.333333    41.333333
cas9_HNAF S_0102   404.333333  268.000000 ...   -102.000000  -102.000000
          S_1102  -345.000000  227.000000 ...   -233.333333  -454.000000
          S_2102    59.000000  -69.000000 ...     40.000000    10.000000
          S_3102    30.000000  -29.666667 ...     59.000000   -39.000000
          S_4102   -46.000000  -46.000000 ...     10.000000    -3.333333
          S_5102    95.333333   95.333333 ...      6.666667     6.666667
...                       ...         ... ...           ...          ...
cas9_NIAG S_8002  -196.000000    1.666667 ...    -16.000000   305.000000
          S_9002     7.333333    7.333333 ...     -3.666667    -3.666667
cas9_VBBA S_3102  -215.000000  -68.000000 ...    347.000000 -1193.000000
          S_4102   196.000000  196.000000 ...   -694.000000   -58.666667
          S_5102     6.333333    6.333333 ...   -473.333333  -473.333333
          S_6102   547.666667 -891.000000 ...    -45.000000   -45.000000
          S_7102  2230.000000 -135.000000 ...   2820.000000   -80.000000
cas9_XGAJ S_5102     0.000000    0.000000 ...     50.000000    50.000000
          S_6102   -76.666667 -690.000000 ...     20.000000    20.000000
          S_7102   -25.000000   -5.000000 ...    -10.000000     7.000000
cas9_XWAH S_7102   -92.000000   87.000000 ...    -40.000000   100.000000
cas9_YABE S_0002   160.000000  463.000000 ...    -51.666667   576.000000
          S_0102     8.333333  110.000000 ...     19.666667    19.666667
          S_1002  -168.000000   88.000000 ...   -168.000000  -210.000000
          S_1102   -42.000000 -198.000000 ...    -35.000000   295.000000
          S_2002   223.000000   25.333333 ...    159.000000     9.000000
          S_2102  -135.000000  -25.000000 ...    337.000000   198.000000
          S_3002   -22.666667  -22.666667 ...   -138.000000   -64.666667
          S_3102  -296.000000   73.333333 ...   -257.000000   299.000000
          S_4002   -49.000000  -49.000000 ...      0.000000     0.000000
          S_4102   -53.333333  -53.333333 ...   -140.000000   -10.000000
          S_5002   523.000000 -505.000000 ...    -18.333333   593.000000
          S_5102    60.333333   60.333333 ...     -3.333333    -3.333333
          S_6002   320.000000  223.000000 ...    190.000000  -333.000000
          S_6102  -116.666667 -110.000000 ...    -53.333333   -53.333333
          S_7002  -390.000000   96.000000 ...     59.000000   232.000000
          S_7102  -160.000000   60.000000 ...     90.000000    60.000000
          S_8002   285.000000   63.333333 ...   -122.000000   181.000000
          S_9002    25.333333   25.333333 ...     32.666667    32.666667
          S_9991     7.000000  892.000000 ...   -144.333333  -144.333333

day                       298          299         300          301  \
species   sector
cas9_CAD  S_0102   -50.000000    50.000000  -30.000000     0.000000
          S_1102   -30.000000  -120.000000 -130.000000   120.000000
          S_2102   -50.000000    50.000000  -10.000000   -10.000000
          S_3102    33.333333    33.333333   33.333333  -160.000000
          S_4102   -36.666667   -36.666667  -40.000000  -360.000000
          S_5102   -13.333333    40.000000  260.000000   110.000000
          S_6102   -90.000000   -10.000000   60.000000    20.000000
          S_7002 -1210.000000    36.666667   36.666667    36.666667
          S_7102     0.000000     0.000000    0.000000     0.000000
          S_8002   220.000000   220.000000  220.000000  -330.000000
          S_9002    20.000000    90.000000  320.000000  -230.000000
cas9_FAB  S_0102    -4.000000    36.000000   -8.000000   -31.000000
          S_1102    -4.000000     7.000000   44.000000    -0.666667
          S_2102   168.000000   -45.000000   13.200000    13.200000
          S_3102    -7.666667    -7.666667   -7.666667   -17.000000
          S_4102    18.000000    18.000000  -28.000000   -16.000000
          S_5002    -7.000000   -54.000000   16.000000    19.666667
          S_5102    28.333333    27.000000  -94.000000     0.000000
          S_6002    59.000000   -16.000000   25.333333    25.333333
          S_6102   -14.000000   101.000000  160.000000    77.000000
          S_7002   -29.000000   -26.666667  -26.666667   -26.666667
          S_7102    50.000000    40.000000  -26.666667   -26.666667
          S_8002   -43.333333   -43.333333  -43.333333   206.000000
          S_9002    41.333333    22.000000   41.000000    39.000000
cas9_HNAF S_0102   168.000000   109.000000    9.000000   347.000000
          S_1102   236.000000    -9.000000  118.000000   111.666667
          S_2102   -89.000000    89.000000  -21.800000   -21.800000
          S_3102    16.333333    16.333333   16.333333   -10.000000
          S_4102    -3.333333    -3.333333 -118.000000     0.000000
          S_5102     6.666667    30.000000 -306.000000   158.000000
...                       ...          ...         ...          ...
cas9_NIAG S_8002   -36.333333   -36.333333  -36.333333  -229.000000
          S_9002    -3.666667   -22.000000   16.000000   -49.000000
cas9_VBBA S_3102   -34.666667   -34.666667  -34.666667  -321.000000
          S_4102   -58.666667   -58.666667 -400.000000   855.000000
          S_5102  -473.333333  -659.000000 -632.000000  -781.000000
          S_6102  -415.000000   512.000000 -425.000000  3725.000000
          S_7102  2210.000000 -2370.000000  323.333333   323.333333
cas9_XGAJ S_5102    50.000000  -140.000000 -650.000000 -1100.000000
          S_6102   -30.000000   -10.000000  -35.000000    25.000000
          S_7102     8.000000     1.000000    0.666667     0.666667
cas9_XWAH S_7102  -125.000000  -125.000000   25.000000    25.000000
cas9_YABE S_0002     0.000000   169.000000  113.000000    75.666667
          S_0102  -345.000000  -223.000000 -185.000000   -59.000000
          S_1002   227.000000   157.000000  157.000000   157.000000
          S_1102   248.000000  -509.000000 -404.000000   199.666667
          S_2002    49.000000    49.000000   49.000000   -59.000000
          S_2102   227.000000  -493.000000  105.400000   105.400000
          S_3002   -64.666667   -64.666667 -354.000000    72.000000
          S_3102   -47.666667   -47.666667  -47.666667  -576.000000
          S_4002     0.000000   138.000000 -724.000000   -42.000000
          S_4102   -10.000000   -10.000000   -4.000000   -55.000000
          S_5002  -123.000000   195.000000 -249.000000  -165.666667
          S_5102    -3.333333  -200.000000  120.000000    80.000000
          S_6002  -294.000000   299.000000  -24.000000   -24.000000
          S_6102   170.000000   230.000000   10.000000   210.000000
          S_7002  -586.000000    -1.333333   -1.333333    -1.333333
          S_7102  -220.000000   100.000000  -66.666667   -66.666667
          S_8002    50.333333    50.333333   50.333333  -564.000000
          S_9002    32.666667    75.000000  168.000000  -109.000000
          S_9991   -59.000000   699.000000  134.000000    55.000000

day                       302          303         304  305
species   sector
cas9_CAD  S_0102     0.000000     0.000000    0.000000  0.0
          S_1102   120.000000   120.000000    0.000000  0.0
          S_2102   -10.000000   -10.000000  -10.000000  0.0
          S_3102   -90.000000     0.000000    0.000000  0.0
          S_4102  -200.000000  -280.000000    0.000000  0.0
          S_5102  -180.000000     0.000000    0.000000  0.0
          S_6102    -6.666667    -6.666667   -6.666667  0.0
          S_7002  1000.000000   480.000000    0.000000  0.0
          S_7102     0.000000     0.000000    0.000000  0.0
          S_8002   -90.000000  -270.000000 -900.000000  0.0
          S_9002   140.000000     0.000000    0.000000  0.0
cas9_FAB  S_0102     0.000000     0.000000    0.000000  0.0
          S_1102    -0.666667    -0.666667    0.000000  0.0
          S_2102    13.200000    13.200000   13.200000  0.0
          S_3102    22.000000    33.000000    0.000000  0.0
          S_4102    26.000000    28.000000    0.000000  0.0
          S_5002    19.666667    19.666667    0.000000  0.0
          S_5102    30.000000     0.000000    0.000000  0.0
          S_6002    25.333333   -23.000000    0.000000  0.0
          S_6102    21.666667    21.666667   21.666667  0.0
          S_7002    21.000000    63.000000    0.000000  0.0
          S_7102   -26.666667     0.000000    0.000000  0.0
          S_8002   151.000000   -76.000000  -13.000000  0.0
          S_9002     0.000000     0.000000    0.000000  0.0
cas9_HNAF S_0102     0.000000     0.000000    0.000000  0.0
          S_1102   111.666667   111.666667    0.000000  0.0
          S_2102   -21.800000   -21.800000  -21.800000  0.0
          S_3102    30.000000    19.000000    0.000000  0.0
          S_4102   -10.000000   -74.000000    0.000000  0.0
          S_5102   -89.000000     0.000000    0.000000  0.0
...                       ...          ...         ...  ...
cas9_NIAG S_8002   169.000000   -87.000000 -469.000000  0.0
          S_9002    -5.000000     0.000000    0.000000  0.0
cas9_VBBA S_3102   860.000000   305.000000    0.000000  0.0
          S_4102 -1077.000000 -2051.000000    0.000000  0.0
          S_5102 -5060.000000     0.000000    0.000000  0.0
          S_6102   584.666667   584.666667  584.666667  0.0
          S_7102   323.333333     0.000000    0.000000  0.0
cas9_XGAJ S_5102   170.000000     0.000000    0.000000  0.0
          S_6102    -6.666667    -6.666667   -6.666667  0.0
          S_7102     0.666667     0.000000    0.000000  0.0
cas9_XWAH S_7102    25.000000     0.000000    0.000000  0.0
cas9_YABE S_0002    75.666667    75.666667 -239.000000  0.0
          S_0102     0.000000     0.000000    0.000000  0.0
          S_1002   -96.000000   101.000000    0.000000  0.0
          S_1102   199.666667   199.666667    0.000000  0.0

In [25]:
X_train_diff_shift = shift_df(X_train_diff)

In [26]:
X_train_diff_shift

day               2           3           4           5            6    \
species   sector
cas9_CAD  S_0102  0.0    0.000000    0.000000 -150.000000  -130.000000
          S_1102  0.0    0.000000 -109.000000   79.000000    40.000000
          S_2102  0.0    0.000000 -390.000000  -10.000000   180.000000
          S_3102  0.0  -10.000000 -160.000000  -43.333333   -43.333333
          S_4102  0.0 -410.000000 -193.333333 -193.333333  -193.333333
          S_5102  0.0   93.333333   93.333333   93.333333    10.000000
          S_6102  0.0    0.000000    0.000000  560.000000   150.000000
          S_7002  0.0    0.000000 -100.000000  270.000000   -86.666667
          S_7102  0.0    0.000000    0.000000   50.000000    50.000000
          S_8002  0.0  300.000000  530.000000 -203.333333  -203.333333
          S_9002  0.0 -139.666667 -139.666667 -139.666667 -1211.000000
cas9_FAB  S_0102  0.0    0.000000    0.000000   50.000000    13.000000
          S_1102  0.0    0.000000    0.000000   48.000000   -24.000000
          S_2102  0.0    0.000000   60.000000 -131.000000    52.000000
          S_3102  0.0  -77.000000    8.000000   23.000000    23.000000
          S_4102  0.0  -77.000000   -2.000000   -2.000000    -2.000000
          S_5002  0.0    0.000000    0.000000    0.000000     0.000000
          S_5102  0.0   -2.000000   -2.000000   -2.000000  -180.000000
          S_6002  0.0    0.000000  -57.000000  -88.000000   -50.000000
          S_6102  0.0    0.000000    0.000000  -82.000000   -79.000000
          S_7002  0.0    0.000000  -72.000000   89.000000    -8.000000
          S_7102  0.0    0.000000  -29.000000 -116.000000   -10.000000
          S_8002  0.0 -131.000000  -53.000000  -12.000000   -12.000000
          S_9002  0.0  -66.333333  -66.333333  -66.333333  -253.000000
cas9_HNAF S_0102  0.0    0.000000    0.000000 -513.000000  -612.000000
          S_1102  0.0    0.000000 -236.000000 -484.000000     0.000000
          S_2102  0.0    0.000000   59.000000    0.000000   316.000000
          S_3102  0.0  -39.000000  -20.000000   13.000000    13.000000
          S_4102  0.0  187.000000  -16.333333  -16.333333   -16.333333
          S_5102  0.0 -286.000000 -286.000000 -286.000000   138.000000
...               ...         ...         ...         ...          ...
cas9_NIAG S_8002  0.0  -71.000000   71.000000   -7.000000    -7.000000
          S_9002  0.0  -40.000000  -40.000000  -40.000000     6.000000
cas9_VBBA S_3102  0.0    0.000000    0.000000  -19.666667   -19.666667
          S_4102  0.0 -278.000000  554.333333  554.333333   554.333333
          S_5102  0.0  372.666667  372.666667  372.666667   286.000000
          S_6102  0.0    0.000000    0.000000  222.000000   -10.000000
          S_7102  0.0    0.000000 -849.000000 -463.000000   -20.000000
cas9_XGAJ S_5102  0.0    0.000000    0.000000    0.000000     0.000000
          S_6102  0.0    0.000000    0.000000  -20.000000   -60.000000
          S_7102  0.0    0.000000    0.000000  -10.000000    30.000000
cas9_XWAH S_7102  0.0    0.000000 -158.000000  -19.000000    24.000000
cas9_YABE S_0002  0.0    0.000000  698.000000 -450.000000    88.000000
          S_0102  0.0    0.000000    0.000000  105.000000    63.000000
          S_1002  0.0 -964.000000  417.000000  509.000000    -2.666667
          S_1102  0.0    0.000000   89.000000 -110.000000   132.000000
          S_2002  0.0 -189.000000  -51.000000   59.000000    59.000000
          S_2102  0.0    0.000000  496.000000 -231.000000    35.000000
          S_3002  0.0  -59.000000 -108.333333 -108.333333  -108.333333
          S_3102  0.0  480.000000 -139.000000 -102.333333  -102.333333
          S_4002  0.0 -113.000000 -113.000000 -113.000000  -115.000000
          S_4102  0.0  286.000000  207.666667  207.666667   207.666667
          S_5002  0.0    0.000000  585.000000   88.000000   994.000000
          S_5102  0.0   65.333333   65.333333   65.333333   304.000000
          S_6002  0.0    0.000000  -21.000000 -577.000000  -324.000000
          S_6102  0.0    0.000000    0.000000  310.000000  -290.000000
          S_7002  0.0    0.000000 -597.000000  340.000000   151.666667
          S_7102  0.0    0.000000   80.000000 -250.000000 -1040.000000
          S_8002  0.0 -148.000000  649.000000  120.666667   120.666667
          S_9002  0.0  -15.333333  -15.333333  -15.333333  -172.000000
          S_9991  0.0    0.000000    0.000000  277.000000 -1031.000000

day                       7            8            9           10   \
species   sector
cas9_CAD  S_0102   -30.000000   -30.000000    23.333333   23.333333
          S_1102   -60.000000   -46.666667   -46.666667  -46.666667
          S_2102    76.666667    76.666667    76.666667  -20.000000
          S_3102   -43.333333  -100.000000  -310.000000  160.000000
          S_4102  -210.000000  -350.000000   130.000000  100.000000
          S_5102  -110.000000   160.000000    40.000000    3.333333
          S_6102    70.000000   -20.000000   -23.333333  -23.333333
          S_7002   -86.666667   -86.666667   -10.000000  200.000000
          S_7102   -16.666667   -16.666667   -16.666667    0.000000
          S_8002  -203.333333   890.000000   460.000000 -150.000000
          S_9002   490.000000  -630.000000  -700.000000  526.666667
cas9_FAB  S_0102    46.000000   -96.000000   -15.666667  -15.666667
          S_1102     0.000000    32.666667    32.666667   32.666667
          S_2102   -40.000000   -40.000000   -40.000000    9.000000
          S_3102    23.000000   -82.000000   -74.000000   13.000000
          S_4102     0.000000     0.000000   -45.000000 -100.000000
          S_5002     0.000000     0.000000     0.000000    0.000000
          S_5102  -140.000000    45.000000    26.000000  -12.000000
          S_6002    -3.000000    -3.000000    -3.000000   -8.000000
          S_6102  -103.000000    10.000000    18.666667   18.666667
          S_7002    -8.000000    -8.000000   -65.000000  -13.000000
          S_7102   -27.666667   -27.666667   -27.666667  -68.000000
          S_8002   -12.000000   -61.000000   -40.000000   13.000000
          S_9002   -82.000000  -302.000000  -150.000000   27.333333
cas9_HNAF S_0102  -236.000000  -326.000000   404.333333  404.333333
          S_1102  -345.000000  -102.000000  -102.000000 -102.000000
          S_2102    49.333333    49.333333    49.333333 -109.000000
          S_3102    13.000000   138.000000    30.000000  -20.000000
          S_4102   118.000000   -39.000000   -50.000000    0.000000
          S_5102  -464.000000   129.000000  -198.000000   95.333333
...                       ...          ...          ...         ...
cas9_NIAG S_8002    -7.000000   120.000000   136.000000 -120.000000
          S_9002   -11.000000  -262.000000   490.000000    7.333333
cas9_VBBA S_3102   -19.666667   628.000000  -158.000000  -81.000000
          S_4102   -88.000000   115.000000  -750.000000  280.000000
          S_5102 -2339.000000  -628.000000  1662.000000    6.333333
          S_6102   160.000000  1449.000000   547.666667  547.666667
          S_7102  -135.000000  -135.000000  -135.000000  137.000000
cas9_XGAJ S_5102     0.000000     0.000000     0.000000    0.000000
          S_6102   -30.000000  -100.000000   -76.666667  -76.666667
          S_7102    -3.333333    -3.333333    -3.333333   20.000000
cas9_XWAH S_7102    14.666667    14.666667    14.666667  -44.000000
cas9_YABE S_0002     9.000000  -132.000000  -132.000000 -132.000000
          S_0102   114.000000  -118.000000     8.333333    8.333333
          S_1002    -2.666667    -2.666667  -291.000000 -623.000000
          S_1102   302.000000   -78.666667   -78.666667  -78.666667
          S_2002    59.000000   -80.000000    67.000000   97.000000
          S_2102    16.333333    16.333333    16.333333 -289.000000
          S_3002    47.000000    76.000000  -177.000000   17.000000
          S_3102  -102.333333   350.000000   -34.000000 -100.000000
          S_4002    -8.000000   159.000000   219.000000  -49.000000
          S_4102  -459.000000   211.000000   126.000000  -38.000000
          S_5002   -84.000000   -52.000000   -52.000000  -52.000000
          S_5102    42.000000  -627.000000   328.000000   60.333333
          S_6002     8.333333     8.333333     8.333333  194.000000
          S_6102   720.000000   -60.000000  -116.666667 -116.666667
          S_7002   151.666667   151.666667   -20.000000  188.000000
          S_7102   100.000000   100.000000   100.000000  500.000000
          S_8002   120.666667   181.000000    58.000000 -205.000000
          S_9002   248.000000   -34.000000   202.000000   25.333333
          S_9991  -265.000000    97.000000     7.000000    7.000000

day                       11      ...              296          297  \
species   sector                  ...
cas9_CAD  S_0102    23.333333     ...        66.666667    66.666667
          S_1102  -780.000000     ...        20.000000    20.000000
          S_2102   -80.000000     ...         0.000000    50.000000
          S_3102   -80.000000     ...       -30.000000     0.000000
          S_4102   -76.666667     ...       -60.000000    60.000000
          S_5102     3.333333     ...        10.000000   -13.333333
          S_6102   -23.333333     ...         3.333333     3.333333
          S_7002  -130.000000     ...      -610.000000   450.000000
          S_7102   -50.000000     ...       -16.666667     0.000000
          S_8002  -450.000000     ...       880.000000   190.000000
          S_9002   526.666667     ...       290.000000    20.000000
cas9_FAB  S_0102   -15.666667     ...         1.333333     1.333333
          S_1102     0.000000     ...        27.666667    27.666667
          S_2102   -33.000000     ...        40.666667  -122.000000
          S_3102    17.000000     ...       -23.000000   -59.000000
          S_4102    -5.666667     ...        35.000000   -71.000000
          S_5002     0.000000     ...        -2.333333    -2.333333
          S_5102   -12.000000     ...      -162.000000    28.333333
          S_6002    73.000000     ...       -14.333333  -111.000000
          S_6102    18.666667     ...         8.000000     8.000000
          S_7002    62.000000     ...         7.000000   -20.000000
          S_7102   -76.000000     ...       -13.333333     0.000000
          S_8002   -54.000000     ...      -110.000000  -424.000000
          S_9002    27.333333     ...       -13.000000    41.333333
cas9_HNAF S_0102   404.333333     ...      -102.000000  -102.000000
          S_1102  -345.000000     ...      -233.333333  -233.333333
          S_2102    59.000000     ...        13.000000    40.000000
          S_3102    30.000000     ...        40.000000    59.000000
          S_4102   -46.000000     ...       -30.000000    10.000000
          S_5102    95.333333     ...      -405.000000     6.666667
...                       ...     ...              ...          ...
cas9_NIAG S_8002  -196.000000     ...       163.000000   -16.000000
          S_9002     7.333333     ...        60.000000    -3.666667
cas9_VBBA S_3102  -215.000000     ...       583.000000   347.000000
          S_4102   196.000000     ...     -2356.000000  -694.000000
          S_5102     6.333333     ...     -1925.000000  -473.333333
          S_6102   547.666667     ...       -45.000000   -45.000000
          S_7102  2230.000000     ...       530.000000  2820.000000
cas9_XGAJ S_5102     0.000000     ...        10.000000    50.000000
          S_6102   -76.666667     ...        20.000000    20.000000
          S_7102   -25.000000     ...        -0.666667   -10.000000
cas9_XWAH S_7102   -92.000000     ...         8.000000   -40.000000
cas9_YABE S_0002   160.000000     ...       -51.666667   -51.666667
          S_0102     8.333333     ...        19.666667    19.666667
          S_1002  -168.000000     ...      -261.000000  -168.000000
          S_1102   -42.000000     ...       -35.000000   -35.000000
          S_2002   223.000000     ...      -151.000000   159.000000
          S_2102  -135.000000     ...       -25.333333   337.000000
          S_3002   -22.666667     ...       273.000000  -138.000000
          S_3102  -296.000000     ...        42.000000  -257.000000
          S_4002   -49.000000     ...       780.000000     0.000000
          S_4102   -53.333333     ...      -277.000000  -140.000000
          S_5002   523.000000     ...       -18.333333   -18.333333
          S_5102    60.333333     ...      -580.000000    -3.333333
          S_6002   320.000000     ...      -175.666667   190.000000
          S_6102  -116.666667     ...       -53.333333   -53.333333
          S_7002  -390.000000     ...       156.000000    59.000000
          S_7102  -160.000000     ...       260.000000    90.000000
          S_8002   285.000000     ...       -67.000000  -122.000000
          S_9002    25.333333     ...       172.000000    32.666667
          S_9991     7.000000     ...      -144.333333  -144.333333

day                       298          299          300         301  \
species   sector
cas9_CAD  S_0102    66.666667   -50.000000    50.000000  -30.000000
          S_1102   280.000000   -30.000000  -120.000000 -130.000000
          S_2102     0.000000   -50.000000    50.000000  -10.000000
          S_3102    80.000000    33.333333    33.333333   33.333333
          S_4102   -36.666667   -36.666667   -36.666667  -40.000000
          S_5102   -13.333333   -13.333333    40.000000  260.000000
          S_6102     3.333333   -90.000000   -10.000000   60.000000
          S_7002  -990.000000 -1210.000000    36.666667   36.666667
          S_7102     0.000000     0.000000     0.000000    0.000000
          S_8002   360.000000   220.000000   220.000000  220.000000
          S_9002    20.000000    20.000000    90.000000  320.000000
cas9_FAB  S_0102     1.333333    -4.000000    36.000000   -8.000000
          S_1102    68.000000    -4.000000     7.000000   44.000000
          S_2102   -98.000000   168.000000   -45.000000   13.200000
          S_3102    23.000000    -7.666667    -7.666667   -7.666667
          S_4102    18.000000    18.000000    18.000000  -28.000000
          S_5002    38.000000    -7.000000   -54.000000   16.000000
          S_5102    28.333333    28.333333    27.000000  -94.000000
          S_6002     0.000000    59.000000   -16.000000   25.333333
          S_6102     8.000000   -14.000000   101.000000  160.000000
          S_7002    95.000000   -29.000000   -26.666667  -26.666667
          S_7102   180.000000    50.000000    40.000000  -26.666667
          S_8002  -227.000000   -43.333333   -43.333333  -43.333333
          S_9002    41.333333    41.333333    22.000000   41.000000
cas9_HNAF S_0102  -102.000000   168.000000   109.000000    9.000000
          S_1102  -454.000000   236.000000    -9.000000  118.000000
          S_2102    10.000000   -89.000000    89.000000  -21.800000
          S_3102   -39.000000    16.333333    16.333333   16.333333
          S_4102    -3.333333    -3.333333    -3.333333 -118.000000
          S_5102     6.666667     6.666667    30.000000 -306.000000
...                       ...          ...          ...         ...
cas9_NIAG S_8002   305.000000   -36.333333   -36.333333  -36.333333
          S_9002    -3.666667    -3.666667   -22.000000   16.000000
cas9_VBBA S_3102 -1193.000000   -34.666667   -34.666667  -34.666667
          S_4102   -58.666667   -58.666667   -58.666667 -400.000000
          S_5102  -473.333333  -473.333333  -659.000000 -632.000000
          S_6102   -45.000000  -415.000000   512.000000 -425.000000
          S_7102   -80.000000  2210.000000 -2370.000000  323.333333
cas9_XGAJ S_5102    50.000000    50.000000  -140.000000 -650.000000
          S_6102    20.000000   -30.000000   -10.000000  -35.000000
          S_7102     7.000000     8.000000     1.000000    0.666667
cas9_XWAH S_7102   100.000000  -125.000000  -125.000000   25.000000
cas9_YABE S_0002   576.000000     0.000000   169.000000  113.000000
          S_0102    19.666667  -345.000000  -223.000000 -185.000000
          S_1002  -210.000000   227.000000   157.000000  157.000000
          S_1102   295.000000   248.000000  -509.000000 -404.000000
          S_2002     9.000000    49.000000    49.000000   49.000000
          S_2102   198.000000   227.000000  -493.000000  105.400000
          S_3002   -64.666667   -64.666667   -64.666667 -354.000000
          S_3102   299.000000   -47.666667   -47.666667  -47.666667
          S_4002     0.000000     0.000000   138.000000 -724.000000
          S_4102   -10.000000   -10.000000   -10.000000   -4.000000
          S_5002   593.000000  -123.000000   195.000000 -249.000000
          S_5102    -3.333333    -3.333333  -200.000000  120.000000
          S_6002  -333.000000  -294.000000   299.000000  -24.000000
          S_6102   -53.333333   170.000000   230.000000   10.000000
          S_7002   232.000000  -586.000000    -1.333333   -1.333333
          S_7102    60.000000  -220.000000   100.000000  -66.666667
          S_8002   181.000000    50.333333    50.333333   50.333333
          S_9002    32.666667    32.666667    75.000000  168.000000
          S_9991  -144.333333   -59.000000   699.000000  134.000000

day                       302          303          304         305
species   sector
cas9_CAD  S_0102     0.000000     0.000000     0.000000    0.000000
          S_1102   120.000000   120.000000   120.000000    0.000000
          S_2102   -10.000000   -10.000000   -10.000000  -10.000000
          S_3102  -160.000000   -90.000000     0.000000    0.000000
          S_4102  -360.000000  -200.000000  -280.000000    0.000000
          S_5102   110.000000  -180.000000     0.000000    0.000000
          S_6102    20.000000    -6.666667    -6.666667   -6.666667
          S_7002    36.666667  1000.000000   480.000000    0.000000
          S_7102     0.000000     0.000000     0.000000    0.000000
          S_8002  -330.000000   -90.000000  -270.000000 -900.000000
          S_9002  -230.000000   140.000000     0.000000    0.000000
cas9_FAB  S_0102   -31.000000     0.000000     0.000000    0.000000
          S_1102    -0.666667    -0.666667    -0.666667    0.000000
          S_2102    13.200000    13.200000    13.200000   13.200000
          S_3102   -17.000000    22.000000    33.000000    0.000000
          S_4102   -16.000000    26.000000    28.000000    0.000000
          S_5002    19.666667    19.666667    19.666667    0.000000
          S_5102     0.000000    30.000000     0.000000    0.000000
          S_6002    25.333333    25.333333   -23.000000    0.000000
          S_6102    77.000000    21.666667    21.666667   21.666667
          S_7002   -26.666667    21.000000    63.000000    0.000000
          S_7102   -26.666667   -26.666667     0.000000    0.000000
          S_8002   206.000000   151.000000   -76.000000  -13.000000
          S_9002    39.000000     0.000000     0.000000    0.000000
cas9_HNAF S_0102   347.000000     0.000000     0.000000    0.000000
          S_1102   111.666667   111.666667   111.666667    0.000000
          S_2102   -21.800000   -21.800000   -21.800000  -21.800000
          S_3102   -10.000000    30.000000    19.000000    0.000000
          S_4102     0.000000   -10.000000   -74.000000    0.000000
          S_5102   158.000000   -89.000000     0.000000    0.000000
...                       ...          ...          ...         ...
cas9_NIAG S_8002  -229.000000   169.000000   -87.000000 -469.000000
          S_9002   -49.000000    -5.000000     0.000000    0.000000
cas9_VBBA S_3102  -321.000000   860.000000   305.000000    0.000000
          S_4102   855.000000 -1077.000000 -2051.000000    0.000000
          S_5102  -781.000000 -5060.000000     0.000000    0.000000
          S_6102  3725.000000   584.666667   584.666667  584.666667
          S_7102   323.333333   323.333333     0.000000    0.000000
cas9_XGAJ S_5102 -1100.000000   170.000000     0.000000    0.000000
          S_6102    25.000000    -6.666667    -6.666667   -6.666667

In [27]:
X_train_diff_full = pd.concat([X_train_diff_shift, X_train_diff], axis=1)
print(X_train_diff_full.shape)

(144, 608)

In [28]:
X_train_diff_full

day               2           3           4           5            6    \
species   sector
cas9_CAD  S_0102  0.0    0.000000    0.000000 -150.000000  -130.000000
          S_1102  0.0    0.000000 -109.000000   79.000000    40.000000
          S_2102  0.0    0.000000 -390.000000  -10.000000   180.000000
          S_3102  0.0  -10.000000 -160.000000  -43.333333   -43.333333
          S_4102  0.0 -410.000000 -193.333333 -193.333333  -193.333333
          S_5102  0.0   93.333333   93.333333   93.333333    10.000000
          S_6102  0.0    0.000000    0.000000  560.000000   150.000000
          S_7002  0.0    0.000000 -100.000000  270.000000   -86.666667
          S_7102  0.0    0.000000    0.000000   50.000000    50.000000
          S_8002  0.0  300.000000  530.000000 -203.333333  -203.333333
          S_9002  0.0 -139.666667 -139.666667 -139.666667 -1211.000000
cas9_FAB  S_0102  0.0    0.000000    0.000000   50.000000    13.000000
          S_1102  0.0    0.000000    0.000000   48.000000   -24.000000
          S_2102  0.0    0.000000   60.000000 -131.000000    52.000000
          S_3102  0.0  -77.000000    8.000000   23.000000    23.000000
          S_4102  0.0  -77.000000   -2.000000   -2.000000    -2.000000
          S_5002  0.0    0.000000    0.000000    0.000000     0.000000
          S_5102  0.0   -2.000000   -2.000000   -2.000000  -180.000000
          S_6002  0.0    0.000000  -57.000000  -88.000000   -50.000000
          S_6102  0.0    0.000000    0.000000  -82.000000   -79.000000
          S_7002  0.0    0.000000  -72.000000   89.000000    -8.000000
          S_7102  0.0    0.000000  -29.000000 -116.000000   -10.000000
          S_8002  0.0 -131.000000  -53.000000  -12.000000   -12.000000
          S_9002  0.0  -66.333333  -66.333333  -66.333333  -253.000000
cas9_HNAF S_0102  0.0    0.000000    0.000000 -513.000000  -612.000000
          S_1102  0.0    0.000000 -236.000000 -484.000000     0.000000
          S_2102  0.0    0.000000   59.000000    0.000000   316.000000
          S_3102  0.0  -39.000000  -20.000000   13.000000    13.000000
          S_4102  0.0  187.000000  -16.333333  -16.333333   -16.333333
          S_5102  0.0 -286.000000 -286.000000 -286.000000   138.000000
...               ...         ...         ...         ...          ...
cas9_NIAG S_8002  0.0  -71.000000   71.000000   -7.000000    -7.000000
          S_9002  0.0  -40.000000  -40.000000  -40.000000     6.000000
cas9_VBBA S_3102  0.0    0.000000    0.000000  -19.666667   -19.666667
          S_4102  0.0 -278.000000  554.333333  554.333333   554.333333
          S_5102  0.0  372.666667  372.666667  372.666667   286.000000
          S_6102  0.0    0.000000    0.000000  222.000000   -10.000000
          S_7102  0.0    0.000000 -849.000000 -463.000000   -20.000000
cas9_XGAJ S_5102  0.0    0.000000    0.000000    0.000000     0.000000
          S_6102  0.0    0.000000    0.000000  -20.000000   -60.000000
          S_7102  0.0    0.000000    0.000000  -10.000000    30.000000
cas9_XWAH S_7102  0.0    0.000000 -158.000000  -19.000000    24.000000
cas9_YABE S_0002  0.0    0.000000  698.000000 -450.000000    88.000000
          S_0102  0.0    0.000000    0.000000  105.000000    63.000000
          S_1002  0.0 -964.000000  417.000000  509.000000    -2.666667
          S_1102  0.0    0.000000   89.000000 -110.000000   132.000000
          S_2002  0.0 -189.000000  -51.000000   59.000000    59.000000
          S_2102  0.0    0.000000  496.000000 -231.000000    35.000000
          S_3002  0.0  -59.000000 -108.333333 -108.333333  -108.333333
          S_3102  0.0  480.000000 -139.000000 -102.333333  -102.333333
          S_4002  0.0 -113.000000 -113.000000 -113.000000  -115.000000
          S_4102  0.0  286.000000  207.666667  207.666667   207.666667
          S_5002  0.0    0.000000  585.000000   88.000000   994.000000
          S_5102  0.0   65.333333   65.333333   65.333333   304.000000
          S_6002  0.0    0.000000  -21.000000 -577.000000  -324.000000
          S_6102  0.0    0.000000    0.000000  310.000000  -290.000000
          S_7002  0.0    0.000000 -597.000000  340.000000   151.666667
          S_7102  0.0    0.000000   80.000000 -250.000000 -1040.000000
          S_8002  0.0 -148.000000  649.000000  120.666667   120.666667
          S_9002  0.0  -15.333333  -15.333333  -15.333333  -172.000000
          S_9991  0.0    0.000000    0.000000  277.000000 -1031.000000

day                       7            8            9           10   \
species   sector
cas9_CAD  S_0102   -30.000000   -30.000000    23.333333   23.333333
          S_1102   -60.000000   -46.666667   -46.666667  -46.666667
          S_2102    76.666667    76.666667    76.666667  -20.000000
          S_3102   -43.333333  -100.000000  -310.000000  160.000000
          S_4102  -210.000000  -350.000000   130.000000  100.000000
          S_5102  -110.000000   160.000000    40.000000    3.333333
          S_6102    70.000000   -20.000000   -23.333333  -23.333333
          S_7002   -86.666667   -86.666667   -10.000000  200.000000
          S_7102   -16.666667   -16.666667   -16.666667    0.000000
          S_8002  -203.333333   890.000000   460.000000 -150.000000
          S_9002   490.000000  -630.000000  -700.000000  526.666667
cas9_FAB  S_0102    46.000000   -96.000000   -15.666667  -15.666667
          S_1102     0.000000    32.666667    32.666667   32.666667
          S_2102   -40.000000   -40.000000   -40.000000    9.000000
          S_3102    23.000000   -82.000000   -74.000000   13.000000
          S_4102     0.000000     0.000000   -45.000000 -100.000000
          S_5002     0.000000     0.000000     0.000000    0.000000
          S_5102  -140.000000    45.000000    26.000000  -12.000000
          S_6002    -3.000000    -3.000000    -3.000000   -8.000000
          S_6102  -103.000000    10.000000    18.666667   18.666667
          S_7002    -8.000000    -8.000000   -65.000000  -13.000000
          S_7102   -27.666667   -27.666667   -27.666667  -68.000000
          S_8002   -12.000000   -61.000000   -40.000000   13.000000
          S_9002   -82.000000  -302.000000  -150.000000   27.333333
cas9_HNAF S_0102  -236.000000  -326.000000   404.333333  404.333333
          S_1102  -345.000000  -102.000000  -102.000000 -102.000000
          S_2102    49.333333    49.333333    49.333333 -109.000000
          S_3102    13.000000   138.000000    30.000000  -20.000000
          S_4102   118.000000   -39.000000   -50.000000    0.000000
          S_5102  -464.000000   129.000000  -198.000000   95.333333
...                       ...          ...          ...         ...
cas9_NIAG S_8002    -7.000000   120.000000   136.000000 -120.000000
          S_9002   -11.000000  -262.000000   490.000000    7.333333
cas9_VBBA S_3102   -19.666667   628.000000  -158.000000  -81.000000
          S_4102   -88.000000   115.000000  -750.000000  280.000000
          S_5102 -2339.000000  -628.000000  1662.000000    6.333333
          S_6102   160.000000  1449.000000   547.666667  547.666667
          S_7102  -135.000000  -135.000000  -135.000000  137.000000
cas9_XGAJ S_5102     0.000000     0.000000     0.000000    0.000000
          S_6102   -30.000000  -100.000000   -76.666667  -76.666667
          S_7102    -3.333333    -3.333333    -3.333333   20.000000
cas9_XWAH S_7102    14.666667    14.666667    14.666667  -44.000000
cas9_YABE S_0002     9.000000  -132.000000  -132.000000 -132.000000
          S_0102   114.000000  -118.000000     8.333333    8.333333
          S_1002    -2.666667    -2.666667  -291.000000 -623.000000
          S_1102   302.000000   -78.666667   -78.666667  -78.666667
          S_2002    59.000000   -80.000000    67.000000   97.000000
          S_2102    16.333333    16.333333    16.333333 -289.000000
          S_3002    47.000000    76.000000  -177.000000   17.000000
          S_3102  -102.333333   350.000000   -34.000000 -100.000000
          S_4002    -8.000000   159.000000   219.000000  -49.000000
          S_4102  -459.000000   211.000000   126.000000  -38.000000
          S_5002   -84.000000   -52.000000   -52.000000  -52.000000
          S_5102    42.000000  -627.000000   328.000000   60.333333
          S_6002     8.333333     8.333333     8.333333  194.000000
          S_6102   720.000000   -60.000000  -116.666667 -116.666667
          S_7002   151.666667   151.666667   -20.000000  188.000000
          S_7102   100.000000   100.000000   100.000000  500.000000
          S_8002   120.666667   181.000000    58.000000 -205.000000
          S_9002   248.000000   -34.000000   202.000000   25.333333
          S_9991  -265.000000    97.000000     7.000000    7.000000

day                       11  ...           296          297          298  \
species   sector              ...
cas9_CAD  S_0102    23.333333 ...     66.666667    66.666667   -50.000000
          S_1102  -780.000000 ...     20.000000   280.000000   -30.000000
          S_2102   -80.000000 ...     50.000000     0.000000   -50.000000
          S_3102   -80.000000 ...      0.000000    80.000000    33.333333
          S_4102   -76.666667 ...     60.000000   -36.666667   -36.666667
          S_5102     3.333333 ...    -13.333333   -13.333333   -13.333333
          S_6102   -23.333333 ...      3.333333     3.333333   -90.000000
          S_7002  -130.000000 ...    450.000000  -990.000000 -1210.000000
          S_7102   -50.000000 ...      0.000000     0.000000     0.000000
          S_8002  -450.000000 ...    190.000000   360.000000   220.000000
          S_9002   526.666667 ...     20.000000    20.000000    20.000000
cas9_FAB  S_0102   -15.666667 ...      1.333333     1.333333    -4.000000
          S_1102     0.000000 ...     27.666667    68.000000    -4.000000
          S_2102   -33.000000 ...   -122.000000   -98.000000   168.000000
          S_3102    17.000000 ...    -59.000000    23.000000    -7.666667
          S_4102    -5.666667 ...    -71.000000    18.000000    18.000000
          S_5002     0.000000 ...     -2.333333    38.000000    -7.000000
          S_5102   -12.000000 ...     28.333333    28.333333    28.333333
          S_6002    73.000000 ...   -111.000000     0.000000    59.000000
          S_6102    18.666667 ...      8.000000     8.000000   -14.000000
          S_7002    62.000000 ...    -20.000000    95.000000   -29.000000
          S_7102   -76.000000 ...      0.000000   180.000000    50.000000
          S_8002   -54.000000 ...   -424.000000  -227.000000   -43.333333
          S_9002    27.333333 ...     41.333333    41.333333    41.333333
cas9_HNAF S_0102   404.333333 ...   -102.000000  -102.000000   168.000000
          S_1102  -345.000000 ...   -233.333333  -454.000000   236.000000
          S_2102    59.000000 ...     40.000000    10.000000   -89.000000
          S_3102    30.000000 ...     59.000000   -39.000000    16.333333
          S_4102   -46.000000 ...     10.000000    -3.333333    -3.333333
          S_5102    95.333333 ...      6.666667     6.666667     6.666667
...                       ... ...           ...          ...          ...
cas9_NIAG S_8002  -196.000000 ...    -16.000000   305.000000   -36.333333
          S_9002     7.333333 ...     -3.666667    -3.666667    -3.666667
cas9_VBBA S_3102  -215.000000 ...    347.000000 -1193.000000   -34.666667
          S_4102   196.000000 ...   -694.000000   -58.666667   -58.666667
          S_5102     6.333333 ...   -473.333333  -473.333333  -473.333333
          S_6102   547.666667 ...    -45.000000   -45.000000  -415.000000
          S_7102  2230.000000 ...   2820.000000   -80.000000  2210.000000
cas9_XGAJ S_5102     0.000000 ...     50.000000    50.000000    50.000000
          S_6102   -76.666667 ...     20.000000    20.000000   -30.000000
          S_7102   -25.000000 ...    -10.000000     7.000000     8.000000
cas9_XWAH S_7102   -92.000000 ...    -40.000000   100.000000  -125.000000
cas9_YABE S_0002   160.000000 ...    -51.666667   576.000000     0.000000
          S_0102     8.333333 ...     19.666667    19.666667  -345.000000
          S_1002  -168.000000 ...   -168.000000  -210.000000   227.000000
          S_1102   -42.000000 ...    -35.000000   295.000000   248.000000
          S_2002   223.000000 ...    159.000000     9.000000    49.000000
          S_2102  -135.000000 ...    337.000000   198.000000   227.000000
          S_3002   -22.666667 ...   -138.000000   -64.666667   -64.666667
          S_3102  -296.000000 ...   -257.000000   299.000000   -47.666667
          S_4002   -49.000000 ...      0.000000     0.000000     0.000000
          S_4102   -53.333333 ...   -140.000000   -10.000000   -10.000000
          S_5002   523.000000 ...    -18.333333   593.000000  -123.000000
          S_5102    60.333333 ...     -3.333333    -3.333333    -3.333333
          S_6002   320.000000 ...    190.000000  -333.000000  -294.000000
          S_6102  -116.666667 ...    -53.333333   -53.333333   170.000000
          S_7002  -390.000000 ...     59.000000   232.000000  -586.000000
          S_7102  -160.000000 ...     90.000000    60.000000  -220.000000
          S_8002   285.000000 ...   -122.000000   181.000000    50.333333
          S_9002    25.333333 ...     32.666667    32.666667    32.666667
          S_9991     7.000000 ...   -144.333333  -144.333333   -59.000000

day                       299         300          301          302  \
species   sector
cas9_CAD  S_0102    50.000000  -30.000000     0.000000     0.000000
          S_1102  -120.000000 -130.000000   120.000000   120.000000
          S_2102    50.000000  -10.000000   -10.000000   -10.000000
          S_3102    33.333333   33.333333  -160.000000   -90.000000
          S_4102   -36.666667  -40.000000  -360.000000  -200.000000
          S_5102    40.000000  260.000000   110.000000  -180.000000
          S_6102   -10.000000   60.000000    20.000000    -6.666667
          S_7002    36.666667   36.666667    36.666667  1000.000000
          S_7102     0.000000    0.000000     0.000000     0.000000
          S_8002   220.000000  220.000000  -330.000000   -90.000000
          S_9002    90.000000  320.000000  -230.000000   140.000000
cas9_FAB  S_0102    36.000000   -8.000000   -31.000000     0.000000
          S_1102     7.000000   44.000000    -0.666667    -0.666667
          S_2102   -45.000000   13.200000    13.200000    13.200000
          S_3102    -7.666667   -7.666667   -17.000000    22.000000
          S_4102    18.000000  -28.000000   -16.000000    26.000000
          S_5002   -54.000000   16.000000    19.666667    19.666667
          S_5102    27.000000  -94.000000     0.000000    30.000000
          S_6002   -16.000000   25.333333    25.333333    25.333333
          S_6102   101.000000  160.000000    77.000000    21.666667
          S_7002   -26.666667  -26.666667   -26.666667    21.000000
          S_7102    40.000000  -26.666667   -26.666667   -26.666667
          S_8002   -43.333333  -43.333333   206.000000   151.000000
          S_9002    22.000000   41.000000    39.000000     0.000000
cas9_HNAF S_0102   109.000000    9.000000   347.000000     0.000000
          S_1102    -9.000000  118.000000   111.666667   111.666667
          S_2102    89.000000  -21.800000   -21.800000   -21.800000
          S_3102    16.333333   16.333333   -10.000000    30.000000
          S_4102    -3.333333 -118.000000     0.000000   -10.000000
          S_5102    30.000000 -306.000000   158.000000   -89.000000
...                       ...         ...          ...          ...
cas9_NIAG S_8002   -36.333333  -36.333333  -229.000000   169.000000
          S_9002   -22.000000   16.000000   -49.000000    -5.000000
cas9_VBBA S_3102   -34.666667  -34.666667  -321.000000   860.000000
          S_4102   -58.666667 -400.000000   855.000000 -1077.000000
          S_5102  -659.000000 -632.000000  -781.000000 -5060.000000
          S_6102   512.000000 -425.000000  3725.000000   584.666667
          S_7102 -2370.000000  323.333333   323.333333   323.333333
cas9_XGAJ S_5102  -140.000000 -650.000000 -1100.000000   170.000000
          S_6102   -10.000000  -35.000000    25.000000    -6.666667
          S_7102     1.000000    0.666667     0.666667     0.666667
cas9_XWAH S_7102  -125.000000   25.000000    25.000000    25.000000
cas9_YABE S_0002   169.000000  113.000000    75.666667    75.666667
          S_0102  -223.000000 -185.000000   -59.000000     0.000000
          S_1002   157.000000  157.000000   157.000000   -96.000000
          S_1102  -509.000000 -404.000000   199.666667   199.666667
          S_2002    49.000000   49.000000   -59.000000  -143.000000
          S_2102  -493.000000  105.400000   105.400000   105.400000
          S_3002   -64.666667 -354.000000    72.000000    59.000000
          S_3102   -47.666667  -47.666667  -576.000000   260.000000
          S_4002   138.000000 -724.000000   -42.000000   265.000000
          S_4102   -10.000000   -4.000000   -55.000000   -91.000000
          S_5002   195.000000 -249.000000  -165.666667  -165.666667
          S_5102  -200.000000  120.000000    80.000000   270.000000
          S_6002   299.000000  -24.000000   -24.000000   -24.000000
          S_6102   230.000000   10.000000   210.000000    30.000000
          S_7002    -1.333333   -1.333333    -1.333333    50.000000
          S_7102   100.000000  -66.666667   -66.666667   -66.666667
          S_8002    50.333333   50.333333  -564.000000   299.000000
          S_9002    75.000000  168.000000  -109.000000   312.000000
          S_9991   699.000000  134.000000    55.000000     0.000000

day                       303         304  305
species   sector
cas9_CAD  S_0102     0.000000    0.000000  0.0
          S_1102   120.000000    0.000000  0.0
          S_2102   -10.000000  -10.000000  0.0
          S_3102     0.000000    0.000000  0.0
          S_4102  -280.000000    0.000000  0.0
          S_5102     0.000000    0.000000  0.0
          S_6102    -6.666667   -6.666667  0.0
          S_7002   480.000000    0.000000  0.0
          S_7102     0.000000    0.000000  0.0
          S_8002  -270.000000 -900.000000  0.0
          S_9002     0.000000    0.000000  0.0
cas9_FAB  S_0102     0.000000    0.000000  0.0
          S_1102    -0.666667    0.000000  0.0
          S_2102    13.200000   13.200000  0.0
          S_3102    33.000000    0.000000  0.0
          S_4102    28.000000    0.000000  0.0
          S_5002    19.666667    0.000000  0.0
          S_5102     0.000000    0.000000  0.0
          S_6002   -23.000000    0.000000  0.0
          S_6102    21.666667   21.666667  0.0
          S_7002    63.000000    0.000000  0.0
          S_7102     0.000000    0.000000  0.0
          S_8002   -76.000000  -13.000000  0.0
          S_9002     0.000000    0.000000  0.0
cas9_HNAF S_0102     0.000000    0.000000  0.0
          S_1102   111.666667    0.000000  0.0
          S_2102   -21.800000  -21.800000  0.0
          S_3102    19.000000    0.000000  0.0
          S_4102   -74.000000    0.000000  0.0
          S_5102     0.000000    0.000000  0.0
...                       ...         ...  ...
cas9_NIAG S_8002   -87.000000 -469.000000  0.0
          S_9002     0.000000    0.000000  0.0
cas9_VBBA S_3102   305.000000    0.000000  0.0
          S_4102 -2051.000000    0.000000  0.0
          S_5102     0.000000    0.000000  0.0
          S_6102   584.666667  584.666667  0.0
          S_7102     0.000000    0.000000  0.0
cas9_XGAJ S_5102     0.000000    0.000000  0.0
          S_6102    -6.666667   -6.666667  0.0
          S_7102     0.000000    0.000000  0.0
cas9_XWAH S_7102     0.000000    0.000000  0.0
cas9_YABE S_0002    75.666667 -239.000000  0.0
          S_0102     0.000000    0.000000  0.0
          S_1002   101.000000    0.000000  0.0
          S_1102   199.666667    0.000000  0.0
          S_2002   -76.000000    0.000000  0.0
          S_2102   105.400000  105.400000  0.0
          S_3002   211.000000    0.000000  0.0
          S_3102     5.000000    0.000000  0.0
          S_4002     0.000000    0.000000  0.0

## Scale values to be in range [-1, 1]

In [29]:
def build_scalers(train_df):
    scalers = {}
    for i, (idx, df) in enumerate(train_df.groupby(level=[0,1])):
        #print(i, (idx, df))
        scaler = MinMaxScaler(feature_range=(-1, 1))
        scaler = scaler.fit(df.T)
        scalers[idx] = scaler

    return scalers

In [30]:
def apply_scalers(df_in, scalers):
    df_out = df_in.copy()
    for i, (idx, df) in enumerate(df_in.groupby(level=[0,1])):
        #print('before scale', df_in.loc[idx])
        df_out.loc[idx] = scalers[idx].transform(df_in.loc[idx].reshape(1,-1))
        #print('after scale', df_out.loc[idx])
        
    return df_out

In [31]:
scalers = build_scalers(X_train_diff_full)

In [32]:
scalers

{('cas9_CAD', 'S_0102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_CAD', 'S_1102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_CAD', 'S_2102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_CAD', 'S_3102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_CAD', 'S_4102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_CAD', 'S_5102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_CAD', 'S_6102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_CAD', 'S_7002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_CAD', 'S_7102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_CAD', 'S_8002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_CAD', 'S_9002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_0102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_1102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_2102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_3102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_4102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_5002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_5102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_6002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_6102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_7002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_7102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_8002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_FAB', 'S_9002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_HNAF', 'S_0102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_HNAF', 'S_1102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_HNAF', 'S_2102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_HNAF', 'S_3102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_HNAF', 'S_4102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_HNAF', 'S_5102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_HNAF', 'S_6102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_HNAF', 'S_7102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_HNAF', 'S_8002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_HNAF', 'S_9002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_0102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_1102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_2102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_3102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_4102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_5002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_5102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_6002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_6102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_7002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_7102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_8002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_JAC', 'S_9002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_0002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_0102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_0791'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_0891'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_0991'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_1002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_1102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_1791'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_1891'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_1991'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_2002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_2102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_2691'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_2791'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_2891'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_2991'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_3002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_3102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_3691'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_3791'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_3891'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_3991'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_4002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_4102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_4691'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_4791'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_4891'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_4991'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_5002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_5102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_5691'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_5791'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_5891'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_5991'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_6002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_6102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_6691'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_6791'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_6891'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_6991'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_7002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_7102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_7691'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_7791'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_7891'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_7991'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_8002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_8691'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_8791'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_8891'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_8991'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_9002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_9691'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_9791'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_9891'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_MBI', 'S_9991'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_0102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_1102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_2102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_3102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_4102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_5002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_5102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_6002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_6102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_7002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_7102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_8002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_NIAG', 'S_9002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_VBBA', 'S_3102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_VBBA', 'S_4102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_VBBA', 'S_5102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_VBBA', 'S_6102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_VBBA', 'S_7102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_XGAJ', 'S_5102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_XGAJ', 'S_6102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_XGAJ', 'S_7102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_XWAH', 'S_7102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_0002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_0102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_1002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_1102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_2002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_2102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_3002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_3102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_4002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_4102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_5002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_5102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_6002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_6102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_7002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_7102'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_8002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_9002'): MinMaxScaler(copy=True, feature_range=(-1, 1)),
 ('cas9_YABE', 'S_9991'): MinMaxScaler(copy=True, feature_range=(-1, 1))}

In [33]:
X_train_diff_full

day               2           3           4           5            6    \
species   sector
cas9_CAD  S_0102  0.0    0.000000    0.000000 -150.000000  -130.000000
          S_1102  0.0    0.000000 -109.000000   79.000000    40.000000
          S_2102  0.0    0.000000 -390.000000  -10.000000   180.000000
          S_3102  0.0  -10.000000 -160.000000  -43.333333   -43.333333
          S_4102  0.0 -410.000000 -193.333333 -193.333333  -193.333333
          S_5102  0.0   93.333333   93.333333   93.333333    10.000000
          S_6102  0.0    0.000000    0.000000  560.000000   150.000000
          S_7002  0.0    0.000000 -100.000000  270.000000   -86.666667
          S_7102  0.0    0.000000    0.000000   50.000000    50.000000
          S_8002  0.0  300.000000  530.000000 -203.333333  -203.333333
          S_9002  0.0 -139.666667 -139.666667 -139.666667 -1211.000000
cas9_FAB  S_0102  0.0    0.000000    0.000000   50.000000    13.000000
          S_1102  0.0    0.000000    0.000000   48.000000   -24.000000
          S_2102  0.0    0.000000   60.000000 -131.000000    52.000000
          S_3102  0.0  -77.000000    8.000000   23.000000    23.000000
          S_4102  0.0  -77.000000   -2.000000   -2.000000    -2.000000
          S_5002  0.0    0.000000    0.000000    0.000000     0.000000
          S_5102  0.0   -2.000000   -2.000000   -2.000000  -180.000000
          S_6002  0.0    0.000000  -57.000000  -88.000000   -50.000000
          S_6102  0.0    0.000000    0.000000  -82.000000   -79.000000
          S_7002  0.0    0.000000  -72.000000   89.000000    -8.000000
          S_7102  0.0    0.000000  -29.000000 -116.000000   -10.000000
          S_8002  0.0 -131.000000  -53.000000  -12.000000   -12.000000
          S_9002  0.0  -66.333333  -66.333333  -66.333333  -253.000000
cas9_HNAF S_0102  0.0    0.000000    0.000000 -513.000000  -612.000000
          S_1102  0.0    0.000000 -236.000000 -484.000000     0.000000
          S_2102  0.0    0.000000   59.000000    0.000000   316.000000
          S_3102  0.0  -39.000000  -20.000000   13.000000    13.000000
          S_4102  0.0  187.000000  -16.333333  -16.333333   -16.333333
          S_5102  0.0 -286.000000 -286.000000 -286.000000   138.000000
...               ...         ...         ...         ...          ...
cas9_NIAG S_8002  0.0  -71.000000   71.000000   -7.000000    -7.000000
          S_9002  0.0  -40.000000  -40.000000  -40.000000     6.000000
cas9_VBBA S_3102  0.0    0.000000    0.000000  -19.666667   -19.666667
          S_4102  0.0 -278.000000  554.333333  554.333333   554.333333
          S_5102  0.0  372.666667  372.666667  372.666667   286.000000
          S_6102  0.0    0.000000    0.000000  222.000000   -10.000000
          S_7102  0.0    0.000000 -849.000000 -463.000000   -20.000000
cas9_XGAJ S_5102  0.0    0.000000    0.000000    0.000000     0.000000
          S_6102  0.0    0.000000    0.000000  -20.000000   -60.000000
          S_7102  0.0    0.000000    0.000000  -10.000000    30.000000
cas9_XWAH S_7102  0.0    0.000000 -158.000000  -19.000000    24.000000
cas9_YABE S_0002  0.0    0.000000  698.000000 -450.000000    88.000000
          S_0102  0.0    0.000000    0.000000  105.000000    63.000000
          S_1002  0.0 -964.000000  417.000000  509.000000    -2.666667
          S_1102  0.0    0.000000   89.000000 -110.000000   132.000000
          S_2002  0.0 -189.000000  -51.000000   59.000000    59.000000
          S_2102  0.0    0.000000  496.000000 -231.000000    35.000000
          S_3002  0.0  -59.000000 -108.333333 -108.333333  -108.333333
          S_3102  0.0  480.000000 -139.000000 -102.333333  -102.333333
          S_4002  0.0 -113.000000 -113.000000 -113.000000  -115.000000
          S_4102  0.0  286.000000  207.666667  207.666667   207.666667
          S_5002  0.0    0.000000  585.000000   88.000000   994.000000
          S_5102  0.0   65.333333   65.333333   65.333333   304.000000
          S_6002  0.0    0.000000  -21.000000 -577.000000  -324.000000
          S_6102  0.0    0.000000    0.000000  310.000000  -290.000000
          S_7002  0.0    0.000000 -597.000000  340.000000   151.666667
          S_7102  0.0    0.000000   80.000000 -250.000000 -1040.000000
          S_8002  0.0 -148.000000  649.000000  120.666667   120.666667
          S_9002  0.0  -15.333333  -15.333333  -15.333333  -172.000000
          S_9991  0.0    0.000000    0.000000  277.000000 -1031.000000

day                       7            8            9           10   \
species   sector
cas9_CAD  S_0102   -30.000000   -30.000000    23.333333   23.333333
          S_1102   -60.000000   -46.666667   -46.666667  -46.666667
          S_2102    76.666667    76.666667    76.666667  -20.000000
          S_3102   -43.333333  -100.000000  -310.000000  160.000000
          S_4102  -210.000000  -350.000000   130.000000  100.000000
          S_5102  -110.000000   160.000000    40.000000    3.333333
          S_6102    70.000000   -20.000000   -23.333333  -23.333333
          S_7002   -86.666667   -86.666667   -10.000000  200.000000
          S_7102   -16.666667   -16.666667   -16.666667    0.000000
          S_8002  -203.333333   890.000000   460.000000 -150.000000
          S_9002   490.000000  -630.000000  -700.000000  526.666667
cas9_FAB  S_0102    46.000000   -96.000000   -15.666667  -15.666667
          S_1102     0.000000    32.666667    32.666667   32.666667
          S_2102   -40.000000   -40.000000   -40.000000    9.000000
          S_3102    23.000000   -82.000000   -74.000000   13.000000
          S_4102     0.000000     0.000000   -45.000000 -100.000000
          S_5002     0.000000     0.000000     0.000000    0.000000
          S_5102  -140.000000    45.000000    26.000000  -12.000000
          S_6002    -3.000000    -3.000000    -3.000000   -8.000000
          S_6102  -103.000000    10.000000    18.666667   18.666667
          S_7002    -8.000000    -8.000000   -65.000000  -13.000000
          S_7102   -27.666667   -27.666667   -27.666667  -68.000000
          S_8002   -12.000000   -61.000000   -40.000000   13.000000
          S_9002   -82.000000  -302.000000  -150.000000   27.333333
cas9_HNAF S_0102  -236.000000  -326.000000   404.333333  404.333333
          S_1102  -345.000000  -102.000000  -102.000000 -102.000000
          S_2102    49.333333    49.333333    49.333333 -109.000000
          S_3102    13.000000   138.000000    30.000000  -20.000000
          S_4102   118.000000   -39.000000   -50.000000    0.000000
          S_5102  -464.000000   129.000000  -198.000000   95.333333
...                       ...          ...          ...         ...
cas9_NIAG S_8002    -7.000000   120.000000   136.000000 -120.000000
          S_9002   -11.000000  -262.000000   490.000000    7.333333
cas9_VBBA S_3102   -19.666667   628.000000  -158.000000  -81.000000
          S_4102   -88.000000   115.000000  -750.000000  280.000000
          S_5102 -2339.000000  -628.000000  1662.000000    6.333333
          S_6102   160.000000  1449.000000   547.666667  547.666667
          S_7102  -135.000000  -135.000000  -135.000000  137.000000
cas9_XGAJ S_5102     0.000000     0.000000     0.000000    0.000000
          S_6102   -30.000000  -100.000000   -76.666667  -76.666667
          S_7102    -3.333333    -3.333333    -3.333333   20.000000
cas9_XWAH S_7102    14.666667    14.666667    14.666667  -44.000000
cas9_YABE S_0002     9.000000  -132.000000  -132.000000 -132.000000
          S_0102   114.000000  -118.000000     8.333333    8.333333
          S_1002    -2.666667    -2.666667  -291.000000 -623.000000
          S_1102   302.000000   -78.666667   -78.666667  -78.666667
          S_2002    59.000000   -80.000000    67.000000   97.000000
          S_2102    16.333333    16.333333    16.333333 -289.000000
          S_3002    47.000000    76.000000  -177.000000   17.000000
          S_3102  -102.333333   350.000000   -34.000000 -100.000000
          S_4002    -8.000000   159.000000   219.000000  -49.000000
          S_4102  -459.000000   211.000000   126.000000  -38.000000
          S_5002   -84.000000   -52.000000   -52.000000  -52.000000
          S_5102    42.000000  -627.000000   328.000000   60.333333
          S_6002     8.333333     8.333333     8.333333  194.000000
          S_6102   720.000000   -60.000000  -116.666667 -116.666667
          S_7002   151.666667   151.666667   -20.000000  188.000000
          S_7102   100.000000   100.000000   100.000000  500.000000
          S_8002   120.666667   181.000000    58.000000 -205.000000
          S_9002   248.000000   -34.000000   202.000000   25.333333
          S_9991  -265.000000    97.000000     7.000000    7.000000

day                       11  ...           296          297          298  \
species   sector              ...
cas9_CAD  S_0102    23.333333 ...     66.666667    66.666667   -50.000000
          S_1102  -780.000000 ...     20.000000   280.000000   -30.000000
          S_2102   -80.000000 ...     50.000000     0.000000   -50.000000
          S_3102   -80.000000 ...      0.000000    80.000000    33.333333
          S_4102   -76.666667 ...     60.000000   -36.666667   -36.666667
          S_5102     3.333333 ...    -13.333333   -13.333333   -13.333333
          S_6102   -23.333333 ...      3.333333     3.333333   -90.000000
          S_7002  -130.000000 ...    450.000000  -990.000000 -1210.000000
          S_7102   -50.000000 ...      0.000000     0.000000     0.000000
          S_8002  -450.000000 ...    190.000000   360.000000   220.000000
          S_9002   526.666667 ...     20.000000    20.000000    20.000000
cas9_FAB  S_0102   -15.666667 ...      1.333333     1.333333    -4.000000
          S_1102     0.000000 ...     27.666667    68.000000    -4.000000
          S_2102   -33.000000 ...   -122.000000   -98.000000   168.000000
          S_3102    17.000000 ...    -59.000000    23.000000    -7.666667
          S_4102    -5.666667 ...    -71.000000    18.000000    18.000000
          S_5002     0.000000 ...     -2.333333    38.000000    -7.000000
          S_5102   -12.000000 ...     28.333333    28.333333    28.333333
          S_6002    73.000000 ...   -111.000000     0.000000    59.000000
          S_6102    18.666667 ...      8.000000     8.000000   -14.000000
          S_7002    62.000000 ...    -20.000000    95.000000   -29.000000
          S_7102   -76.000000 ...      0.000000   180.000000    50.000000
          S_8002   -54.000000 ...   -424.000000  -227.000000   -43.333333
          S_9002    27.333333 ...     41.333333    41.333333    41.333333
cas9_HNAF S_0102   404.333333 ...   -102.000000  -102.000000   168.000000
          S_1102  -345.000000 ...   -233.333333  -454.000000   236.000000
          S_2102    59.000000 ...     40.000000    10.000000   -89.000000
          S_3102    30.000000 ...     59.000000   -39.000000    16.333333
          S_4102   -46.000000 ...     10.000000    -3.333333    -3.333333
          S_5102    95.333333 ...      6.666667     6.666667     6.666667
...                       ... ...           ...          ...          ...
cas9_NIAG S_8002  -196.000000 ...    -16.000000   305.000000   -36.333333
          S_9002     7.333333 ...     -3.666667    -3.666667    -3.666667
cas9_VBBA S_3102  -215.000000 ...    347.000000 -1193.000000   -34.666667
          S_4102   196.000000 ...   -694.000000   -58.666667   -58.666667
          S_5102     6.333333 ...   -473.333333  -473.333333  -473.333333
          S_6102   547.666667 ...    -45.000000   -45.000000  -415.000000
          S_7102  2230.000000 ...   2820.000000   -80.000000  2210.000000
cas9_XGAJ S_5102     0.000000 ...     50.000000    50.000000    50.000000
          S_6102   -76.666667 ...     20.000000    20.000000   -30.000000
          S_7102   -25.000000 ...    -10.000000     7.000000     8.000000
cas9_XWAH S_7102   -92.000000 ...    -40.000000   100.000000  -125.000000
cas9_YABE S_0002   160.000000 ...    -51.666667   576.000000     0.000000
          S_0102     8.333333 ...     19.666667    19.666667  -345.000000
          S_1002  -168.000000 ...   -168.000000  -210.000000   227.000000
          S_1102   -42.000000 ...    -35.000000   295.000000   248.000000
          S_2002   223.000000 ...    159.000000     9.000000    49.000000
          S_2102  -135.000000 ...    337.000000   198.000000   227.000000
          S_3002   -22.666667 ...   -138.000000   -64.666667   -64.666667
          S_3102  -296.000000 ...   -257.000000   299.000000   -47.666667
          S_4002   -49.000000 ...      0.000000     0.000000     0.000000
          S_4102   -53.333333 ...   -140.000000   -10.000000   -10.000000
          S_5002   523.000000 ...    -18.333333   593.000000  -123.000000
          S_5102    60.333333 ...     -3.333333    -3.333333    -3.333333
          S_6002   320.000000 ...    190.000000  -333.000000  -294.000000
          S_6102  -116.666667 ...    -53.333333   -53.333333   170.000000
          S_7002  -390.000000 ...     59.000000   232.000000  -586.000000
          S_7102  -160.000000 ...     90.000000    60.000000  -220.000000
          S_8002   285.000000 ...   -122.000000   181.000000    50.333333
          S_9002    25.333333 ...     32.666667    32.666667    32.666667
          S_9991     7.000000 ...   -144.333333  -144.333333   -59.000000

day                       299         300          301          302  \
species   sector
cas9_CAD  S_0102    50.000000  -30.000000     0.000000     0.000000
          S_1102  -120.000000 -130.000000   120.000000   120.000000
          S_2102    50.000000  -10.000000   -10.000000   -10.000000
          S_3102    33.333333   33.333333  -160.000000   -90.000000
          S_4102   -36.666667  -40.000000  -360.000000  -200.000000
          S_5102    40.000000  260.000000   110.000000  -180.000000
          S_6102   -10.000000   60.000000    20.000000    -6.666667
          S_7002    36.666667   36.666667    36.666667  1000.000000
          S_7102     0.000000    0.000000     0.000000     0.000000
          S_8002   220.000000  220.000000  -330.000000   -90.000000
          S_9002    90.000000  320.000000  -230.000000   140.000000
cas9_FAB  S_0102    36.000000   -8.000000   -31.000000     0.000000
          S_1102     7.000000   44.000000    -0.666667    -0.666667
          S_2102   -45.000000   13.200000    13.200000    13.200000
          S_3102    -7.666667   -7.666667   -17.000000    22.000000
          S_4102    18.000000  -28.000000   -16.000000    26.000000
          S_5002   -54.000000   16.000000    19.666667    19.666667
          S_5102    27.000000  -94.000000     0.000000    30.000000
          S_6002   -16.000000   25.333333    25.333333    25.333333
          S_6102   101.000000  160.000000    77.000000    21.666667
          S_7002   -26.666667  -26.666667   -26.666667    21.000000
          S_7102    40.000000  -26.666667   -26.666667   -26.666667
          S_8002   -43.333333  -43.333333   206.000000   151.000000
          S_9002    22.000000   41.000000    39.000000     0.000000
cas9_HNAF S_0102   109.000000    9.000000   347.000000     0.000000
          S_1102    -9.000000  118.000000   111.666667   111.666667
          S_2102    89.000000  -21.800000   -21.800000   -21.800000
          S_3102    16.333333   16.333333   -10.000000    30.000000
          S_4102    -3.333333 -118.000000     0.000000   -10.000000
          S_5102    30.000000 -306.000000   158.000000   -89.000000
...                       ...         ...          ...          ...
cas9_NIAG S_8002   -36.333333  -36.333333  -229.000000   169.000000
          S_9002   -22.000000   16.000000   -49.000000    -5.000000
cas9_VBBA S_3102   -34.666667  -34.666667  -321.000000   860.000000
          S_4102   -58.666667 -400.000000   855.000000 -1077.000000
          S_5102  -659.000000 -632.000000  -781.000000 -5060.000000
          S_6102   512.000000 -425.000000  3725.000000   584.666667
          S_7102 -2370.000000  323.333333   323.333333   323.333333
cas9_XGAJ S_5102  -140.000000 -650.000000 -1100.000000   170.000000
          S_6102   -10.000000  -35.000000    25.000000    -6.666667
          S_7102     1.000000    0.666667     0.666667     0.666667
cas9_XWAH S_7102  -125.000000   25.000000    25.000000    25.000000
cas9_YABE S_0002   169.000000  113.000000    75.666667    75.666667
          S_0102  -223.000000 -185.000000   -59.000000     0.000000
          S_1002   157.000000  157.000000   157.000000   -96.000000
          S_1102  -509.000000 -404.000000   199.666667   199.666667
          S_2002    49.000000   49.000000   -59.000000  -143.000000
          S_2102  -493.000000  105.400000   105.400000   105.400000
          S_3002   -64.666667 -354.000000    72.000000    59.000000
          S_3102   -47.666667  -47.666667  -576.000000   260.000000
          S_4002   138.000000 -724.000000   -42.000000   265.000000
          S_4102   -10.000000   -4.000000   -55.000000   -91.000000
          S_5002   195.000000 -249.000000  -165.666667  -165.666667
          S_5102  -200.000000  120.000000    80.000000   270.000000
          S_6002   299.000000  -24.000000   -24.000000   -24.000000
          S_6102   230.000000   10.000000   210.000000    30.000000
          S_7002    -1.333333   -1.333333    -1.333333    50.000000
          S_7102   100.000000  -66.666667   -66.666667   -66.666667
          S_8002    50.333333   50.333333  -564.000000   299.000000
          S_9002    75.000000  168.000000  -109.000000   312.000000
          S_9991   699.000000  134.000000    55.000000     0.000000

day                       303         304  305
species   sector
cas9_CAD  S_0102     0.000000    0.000000  0.0
          S_1102   120.000000    0.000000  0.0
          S_2102   -10.000000  -10.000000  0.0
          S_3102     0.000000    0.000000  0.0
          S_4102  -280.000000    0.000000  0.0
          S_5102     0.000000    0.000000  0.0
          S_6102    -6.666667   -6.666667  0.0
          S_7002   480.000000    0.000000  0.0
          S_7102     0.000000    0.000000  0.0
          S_8002  -270.000000 -900.000000  0.0
          S_9002     0.000000    0.000000  0.0
cas9_FAB  S_0102     0.000000    0.000000  0.0
          S_1102    -0.666667    0.000000  0.0
          S_2102    13.200000   13.200000  0.0
          S_3102    33.000000    0.000000  0.0
          S_4102    28.000000    0.000000  0.0
          S_5002    19.666667    0.000000  0.0
          S_5102     0.000000    0.000000  0.0
          S_6002   -23.000000    0.000000  0.0
          S_6102    21.666667   21.666667  0.0
          S_7002    63.000000    0.000000  0.0
          S_7102     0.000000    0.000000  0.0
          S_8002   -76.000000  -13.000000  0.0
          S_9002     0.000000    0.000000  0.0
cas9_HNAF S_0102     0.000000    0.000000  0.0
          S_1102   111.666667    0.000000  0.0
          S_2102   -21.800000  -21.800000  0.0
          S_3102    19.000000    0.000000  0.0
          S_4102   -74.000000    0.000000  0.0
          S_5102     0.000000    0.000000  0.0
...                       ...         ...  ...
cas9_NIAG S_8002   -87.000000 -469.000000  0.0
          S_9002     0.000000    0.000000  0.0
cas9_VBBA S_3102   305.000000    0.000000  0.0
          S_4102 -2051.000000    0.000000  0.0
          S_5102     0.000000    0.000000  0.0
          S_6102   584.666667  584.666667  0.0
          S_7102     0.000000    0.000000  0.0
cas9_XGAJ S_5102     0.000000    0.000000  0.0
          S_6102    -6.666667   -6.666667  0.0
          S_7102     0.000000    0.000000  0.0
cas9_XWAH S_7102     0.000000    0.000000  0.0
cas9_YABE S_0002    75.666667 -239.000000  0.0
          S_0102     0.000000    0.000000  0.0
          S_1002   101.000000    0.000000  0.0
          S_1102   199.666667    0.000000  0.0
          S_2002   -76.000000    0.000000  0.0
          S_2102   105.400000  105.400000  0.0
          S_3002   211.000000    0.000000  0.0
          S_3102     5.000000    0.000000  0.0
          S_4002     0.000000    0.000000  0.0

In [34]:
X_train_scaled = apply_scalers(X_train_diff_full, scalers)

/home/pkhorrami/.envs/d3m_population_spawn/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """

In [60]:
X_train_scaled

day                    2         3         4             5         6    \
species   sector
cas9_CAD  S_0102  0.014925  0.014925  0.014925 -4.328358e-01 -0.373134
          S_1102  0.132867  0.132867 -0.019580  2.433566e-01  0.188811
          S_2102  0.382716  0.382716 -0.580247  3.580247e-01  0.827160
          S_3102  0.247059  0.223529 -0.129412  1.450980e-01  0.145098
          S_4102  0.047619 -0.603175 -0.259259 -2.592593e-01 -0.259259
          S_5102  0.192982  0.302144  0.302144  3.021442e-01  0.204678
          S_6102  0.151515  0.151515  0.151515  1.000000e+00  0.378788
          S_7002 -0.067460 -0.067460 -0.107143  3.968254e-02 -0.101852
          S_7102 -0.222222 -0.222222 -0.222222 -1.111111e-01 -0.111111
          S_8002  0.004386  0.135965  0.236842 -8.479532e-02 -0.084795
          S_9002  0.141553  0.014003  0.014003  1.400304e-02 -0.964384
cas9_FAB  S_0102 -0.252525 -0.252525 -0.252525  5.551115e-17 -0.186869
          S_1102 -0.320755 -0.320755 -0.320755 -1.194969e-01 -0.421384
          S_2102 -0.321244 -0.321244 -0.165803 -6.606218e-01 -0.186528
          S_3102  0.013183 -0.276836  0.043315  9.981168e-02  0.099812
          S_4102  0.089855 -0.356522  0.078261  7.826087e-02  0.078261
          S_5002 -0.494975 -0.494975 -0.494975 -4.949749e-01 -0.494975
          S_5102  0.034765  0.026585  0.026585  2.658487e-02 -0.701431
          S_6002  0.092105  0.092105 -0.282895 -4.868421e-01 -0.236842
          S_6102 -0.045614 -0.045614 -0.045614 -3.333333e-01 -0.322807
          S_7002  0.039861  0.039861 -0.209705  3.483536e-01  0.012132
          S_7102 -0.247357 -0.247357 -0.369979 -7.378436e-01 -0.289641
          S_8002 -0.115746 -0.388947 -0.226277 -1.407716e-01 -0.140772
          S_9002  0.037801 -0.190149 -0.190149 -1.901489e-01 -0.831615
cas9_HNAF S_0102 -0.177998 -0.177998 -0.177998 -3.630298e-01 -0.398738
          S_1102 -0.217046 -0.217046 -0.341980 -4.732663e-01 -0.217046
          S_2102  0.224569  0.224569  0.262918  2.245694e-01  0.429964
          S_3102  0.067961 -0.040222  0.012483  1.040222e-01  0.104022
          S_4102  0.268736  0.551855  0.244007  2.440071e-01  0.244007
          S_5102 -0.402278 -0.573741 -0.573741 -5.737410e-01 -0.319544
...                    ...       ...       ...           ...       ...
cas9_NIAG S_8002  0.054305 -0.039735  0.148344  4.503311e-02  0.045033
          S_9002 -0.031073 -0.087571 -0.087571 -8.757062e-02 -0.022599
cas9_VBBA S_3102 -0.049180 -0.049180 -0.049180 -6.134653e-02 -0.061347
          S_4102 -0.099904 -0.206113  0.111875  1.118752e-01  0.111875
          S_5102 -0.010269  0.062624  0.062624  6.262429e-02  0.045672
          S_6102 -0.080023 -0.080023 -0.080023 -1.565671e-02 -0.082923
          S_7102  0.249701  0.249701  0.023813  1.265132e-01  0.244379
cas9_XGAJ S_5102  0.317365  0.317365  0.317365  3.173653e-01  0.317365
          S_6102  0.052083  0.052083  0.052083  3.125000e-02 -0.010417
          S_7102  0.270417  0.270417  0.270417  2.341198e-01  0.379310
cas9_XWAH S_7102 -0.055215 -0.055215 -0.442945 -1.018405e-01  0.003681
cas9_YABE S_0002 -0.018046 -0.018046  0.416304 -2.980709e-01  0.036714
          S_0102  0.114206  0.114206  0.114206  2.604457e-01  0.201950
          S_1002  0.125511 -1.000000  0.612376  7.197898e-01  0.122397
          S_1102  0.163151  0.163151  0.239776  6.844598e-02  0.276797
          S_2002  0.003444 -0.430540 -0.113662  1.389208e-01  0.138921
          S_2102  0.428367  0.428367  0.782780  2.633083e-01  0.453376
          S_3002 -0.014625 -0.122486 -0.212675 -2.126752e-01 -0.212675
          S_3102 -0.227805  0.134870 -0.332830 -3.051253e-01 -0.305125
          S_4002  0.379475  0.289578  0.289578  2.895784e-01  0.287987
          S_4102  0.188478  0.391892  0.336178  3.361783e-01  0.336178
          S_5002 -0.153739 -0.153739  0.008896 -1.292744e-01  0.122602
          S_5102  0.375510  0.402177  0.402177  4.021769e-01  0.499592
          S_6002  0.014075  0.014075  0.000327 -3.636661e-01 -0.198036
          S_6102 -0.086957 -0.086957 -0.086957  9.316770e-03 -0.177019
          S_7002 -0.010557 -0.010557 -0.583493  3.157390e-01  0.134997
          S_7102  0.071804  0.071804  0.127846 -1.033275e-01 -0.656743
          S_8002 -0.232270 -0.343340  0.254784 -1.417136e-01 -0.141714
          S_9002  0.124597  0.104799  0.104799  1.047988e-01 -0.097482
          S_9991  0.187024  0.187024  0.187024  4.088907e-01 -0.638767

day                    7         8         9         10        11     ...     \
species   sector                                                      ...
cas9_CAD  S_0102 -0.074627 -0.074627  0.084577  0.084577  0.084577    ...
          S_1102  0.048951  0.067599  0.067599  0.067599 -0.958042    ...
          S_2102  0.572016  0.572016  0.572016  0.333333  0.185185    ...
          S_3102  0.145098  0.011765 -0.482353  0.623529  0.058824    ...
          S_4102 -0.285714 -0.507937  0.253968  0.206349 -0.074074    ...
          S_5102  0.064327  0.380117  0.239766  0.196881  0.196881    ...
          S_6102  0.257576  0.121212  0.116162  0.116162  0.116162    ...
          S_7002 -0.101852 -0.101852 -0.071429  0.011905 -0.119048    ...
          S_7102 -0.259259 -0.259259 -0.259259 -0.222222 -0.333333    ...
          S_8002 -0.084795  0.394737  0.206140 -0.061404 -0.192982    ...
          S_9002  0.589041 -0.433790 -0.497717  0.622527  0.622527    ...
cas9_FAB  S_0102 -0.020202 -0.737374 -0.331650 -0.331650 -0.331650    ...
          S_1102 -0.320755 -0.183788 -0.183788 -0.183788 -0.320755    ...
          S_2102 -0.424870 -0.424870 -0.424870 -0.297927 -0.406736    ...
          S_3102  0.099812 -0.295669 -0.265537  0.062147  0.077213    ...
          S_4102  0.089855  0.089855 -0.171014 -0.489855  0.057005    ...
          S_5002 -0.494975 -0.494975 -0.494975 -0.494975 -0.494975    ...
          S_5102 -0.537832  0.218814  0.141104 -0.014315 -0.014315    ...
          S_6002  0.072368  0.072368  0.072368  0.039474  0.572368    ...
          S_6102 -0.407018 -0.010526  0.019883  0.019883  0.019883    ...
          S_7002  0.012132  0.012132 -0.185442 -0.005199  0.254766    ...
          S_7102 -0.364341 -0.364341 -0.364341 -0.534884 -0.568710    ...
          S_8002 -0.140772 -0.242961 -0.199166 -0.088634 -0.228363    ...
          S_9002 -0.243986 -1.000000 -0.477663  0.131730  0.131730    ...
cas9_HNAF S_0102 -0.263120 -0.295582 -0.032161 -0.032161 -0.032161    ...
          S_1102 -0.399682 -0.271043 -0.271043 -0.271043 -0.399682    ...
          S_2102  0.256635  0.256635  0.256635  0.153721  0.262918    ...
          S_3102  0.104022  0.450763  0.151179  0.012483  0.151179    ...
          S_4102  0.447388  0.209690  0.193036  0.268736  0.199092    ...
          S_5102 -0.680456 -0.324940 -0.520983 -0.345124 -0.345124    ...
...                    ...       ...       ...       ...       ...    ...
cas9_NIAG S_8002  0.045033  0.213245  0.234437 -0.104636 -0.205298    ...
          S_9002 -0.046610 -0.401130  0.661017 -0.020716 -0.020716    ...
cas9_VBBA S_3102 -0.061347  0.339313 -0.146922 -0.099289 -0.182184    ...
          S_4102 -0.133524 -0.055969 -0.386437  0.007068 -0.025024    ...
          S_5102 -0.467775 -0.133105  0.314817 -0.009030 -0.009030    ...
          S_6102 -0.033633  0.340099  0.078767  0.078767  0.078767    ...
          S_7102  0.213782  0.213782  0.213782  0.286151  0.843022    ...
cas9_XGAJ S_5102  0.317365  0.317365  0.317365  0.317365  0.317365    ...
          S_6102  0.020833 -0.052083 -0.027778 -0.027778 -0.027778    ...
          S_7102  0.258318  0.258318  0.258318  0.343013  0.179673    ...
cas9_XWAH S_7102 -0.019223 -0.019223 -0.019223 -0.163190 -0.280982    ...
cas9_YABE S_0002 -0.012446 -0.100187 -0.100187 -0.100187  0.081518    ...
          S_0102  0.272981 -0.050139  0.125812  0.125812  0.125812    ...
          S_1002  0.122397  0.122397 -0.214244 -0.601868 -0.070636    ...
          S_1102  0.423160  0.095423  0.095423  0.095423  0.126991    ...
          S_2002  0.138921 -0.180253  0.157290  0.226177  0.515499    ...
          S_2102  0.440038  0.440038  0.440038  0.221865  0.331904    ...
          S_3002  0.071298  0.124314 -0.338208  0.016453 -0.056063    ...
          S_3102 -0.305125  0.036645 -0.253495 -0.303362 -0.451454    ...
          S_4002  0.373111  0.505967  0.553699  0.340493  0.340493    ...
          S_4102 -0.137980  0.338549  0.278094  0.161451  0.150545    ...
          S_5002 -0.177092 -0.168196 -0.168196 -0.168196 -0.008340    ...
          S_5102  0.392653  0.119592  0.509388  0.400136  0.400136    ...
          S_6002  0.019531  0.019531  0.019531  0.141080  0.223568    ...
          S_6102  0.136646 -0.105590 -0.123188 -0.123188 -0.123188    ...
          S_7002  0.134997  0.134997 -0.029750  0.169866 -0.384837    ...
          S_7102  0.141856  0.141856  0.141856  0.422067 -0.040280    ...
          S_8002 -0.141714 -0.096435 -0.188743 -0.386116 -0.018386    ...
          S_9002  0.444803  0.080697  0.385410  0.157306  0.157306    ...
          S_9991 -0.025230  0.264718  0.192631  0.192631  0.192631    ...

day                    296       297       298       299       300       301  \
species   sector
cas9_CAD  S_0102  0.213930  0.213930 -0.134328  0.164179 -0.074627  0.014925
          S_1102  0.160839  0.524476  0.090909 -0.034965 -0.048951  0.300699
          S_2102  0.506173  0.382716  0.259259  0.506173  0.358025  0.358025
          S_3102  0.247059  0.435294  0.325490  0.325490  0.325490 -0.129412
          S_4102  0.142857 -0.010582 -0.010582 -0.010582 -0.015873 -0.523810
          S_5102  0.177388  0.177388  0.177388  0.239766  0.497076  0.321637
          S_6102  0.156566  0.156566  0.015152  0.136364  0.242424  0.181818
          S_7002  0.111111 -0.460317 -0.547619 -0.052910 -0.052910 -0.052910
          S_7102 -0.222222 -0.222222 -0.222222 -0.222222 -0.222222 -0.222222
          S_8002  0.087719  0.162281  0.100877  0.100877  0.100877 -0.140351
          S_9002  0.159817  0.159817  0.159817  0.223744  0.433790 -0.068493
cas9_FAB  S_0102 -0.245791 -0.245791 -0.272727 -0.070707 -0.292929 -0.409091
          S_1102 -0.204752 -0.035639 -0.337526 -0.291405 -0.136268 -0.323550
          S_2102 -0.637306 -0.575130  0.113990 -0.437824 -0.287047 -0.287047
          S_3102 -0.209040  0.099812 -0.015694 -0.015694 -0.015694 -0.050847
          S_4102 -0.321739  0.194203  0.194203  0.194203 -0.072464 -0.002899
          S_5002 -0.500838 -0.399497 -0.512563 -0.630653 -0.454774 -0.445561
          S_5102  0.150648  0.150648  0.150648  0.145194 -0.349693  0.034765
          S_6002 -0.638158  0.092105  0.480263 -0.013158  0.258772  0.258772
          S_6102 -0.017544 -0.017544 -0.094737  0.308772  0.515789  0.224561
          S_7002 -0.029463  0.369151 -0.060659 -0.052571 -0.052571 -0.052571
          S_7102 -0.247357  0.513742 -0.035941 -0.078224 -0.360113 -0.360113
          S_8002 -1.000000 -0.589155 -0.206117 -0.206117 -0.206117  0.313869
          S_9002  0.179840  0.179840  0.179840  0.113402  0.178694  0.171821
cas9_HNAF S_0102 -0.214788 -0.214788 -0.117403 -0.138683 -0.174752 -0.052840
          S_1102 -0.340568 -0.457385 -0.092112 -0.221810 -0.154579 -0.157932
          S_2102  0.250569  0.231069  0.166721  0.282418  0.210400  0.210400
          S_3102  0.231623 -0.040222  0.113269  0.113269  0.113269  0.040222
          S_4102  0.283876  0.263689  0.263689  0.263689  0.090083  0.268736
          S_5102 -0.398281 -0.398281 -0.398281 -0.384293 -0.585731 -0.307554
...                    ...       ...       ...       ...       ...       ...
cas9_NIAG S_8002  0.033113  0.458278  0.006181  0.006181  0.006181 -0.249007
          S_9002 -0.036252 -0.036252 -0.036252 -0.062147 -0.008475 -0.100282
cas9_VBBA S_3102  0.165481 -0.787195 -0.070626 -0.070626 -0.070626 -0.247758
          S_4102 -0.365043 -0.122318 -0.122318 -0.122318 -0.252722  0.226743
          S_5102 -0.102852 -0.102852 -0.102852 -0.139169 -0.133888 -0.163032
          S_6102 -0.093070 -0.093070 -0.200348  0.068426 -0.203247  1.000000
          S_7102  1.000000  0.228416  0.837701 -0.380870  0.335728  0.335728
cas9_XGAJ S_5102  0.377246  0.377246  0.377246  0.149701 -0.461078 -1.000000
          S_6102  0.072917  0.072917  0.020833  0.041667  0.015625  0.078125
          S_7102  0.234120  0.295826  0.299456  0.274047  0.272837  0.272837
cas9_XWAH S_7102 -0.153374  0.190184 -0.361963 -0.361963  0.006135  0.006135
cas9_YABE S_0002 -0.050197  0.340386 -0.018046  0.087119  0.052271  0.029040
          S_0102  0.141597  0.141597 -0.366295 -0.196379 -0.143454  0.032033
          S_1002 -0.070636 -0.119673  0.390543  0.308815  0.308815  0.308815
          S_1102  0.133018  0.417133  0.376668 -0.275075 -0.184675  0.335055
          S_2002  0.368542  0.024110  0.115959  0.115959  0.115959 -0.132032
          S_2102  0.669168  0.569846  0.590568  0.076099  0.503680  0.503680
          S_3002 -0.266910 -0.132846 -0.132846 -0.132846 -0.661792  0.117002
          S_3102 -0.421987 -0.001889 -0.263821 -0.263821 -0.263821 -0.663015
          S_4002  0.379475  0.379475  0.379475  0.489260 -0.196500  0.346062
          S_4102  0.088905  0.181366  0.181366  0.181366  0.185633  0.149360
          S_5002 -0.158836  0.011120 -0.187934 -0.099527 -0.222964 -0.199796
          S_5102  0.374150  0.374150  0.374150  0.293878  0.424490  0.408163
          S_6002  0.138462 -0.203928 -0.178396  0.209820 -0.001637 -0.001637
          S_6102 -0.103520 -0.103520 -0.034161 -0.015528 -0.083851 -0.021739
          S_7002  0.046065  0.212092 -0.572937 -0.011836 -0.011836 -0.011836
          S_7102  0.134851  0.113835 -0.082312  0.141856  0.025102  0.025102
          S_8002 -0.323827 -0.096435 -0.194497 -0.194497 -0.194497 -0.655535
          S_9002  0.166774  0.166774  0.166774  0.221433  0.341511 -0.016139
          S_9991  0.071419  0.071419  0.139768  0.746896  0.294353  0.231077

day                    302       303       304       305
species   sector
cas9_CAD  S_0102  0.014925  0.014925  0.014925  0.014925
          S_1102  0.300699  0.300699  0.132867  0.132867
          S_2102  0.358025  0.358025  0.358025  0.382716
          S_3102  0.035294  0.247059  0.247059  0.247059
          S_4102 -0.269841 -0.396825  0.047619  0.047619
          S_5102 -0.017544  0.192982  0.192982  0.192982
          S_6102  0.141414  0.141414  0.141414  0.151515
          S_7002  0.329365  0.123016 -0.067460 -0.067460
          S_7102 -0.222222 -0.222222 -0.222222 -0.222222
          S_8002 -0.035088 -0.114035 -0.390351  0.004386
          S_9002  0.269406  0.141553  0.141553  0.141553
cas9_FAB  S_0102 -0.252525 -0.252525 -0.252525 -0.252525
          S_1102 -0.323550 -0.323550 -0.320755 -0.320755
          S_2102 -0.287047 -0.287047 -0.287047 -0.321244
          S_3102  0.096045  0.137476  0.013183  0.013183
          S_4102  0.240580  0.252174  0.089855  0.089855
          S_5002 -0.445561 -0.445561 -0.494975 -0.494975
          S_5102  0.157464  0.034765  0.034765  0.034765
          S_6002  0.258772 -0.059211  0.092105  0.092105
          S_6102  0.030409  0.030409  0.030409 -0.045614
          S_7002  0.112652  0.258232  0.039861  0.039861
          S_7102 -0.360113 -0.247357 -0.247357 -0.247357
          S_8002  0.199166 -0.274244 -0.142857 -0.115746
          S_9002  0.037801  0.037801  0.037801  0.037801
cas9_HNAF S_0102 -0.177998 -0.177998 -0.177998 -0.177998
          S_1102 -0.157932 -0.157932 -0.217046 -0.217046
          S_2102  0.210400  0.210400  0.210400  0.224569
          S_3102  0.151179  0.120666  0.067961  0.067961
          S_4102  0.253596  0.156699  0.268736  0.268736
          S_5102 -0.455635 -0.402278 -0.402278 -0.402278
...                    ...       ...       ...       ...
cas9_NIAG S_8002  0.278146 -0.060927 -0.566887  0.054305
          S_9002 -0.038136 -0.031073 -0.031073 -0.031073
cas9_VBBA S_3102  0.482833  0.139499 -0.049180 -0.049180
          S_4102 -0.511366 -0.883477 -0.099904 -0.099904
          S_5102 -1.000000 -0.010269 -0.010269 -0.010269
          S_6102  0.089495  0.089495  0.089495 -0.080023
          S_7102  0.335728  0.249701  0.249701  0.249701
cas9_XGAJ S_5102  0.520958  0.317365  0.317365  0.317365
          S_6102  0.045139  0.045139  0.045139  0.052083
          S_7102  0.272837  0.270417  0.270417  0.270417
cas9_XWAH S_7102  0.006135 -0.055215 -0.055215 -0.055215
cas9_YABE S_0002  0.029040  0.029040 -0.166770 -0.018046
          S_0102  0.114206  0.114206  0.114206  0.114206
          S_1002  0.013427  0.243433  0.125511  0.125511
          S_1102  0.335055  0.335055  0.163151  0.163151
          S_2002 -0.324914 -0.171068  0.003444  0.003444
          S_2102  0.503680  0.503680  0.503680  0.428367
          S_3002  0.093236  0.371115 -0.014625 -0.014625
          S_3102 -0.031356 -0.224027 -0.227805 -0.227805
          S_4002  0.590294  0.379475  0.379475  0.379475
          S_4102  0.123755 -0.096728  0.188478  0.188478
          S_5002 -0.199796 -0.199796 -0.153739 -0.153739
          S_5102  0.485714  0.375510  0.375510  0.375510
          S_6002 -0.001637  0.044190  0.014075  0.014075
          S_6102 -0.077640 -0.077640 -0.077640 -0.086957
          S_7002  0.037428  0.163148 -0.010557 -0.010557
          S_7102  0.025102  0.071804  0.071804  0.071804
          S_8002 -0.007880 -0.305066 -0.193996 -0.232270
          S_9002  0.527437  0.124597  0.124597  0.124597
          S_9991  0.187024  0.187024  0.187024  0.187024

[144 rows x 608 columns]

## Train LSTM model

In [37]:
lstm_model = build_lstm_model(neurons=5)

In [38]:
lstm_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (1, 5)                    140
_________________________________________________________________
dense_1 (Dense)              (1, 1)                    6
=================================================================
Total params: 146
Trainable params: 146
Non-trainable params: 0
_________________________________________________________________

In [76]:
if os.path.exists('lstm_model_20_epochs.h5'):
    lstm_model.load_weights('lstm_model_20_epochs.h5')
else:
    num_epochs = 20
    for e in range(num_epochs):
        print('On Epoch %d' % e)
        for i, (idx, df) in enumerate(X_train_scaled.groupby(level=[0,1])):
            print('Processing series: ', idx)
            print(last_day_info[idx])
            last_ind = last_day_info[idx]['last_ind']
            train_lstm(lstm_model, X_train_scaled.loc[idx][:, None], batch_size=1, nb_epoch=1, last_ind=last_ind)
            
    lstm_model.save('lstm_model_20_epochs.h5')

## Forecast future points

In [77]:
def forecast_on_test_data(X_train_orig, X_train_scaled, idx, lstm_model, scalers, target_day, last_day_info):
    # forecast the entire training dataset to build up state for forecasting
    #T = 304 # length of timeseries
    last_ind, last_day = last_day_info[idx]['last_ind'], last_day_info[idx]['last_day']
    
    df = X_train.loc[idx][0:last_ind+1]
    df_scaled = X_train_scaled.loc[idx][0:last_ind+1]
    #print(df_scaled)
    scaler = scalers[idx]
    
    lstm_model.reset_states()
    res = lstm_model.predict(df_scaled[:, None, None], batch_size=1)   
    #res_inv_scale = scaler.inverse_transform(res)
    #pred_train = df[:, None] + res_inv_scale
    
    #print(X_train_scaled.loc[idx][0:last_ind+1])
    #print(res)
    #plt.plot(X_train_scaled.loc[idx][0:last_ind+1])
    #plt.plot(res)
    
    if target_day <= last_day:        
        print('target_day less than last_day')
        target_ind = np.where(X_train.columns == target_day)[0]
        return res[target_ind]
    
    target_ind = last_ind+(target_day-last_day)
    #print(target_ind)
    for i in range(last_ind+1, target_ind+1):
        #print(res[-1])
        val = lstm_model.predict(res[-1][:, None, None], batch_size=1)
        #print(val)
        res = np.append(res, val[0])[:, None]
    
    res_inv_scale = scaler.inverse_transform(res)
    pred_train = df[:, None] + res_inv_scale[0:last_ind+1]
    remainder = (df.values[-1] + np.cumsum(res_inv_scale[last_ind+1:]))[:,None]

    #print(res_inv_scale.shape)
    #print(df_scaled.shape)
    #print(remainder.shape)
    #plt.plot(res)
    #plt.plot(np.concatenate((pred_train, remainder)))
    
    #print('target_val: ', target_val)
    #print('pred_val: ', remainder[-1])
    
    #return remainder[-3] # becuase the time series all start at day 2?
    return remainder[-1]

In [78]:
forecast_on_test_data(X_train, X_train_scaled, ('cas9_CAD', 'S_0102'), lstm_model, scalers, 330, last_day_info)

array([ 5524.18554688], dtype=float32)

## Look at test data

In [79]:
print('Load test data')
df_test = d3mds.get_test_data()
targets_test = d3mds.get_test_targets()

Load test data

In [80]:
df_test

            species  sector  day
d3mIndex
209       cas9_VBBA  S_3102  330
210       cas9_VBBA  S_3102  360
422       cas9_VBBA  S_4102  328
423       cas9_VBBA  S_4102  360
634       cas9_VBBA  S_5102  329
635       cas9_VBBA  S_5102  362
846       cas9_VBBA  S_6102  333
847       cas9_VBBA  S_6102  363
1057      cas9_VBBA  S_7102  304
1058      cas9_VBBA  S_7102  306
1232       cas9_FAB  S_5002  332
1233       cas9_FAB  S_5002  362
1444       cas9_FAB  S_6002  332
1445       cas9_FAB  S_6002  361
1656       cas9_FAB  S_7002  332
1657       cas9_FAB  S_7002  358
1870       cas9_FAB  S_8002  329
1871       cas9_FAB  S_8002  361
2082       cas9_FAB  S_9002  329
2083       cas9_FAB  S_9002  362
2293       cas9_FAB  S_0102  330
2294       cas9_FAB  S_0102  362
2504       cas9_FAB  S_1102  332
2505       cas9_FAB  S_1102  362
2715       cas9_FAB  S_2102  333
2716       cas9_FAB  S_2102  359
2928       cas9_FAB  S_3102  330
2929       cas9_FAB  S_3102  360
3141       cas9_FAB  S_4102  328
3142       cas9_FAB  S_4102  360
...             ...     ...  ...
27382      cas9_MBI  S_6002  332
27383      cas9_MBI  S_6002  361
27594      cas9_MBI  S_7002  332
27595      cas9_MBI  S_7002  358
27808      cas9_MBI  S_8002  329
27809      cas9_MBI  S_8002  361
28020      cas9_MBI  S_9002  329
28021      cas9_MBI  S_9002  362
28231      cas9_MBI  S_0102  330
28232      cas9_MBI  S_0102  362
28443      cas9_MBI  S_1102  332
28444      cas9_MBI  S_1102  362
28654      cas9_MBI  S_2102  333
28655      cas9_MBI  S_2102  359
28867      cas9_MBI  S_3102  330
28868      cas9_MBI  S_3102  360
29080      cas9_MBI  S_4102  328
29081      cas9_MBI  S_4102  360
29292      cas9_MBI  S_5102  329
29293      cas9_MBI  S_5102  362
29504      cas9_MBI  S_6102  333
29505      cas9_MBI  S_6102  363
29715      cas9_MBI  S_7102  304
29716      cas9_MBI  S_7102  306
29833     cas9_XGAJ  S_5102  329
29834     cas9_XGAJ  S_5102  362
30045     cas9_XGAJ  S_6102  333
30046     cas9_XGAJ  S_6102  363
30256     cas9_XGAJ  S_7102  304
30257     cas9_XGAJ  S_7102  306

[288 rows x 3 columns]

In [81]:
targets_test

array([[ 42341],
       [ 46166],
       [ 60957],
       [ 60236],
       [ 56001],
       [ 54571],
       [ 57367],
       [ 60078],
       [ 90250],
       [ 91020],
       [  9074],
       [  9025],
       [  9612],
       [  9498],
       [  9040],
       [  8737],
       [  6321],
       [  6375],
       [  9047],
       [  9386],
       [  9753],
       [  8827],
       [ 10878],
       [ 11105],
       [ 13155],
       [ 12554],
       [ 10112],
       [ 10693],
       [ 12128],
       [ 12314],
       [ 13020],
       [ 13300],
       [ 13288],
       [ 13478],
       [ 14990],
       [ 15100],
       [ 34530],
       [ 36260],
       [ 46849],
       [ 51966],
       [ 48680],
       [ 42770],
       [ 27480],
       [ 27208],
       [ 34902],
       [ 39265],
       [ 43453],
       [ 46895],
       [ 39156],
       [ 39519],
       [ 32073],
       [ 36765],
       [ 30650],
       [ 29969],
       [ 29734],
       [ 31693],
       [ 29183],
       [ 30004],
       [ 28136],
       [ 27646],
       [ 37750],
       [ 37730],
       [ 29990],
       [ 26810],
       [  3670],
       [  5890],
       [  4530],
       [  4500],
       [  3920],
       [  3760],
       [  3340],
       [  3500],
       [  2770],
       [  2570],
       [  4490],
       [  4890],
       [  5920],
       [  5350],
       [  5770],
       [  4940],
       [  3300],
       [  2550],
       [  1600],
       [  1500],
       [  9322],
       [  7356],
       [  3792],
       [  3707],
       [  6847],
       [  6717],
       [  7108],
       [  7117],
       [ 11477],
       [ 13342],
       [ 23464],
       [ 24444],
       [ 19095],
       [ 18674],
       [ 13476],
       [ 12862],
       [ 14205],
       [ 14380],
       [  5387],
       [  5723],
       [  9937],
       [ 10046],
       [ 13110],
       [ 11932],
       [ 12482],
       [ 12799],
       [ 21662],
       [ 21498],
       [ 20522],
       [ 22753],
       [ 22891],
       [ 24006],
       [ 29000],
       [ 27640],
       [ 28570],
       [ 30010],
       [ 37640],
       [ 37400],
       [  5929],
       [  8761],
       [ 21923],
       [ 20472],
       [ 21331],
       [ 16003],
       [  5978],
       [  6640],
       [  7330],
       [  6541],
       [  5021],
       [  5673],
       [  6156],
       [  6758],
       [  9086],
       [  9116],
       [  9047],
       [  8238],
       [ 14880],
       [ 14960],
       [  7580],
       [  7546],
       [  7928],
       [  8276],
       [  6184],
       [  5503],
       [  2223],
       [  2304],
       [  2511],
       [  2484],
       [  4255],
       [  4179],
       [  4099],
       [  4208],
       [  4375],
       [  4532],
       [  5162],
       [  5417],
       [  5497],
       [  5227],
       [  6474],
       [  6620],
       [  7356],
       [  7827],
       [ 10090],
       [ 10450],
       [ 26875],
       [ 27059],
       [  4408],
       [  4366],
       [  5377],
       [  5436],
       [  5803],
       [  5719],
       [  7423],
       [  6955],
       [  7698],
       [  7623],
       [ 12759],
       [ 12992],
       [ 13702],
       [ 13295],
       [ 14372],
       [ 15005],
       [ 12465],
       [ 13234],
       [ 12417],
       [ 14103],
       [ 15890],
       [ 16230],
       [ 13985],
       [ 12339],
       [  9194],
       [  8576],
       [ 11547],
       [ 11599],
       [ 14245],
       [ 14472],
       [ 13878],
       [ 14087],
       [ 13920],
       [ 15725],
       [ 13668],
       [ 13485],
       [ 14888],
       [ 14347],
       [ 10937],
       [ 11749],
       [ 17336],
       [ 19782],
       [ 24791],
       [ 25835],
       [ 25601],
       [ 25835],
       [ 28900],
       [ 31865],
       [ 25919],
       [ 25365],
       [ 24459],
       [ 24072],
       [ 24726],
       [ 25474],
       [ 20566],
       [ 19707],
       [ 23374],
       [ 23680],
       [ 20358],
       [ 18352],
       [ 13593],
       [ 10765],
       [ 11599],
       [ 12140],
       [ 14687],
       [ 15179],
       [ 20174],
       [ 19139],
       [ 32866],
       [ 32398],
       [ 42902],
       [ 42302],
       [ 69373],
       [ 78735],
       [ 87368],
       [ 91360],
       [ 81622],
       [ 70610],
       [ 93642],
       [101400],
       [ 71027],
       [ 65550],
       [ 74868],
       [ 77575],
       [ 79092],
       [ 82082],
       [ 74408],
       [ 69390],
       [ 76277],
       [ 81081],
       [ 89664],
       [ 93238],
       [ 66709],
       [ 67911],
       [106300],
       [110480],
       [120140],
       [121660],
       [154110],
       [155600],
       [165120],
       [165470],
       [155450],
       [162510],
       [145600],
       [145780],
       [127950],
       [127610],
       [158380],
       [159980],
       [152540],
       [151830],
       [  2040],
       [  2330],
       [   689],
       [   635],
       [   181],
       [   179]])

In [82]:
preds_test = []
for i in range(df_test.shape[0]):
    print('On test sample %d' % i)
    row_test = df_test.iloc[i,:]
    target_test = targets_test[i]
    species_test, sector_test, day_test = row_test['species'], row_test['sector'], row_test['day']
    print(species_test, sector_test, day_test)
    #print(target_test)
    
    pred_test = forecast_on_test_data(X_train, X_train_scaled, (species_test, sector_test), lstm_model, scalers, day_test, last_day_info)
    preds_test.append(pred_test)
    print(target_test, pred_test)

On test sample 0
cas9_VBBA S_3102 330
[42341] [ 44553.11328125]
On test sample 1
cas9_VBBA S_3102 360
[46166] [ 54817.2734375]
On test sample 2
cas9_VBBA S_4102 328
[60957] [ 46734.90625]
On test sample 3
cas9_VBBA S_4102 360
[60236] [ 45368.828125]
On test sample 4
cas9_VBBA S_5102 329
[56001] [ 45066.13671875]
On test sample 5
cas9_VBBA S_5102 362
[54571] [ 60473.81640625]
On test sample 6
cas9_VBBA S_6102 333
[57367] [ 71017.8125]
On test sample 7
cas9_VBBA S_6102 363
[60078] [ 102680.921875]
On test sample 8
cas9_VBBA S_7102 304
[90250] [ 90699.234375]
On test sample 9
cas9_VBBA S_7102 306
[91020] [ 90012.96875]
On test sample 10
cas9_FAB S_5002 332
[9074] [ 10632.08203125]
On test sample 11
cas9_FAB S_5002 362
[9025] [ 13476.20507812]
On test sample 12
cas9_FAB S_6002 332
[9612] [ 9844.49902344]
On test sample 13
cas9_FAB S_6002 361
[9498] [ 10563.65820312]
On test sample 14
cas9_FAB S_7002 332
[9040] [ 10302.68554688]
On test sample 15
cas9_FAB S_7002 358
[8737] [ 11970.24804688]
On test sample 16
cas9_FAB S_8002 329
[6321] [ 6594.29248047]
On test sample 17
cas9_FAB S_8002 361
[6375] [ 8722.60253906]
On test sample 18
cas9_FAB S_9002 329
[9047] [ 9889.09765625]
On test sample 19
cas9_FAB S_9002 362
[9386] [ 12048.38769531]
On test sample 20
cas9_FAB S_0102 330
[9753] [ 11059.23730469]
On test sample 21
cas9_FAB S_0102 362
[8827] [ 13002.609375]
On test sample 22
cas9_FAB S_1102 332
[10878] [ 10840.42871094]
On test sample 23
cas9_FAB S_1102 362
[11105] [ 13043.82617188]
On test sample 24
cas9_FAB S_2102 333
[13155] [ 13813.05371094]
On test sample 25
cas9_FAB S_2102 359
[12554] [ 16539.15234375]
On test sample 26
cas9_FAB S_3102 330
[10112] [ 11101.37207031]
On test sample 27
cas9_FAB S_3102 360
[10693] [ 12726.60058594]
On test sample 28
cas9_FAB S_4102 328
[12128] [ 12524.27441406]
On test sample 29
cas9_FAB S_4102 360
[12314] [ 13444.04882812]
On test sample 30
cas9_FAB S_5102 329
[13020] [ 13373.34277344]
On test sample 31
cas9_FAB S_5102 362
[13300] [ 14810.22265625]
On test sample 32
cas9_FAB S_6102 333
[13288] [ 15014.45214844]
On test sample 33
cas9_FAB S_6102 363
[13478] [ 17339.9453125]
On test sample 34
cas9_FAB S_7102 304
[14990] [ 15093.55371094]
On test sample 35
cas9_FAB S_7102 306
[15100] [ 15132.95019531]
On test sample 36
cas9_JAC S_5002 332
[34530] [ 34917.0234375]
On test sample 37
cas9_JAC S_5002 362
[36260] [ 43107.0546875]
On test sample 38
cas9_JAC S_6002 332
[46849] [ 51863.5546875]
On test sample 39
cas9_JAC S_6002 361
[51966] [ 59267.62890625]
On test sample 40
cas9_JAC S_7002 332
[48680] [ 55297.12109375]
On test sample 41
cas9_JAC S_7002 358
[42770] [ 73042.8828125]
On test sample 42
cas9_JAC S_8002 329
[27480] [ 18133.8203125]
On test sample 43
cas9_JAC S_8002 361
[27208] [ 21358.3828125]
On test sample 44
cas9_JAC S_9002 329
[34902] [ 39118.44921875]
On test sample 45
cas9_JAC S_9002 362
[39265] [ 51871.44921875]
On test sample 46
cas9_JAC S_0102 330
[43453] [ 47315.8671875]
On test sample 47
cas9_JAC S_0102 362
[46895] [ 59130.06640625]
On test sample 48
cas9_JAC S_1102 332
[39156] [ 49667.17578125]
On test sample 49
cas9_JAC S_1102 362
[39519] [ 69680.859375]
On test sample 50
cas9_JAC S_2102 333
[32073] [ 35188.76171875]
On test sample 51
cas9_JAC S_2102 359
[36765] [ 48097.9765625]
On test sample 52
cas9_JAC S_3102 330
[30650] [ 37107.1484375]
On test sample 53
cas9_JAC S_3102 360
[29969] [ 55908.0234375]
On test sample 54
cas9_JAC S_4102 328
[29734] [ 28384.203125]
On test sample 55
cas9_JAC S_4102 360
[31693] [ 30819.79101562]
On test sample 56
cas9_JAC S_5102 329
[29183] [ 32340.12109375]
On test sample 57
cas9_JAC S_5102 362
[30004] [ 46168.34375]
On test sample 58
cas9_JAC S_6102 333
[28136] [ 30318.13671875]
On test sample 59
cas9_JAC S_6102 363
[27646] [ 38238.8203125]
On test sample 60
cas9_JAC S_7102 304
[37750] [ 37398.7265625]
On test sample 61
cas9_JAC S_7102 306
[37730] [ 37173.1015625]
On test sample 62
cas9_CAD S_7002 332
[29990] [ 43232.453125]
On test sample 63
cas9_CAD S_7002 358
[26810] [ 59415.796875]
On test sample 64
cas9_CAD S_8002 329
[3670] [ 13175.58691406]
On test sample 65
cas9_CAD S_8002 361
[5890] [ 28419.81640625]
On test sample 66
cas9_CAD S_9002 329
[4530] [ 7204.90625]
On test sample 67
cas9_CAD S_9002 362
[4500] [ 12927.91113281]
On test sample 68
cas9_CAD S_0102 330
[3920] [ 5524.18554688]
On test sample 69
cas9_CAD S_0102 362
[3760] [ 7931.91113281]
On test sample 70
cas9_CAD S_1102 332
[3340] [ 5003.99169922]
On test sample 71
cas9_CAD S_1102 362
[3500] [ 8153.02099609]
On test sample 72
cas9_CAD S_2102 333
[2770] [ 2299.77539062]
On test sample 73
cas9_CAD S_2102 359
[2570] [ 1819.9510498]
On test sample 74
cas9_CAD S_3102 330
[4490] [ 4288.46582031]
On test sample 75
cas9_CAD S_3102 360
[4890] [ 5065.97167969]
On test sample 76
cas9_CAD S_4102 328
[5920] [ 4580.91308594]
On test sample 77
cas9_CAD S_4102 360
[5350] [ 6455.47753906]
On test sample 78
cas9_CAD S_5102 329
[5770] [ 7758.15039062]
On test sample 79
cas9_CAD S_5102 362
[4940] [ 10938.53027344]
On test sample 80
cas9_CAD S_6102 333
[3300] [ 4224.54833984]
On test sample 81
cas9_CAD S_6102 363
[2550] [ 7085.52441406]
On test sample 82
cas9_CAD S_7102 304
[1600] [ 1519.40039062]
On test sample 83
cas9_CAD S_7102 306
[1500] [ 1565.74768066]
On test sample 84
cas9_YABE S_9991 330
[9322] [ 9166.89160156]
On test sample 85
cas9_YABE S_9991 362
[7356] [ 13638.68554688]
On test sample 86
cas9_YABE S_0002 333
[3792] [ 11633.81152344]
On test sample 87
cas9_YABE S_0002 362
[3707] [ 23419.98632812]
On test sample 88
cas9_YABE S_1002 332
[6847] [ 7449.546875]
On test sample 89
cas9_YABE S_1002 358
[6717] [ 10828.78710938]
On test sample 90
cas9_YABE S_2002 330
[7108] [ 6913.40576172]
On test sample 91
cas9_YABE S_2002 360
[7117] [ 9141.7265625]
On test sample 92
cas9_YABE S_3002 328
[11477] [ 12793.0546875]
On test sample 93
cas9_YABE S_3002 360
[13342] [ 16506.09960938]
On test sample 94
cas9_YABE S_4002 331
[23464] [ 16163.15136719]
On test sample 95
cas9_YABE S_4002 363
[24444] [ 13044.68847656]
On test sample 96
cas9_YABE S_5002 332
[19095] [ 29444.54882812]
On test sample 97
cas9_YABE S_5002 362
[18674] [ 61013.28515625]
On test sample 98
cas9_YABE S_6002 332
[13476] [ 17299.0703125]
On test sample 99
cas9_YABE S_6002 361
[12862] [ 26654.60546875]
On test sample 100
cas9_YABE S_7002 332
[14205] [ 18779.8203125]
On test sample 101
cas9_YABE S_7002 358
[14380] [ 25200.03710938]
On test sample 102
cas9_YABE S_8002 329
[5387] [ 9598.27929688]
On test sample 103
cas9_YABE S_8002 361
[5723] [ 21147.53125]
On test sample 104
cas9_YABE S_9002 329
[9937] [ 11814.14648438]
On test sample 105
cas9_YABE S_9002 362
[10046] [ 16225.54296875]
On test sample 106
cas9_YABE S_0102 330
[13110] [ 11007.03808594]
On test sample 107
cas9_YABE S_0102 362
[11932] [ 12720.93652344]
On test sample 108
cas9_YABE S_1102 332
[12482] [ 15590.19042969]
On test sample 109
cas9_YABE S_1102 362
[12799] [ 20023.078125]
On test sample 110
cas9_YABE S_2102 333
[21662] [ 16625.09375]
On test sample 111
cas9_YABE S_2102 359
[21498] [ 13172.05566406]
On test sample 112
cas9_YABE S_3102 330
[20522] [ 25189.81835938]
On test sample 113
cas9_YABE S_3102 360
[22753] [ 35449.9453125]
On test sample 114
cas9_YABE S_4102 328
[22891] [ 22442.88867188]
On test sample 115
cas9_YABE S_4102 360
[24006] [ 26297.79101562]
On test sample 116
cas9_YABE S_5102 329
[29000] [ 20856.74804688]
On test sample 117
cas9_YABE S_5102 362
[27640] [ 15220.87695312]
On test sample 118
cas9_YABE S_6102 333
[28570] [ 42796.56640625]
On test sample 119
cas9_YABE S_6102 363
[30010] [ 71256.828125]
On test sample 120
cas9_YABE S_7102 304
[37640] [ 37077.375]
On test sample 121
cas9_YABE S_7102 306
[37400] [ 37289.2421875]
On test sample 122
cas9_HNAF S_8002 329
[5929] [ 10494.17578125]
On test sample 123
cas9_HNAF S_8002 361
[8761] [ 23928.83984375]
On test sample 124
cas9_HNAF S_9002 329
[21923] [ 23911.93164062]
On test sample 125
cas9_HNAF S_9002 362
[20472] [ 38004.9296875]
On test sample 126
cas9_HNAF S_0102 330
[21331] [ 33091.453125]
On test sample 127
cas9_HNAF S_0102 362
[16003] [ 58106.41796875]
On test sample 128
cas9_HNAF S_1102 332
[5978] [ 12589.24609375]
On test sample 129
cas9_HNAF S_1102 362

[6640] [ 28323.19921875]
On test sample 130
cas9_HNAF S_2102 333
[7330] [ 8385.94335938]
On test sample 131
cas9_HNAF S_2102 359
[6541] [ 11916.8046875]
On test sample 132
cas9_HNAF S_3102 330
[5021] [ 6097.54980469]
On test sample 133
cas9_HNAF S_3102 360
[5673] [ 8375.18945312]
On test sample 134
cas9_HNAF S_4102 328
[6156] [ 5858.89599609]
On test sample 135
cas9_HNAF S_4102 360
[6758] [ 6912.77197266]
On test sample 136
cas9_HNAF S_5102 329
[9086] [ 11783.98828125]
On test sample 137
cas9_HNAF S_5102 362
[9116] [ 23254.77539062]
On test sample 138
cas9_HNAF S_6102 333
[9047] [ 10193.00585938]
On test sample 139
cas9_HNAF S_6102 363
[8238] [ 14249.26367188]
On test sample 140
cas9_HNAF S_7102 304
[14880] [ 14901.97949219]
On test sample 141
cas9_HNAF S_7102 306
[14960] [ 15124.29199219]
On test sample 142
cas9_NIAG S_5002 332
[7580] [ 7885.34228516]
On test sample 143
cas9_NIAG S_5002 362
[7546] [ 9106.0546875]
On test sample 144
cas9_NIAG S_6002 332
[7928] [ 7551.79492188]
On test sample 145
cas9_NIAG S_6002 361
[8276] [ 7054.59472656]
On test sample 146
cas9_NIAG S_7002 332
[6184] [ 7544.88574219]
On test sample 147
cas9_NIAG S_7002 358
[5503] [ 9068.6640625]
On test sample 148
cas9_NIAG S_8002 329
[2223] [ 3202.21337891]
On test sample 149
cas9_NIAG S_8002 361
[2304] [ 6609.296875]
On test sample 150
cas9_NIAG S_9002 329
[2511] [ 5031.27539062]
On test sample 151
cas9_NIAG S_9002 362
[2484] [ 10920.65820312]
On test sample 152
cas9_NIAG S_0102 330
[4255] [ 4623.40917969]
On test sample 153
cas9_NIAG S_0102 362
[4179] [ 6379.68066406]
On test sample 154
cas9_NIAG S_1102 332
[4099] [ 4892.70556641]
On test sample 155
cas9_NIAG S_1102 362
[4208] [ 6741.23242188]
On test sample 156
cas9_NIAG S_2102 333
[4375] [ 5317.89648438]
On test sample 157
cas9_NIAG S_2102 359
[4532] [ 6906.81445312]
On test sample 158
cas9_NIAG S_3102 330
[5162] [ 5466.32519531]
On test sample 159
cas9_NIAG S_3102 360
[5417] [ 7073.64697266]
On test sample 160
cas9_NIAG S_4102 328
[5497] [ 5851.76123047]
On test sample 161
cas9_NIAG S_4102 360
[5227] [ 7742.86816406]
On test sample 162
cas9_NIAG S_5102 329
[6474] [ 6732.81054688]
On test sample 163
cas9_NIAG S_5102 362
[6620] [ 8339.61523438]
On test sample 164
cas9_NIAG S_6102 333
[7356] [ 8950.0703125]
On test sample 165
cas9_NIAG S_6102 363
[7827] [ 11109.01660156]
On test sample 166
cas9_NIAG S_7102 304
[10090] [ 10114.81347656]
On test sample 167
cas9_NIAG S_7102 306
[10450] [ 10106.11035156]
On test sample 168
cas9_XWAH S_7102 304
[26875] [ 26784.73242188]
On test sample 169
cas9_XWAH S_7102 306
[27059] [ 26800.87109375]
On test sample 170
cas9_MBI S_2691 332
[4408] [ 4612.23681641]
On test sample 171
cas9_MBI S_2691 358
[4366] [ 5988.75683594]
On test sample 172
cas9_MBI S_3691 319
[5377] [ 5157.41650391]
On test sample 173
cas9_MBI S_3691 360
[5436] [ 4921.89697266]
On test sample 174
cas9_MBI S_4691 329
[5803] [ 6413.25927734]
On test sample 175
cas9_MBI S_4691 363
[5719] [ 7690.56640625]
On test sample 176
cas9_MBI S_5691 330
[7423] [ 7406.37060547]
On test sample 177
cas9_MBI S_5691 362
[6955] [ 8014.61865234]
On test sample 178
cas9_MBI S_6691 332
[7698] [ 7121.62109375]
On test sample 179
cas9_MBI S_6691 362
[7623] [ 8620.24414062]
On test sample 180
cas9_MBI S_7691 332
[12759] [ 12149.63964844]
On test sample 181
cas9_MBI S_7691 361
[12992] [ 12378.56933594]
On test sample 182
cas9_MBI S_8691 331
[13702] [ 15384.71777344]
On test sample 183
cas9_MBI S_8691 361
[13295] [ 20259.46289062]
On test sample 184
cas9_MBI S_9691 328
[14372] [ 15374.5859375]
On test sample 185
cas9_MBI S_9691 360
[15005] [ 18308.54296875]
On test sample 186
cas9_MBI S_0791 328
[12465] [ 12900.29394531]
On test sample 187
cas9_MBI S_0791 362
[13234] [ 15110.90234375]
On test sample 188
cas9_MBI S_1791 330
[12417] [ 14368.36914062]
On test sample 189
cas9_MBI S_1791 362
[14103] [ 18997.12890625]
On test sample 190
cas9_MBI S_2791 333
[15890] [ 15240.02539062]
On test sample 191
cas9_MBI S_2791 357
[16230] [ 15842.24902344]
On test sample 192
cas9_MBI S_3791 332
[13985] [ 16283.62402344]
On test sample 193
cas9_MBI S_3791 358
[12339] [ 20062.03320312]
On test sample 194
cas9_MBI S_4791 330
[9194] [ 8759.49121094]
On test sample 195
cas9_MBI S_4791 360
[8576] [ 8547.85644531]
On test sample 196
cas9_MBI S_5791 328
[11547] [ 10883.90136719]
On test sample 197
cas9_MBI S_5791 360
[11599] [ 11993.59082031]
On test sample 198
cas9_MBI S_6791 331
[14245] [ 13287.9375]
On test sample 199
cas9_MBI S_6791 363
[14472] [ 14506.46484375]
On test sample 200
cas9_MBI S_7791 332
[13878] [ 14348.76953125]
On test sample 201
cas9_MBI S_7791 362
[14087] [ 16684.47460938]
On test sample 202
cas9_MBI S_8791 332
[13920] [ 14712.97851562]
On test sample 203
cas9_MBI S_8791 361
[15725] [ 16172.57910156]
On test sample 204
cas9_MBI S_9791 332
[13668] [ 14635.55761719]
On test sample 205
cas9_MBI S_9791 358
[13485] [ 17119.82617188]
On test sample 206
cas9_MBI S_0891 322
[14888] [ 14135.52832031]
On test sample 207
cas9_MBI S_0891 361
[14347] [ 16597.87695312]
On test sample 208
cas9_MBI S_1891 329
[10937] [ 10820.98925781]
On test sample 209
cas9_MBI S_1891 362
[11749] [ 12708.15136719]
On test sample 210
cas9_MBI S_2891 330
[17336] [ 17384.45898438]
On test sample 211
cas9_MBI S_2891 362
[19782] [ 21341.66601562]
On test sample 212
cas9_MBI S_3891 332
[24791] [ 27788.58789062]
On test sample 213
cas9_MBI S_3891 362
[25835] [ 30862.76171875]
On test sample 214
cas9_MBI S_4891 333
[25601] [ 26744.3515625]
On test sample 215
cas9_MBI S_4891 359
[25835] [ 28989.99414062]
On test sample 216
cas9_MBI S_5891 330
[28900] [ 28604.77929688]
On test sample 217
cas9_MBI S_5891 360
[31865] [ 35063.01953125]
On test sample 218
cas9_MBI S_6891 328
[25919] [ 27058.50585938]
On test sample 219
cas9_MBI S_6891 360
[25365] [ 35028.5546875]
On test sample 220
cas9_MBI S_7891 329
[24459] [ 24980.73242188]
On test sample 221
cas9_MBI S_7891 362
[24072] [ 35674.34375]
On test sample 222
cas9_MBI S_8891 333
[24726] [ 28312.94335938]
On test sample 223
cas9_MBI S_8891 363
[25474] [ 36863.515625]
On test sample 224
cas9_MBI S_9891 332
[20566] [ 24592.10742188]
On test sample 225
cas9_MBI S_9891 361
[19707] [ 32729.47070312]
On test sample 226
cas9_MBI S_0991 332
[23374] [ 23437.31835938]
On test sample 227
cas9_MBI S_0991 358
[23680] [ 27441.33984375]
On test sample 228
cas9_MBI S_1991 330
[20358] [ 26517.26757812]
On test sample 229
cas9_MBI S_1991 360
[18352] [ 43569.39453125]
On test sample 230
cas9_MBI S_2991 330
[13593] [ 17442.22851562]
On test sample 231
cas9_MBI S_2991 363
[10765] [ 26990.48632812]
On test sample 232
cas9_MBI S_3991 330
[11599] [ 10795.90332031]
On test sample 233
cas9_MBI S_3991 362
[12140] [ 14965.22363281]
On test sample 234
cas9_MBI S_4991 332
[14687] [ 16146.31835938]
On test sample 235
cas9_MBI S_4991 362
[15179] [ 17699.63671875]
On test sample 236
cas9_MBI S_5991 332
[20174] [ 22815.55273438]
On test sample 237
cas9_MBI S_5991 361
[19139] [ 30609.1875]
On test sample 238
cas9_MBI S_6991 331
[32866] [ 32023.9140625]
On test sample 239
cas9_MBI S_6991 361
[32398] [ 44538.84375]
On test sample 240
cas9_MBI S_7991 328
[42902] [ 30871.88671875]
On test sample 241
cas9_MBI S_7991 360
[42302] [ 26264.66601562]
On test sample 242
cas9_MBI S_8991 329
[69373] [ 59987.1953125]
On test sample 243
cas9_MBI S_8991 362
[78735] [ 76296.203125]
On test sample 244
cas9_MBI S_9991 330
[87368] [ 114817.3125]
On test sample 245
cas9_MBI S_9991 362
[91360] [ 216880.390625]
On test sample 246
cas9_MBI S_0002 333
[81622] [ 98931.2578125]
On test sample 247
cas9_MBI S_0002 362
[70610] [ 162028.1875]
On test sample 248
cas9_MBI S_1002 332
[93642] [ 97147.234375]
On test sample 249
cas9_MBI S_1002 358
[101400] [ 111342.4375]
On test sample 250
cas9_MBI S_2002 330
[71027] [ 60427.41015625]
On test sample 251
cas9_MBI S_2002 360
[65550] [ 74572.46875]
On test sample 252
cas9_MBI S_3002 328
[74868] [ 82460.03125]
On test sample 253
cas9_MBI S_3002 360
[77575] [ 110955.6015625]
On test sample 254
cas9_MBI S_4002 331
[79092] [ 69855.328125]
On test sample 255
cas9_MBI S_4002 363
[82082] [ 67540.375]
On test sample 256
cas9_MBI S_5002 332
[74408] [ 82419.6953125]
On test sample 257
cas9_MBI S_5002 362

[69390] [ 112093.2109375]
On test sample 258
cas9_MBI S_6002 332
[76277] [ 74583.421875]
On test sample 259
cas9_MBI S_6002 361
[81081] [ 79301.8046875]
On test sample 260
cas9_MBI S_7002 332
[89664] [ 101110.15625]
On test sample 261
cas9_MBI S_7002 358
[93238] [ 114179.96875]
On test sample 262
cas9_MBI S_8002 329
[66709] [ 66467.1796875]
On test sample 263
cas9_MBI S_8002 361
[67911] [ 81773.46875]
On test sample 264
cas9_MBI S_9002 329
[106300] [ 111343.8671875]
On test sample 265
cas9_MBI S_9002 362
[110480] [ 134316.65625]
On test sample 266
cas9_MBI S_0102 330
[120140] [ 123039.375]
On test sample 267
cas9_MBI S_0102 362
[121660] [ 145367.921875]
On test sample 268
cas9_MBI S_1102 332
[154110] [ 169232.015625]
On test sample 269
cas9_MBI S_1102 362
[155600] [ 205557.078125]
On test sample 270
cas9_MBI S_2102 333
[165120] [ 195283.765625]
On test sample 271
cas9_MBI S_2102 359
[165470] [ 252767.46875]
On test sample 272
cas9_MBI S_3102 330
[155450] [ 174554.046875]
On test sample 273
cas9_MBI S_3102 360
[162510] [ 245047.34375]
On test sample 274
cas9_MBI S_4102 328
[145600] [ 163389.6875]
On test sample 275
cas9_MBI S_4102 360
[145780] [ 203676.25]
On test sample 276
cas9_MBI S_5102 329
[127950] [ 152329.296875]
On test sample 277
cas9_MBI S_5102 362
[127610] [ 225750.875]
On test sample 278
cas9_MBI S_6102 333
[158380] [ 166177.890625]
On test sample 279
cas9_MBI S_6102 363
[159980] [ 224082.890625]
On test sample 280
cas9_MBI S_7102 304
[152540] [ 152313.28125]
On test sample 281
cas9_MBI S_7102 306
[151830] [ 151387.875]
On test sample 282
cas9_XGAJ S_5102 329
[2040] [ 372.50390625]
On test sample 283
cas9_XGAJ S_5102 362
[2330] [-1358.68408203]
On test sample 284
cas9_XGAJ S_6102 333
[689] [ 4251.10839844]
On test sample 285
cas9_XGAJ S_6102 363
[635] [ 10374.19628906]
On test sample 286
cas9_XGAJ S_7102 304
[181] [ 188.95960999]
On test sample 287
cas9_XGAJ S_7102 306
[179] [ 205.1756897]

In [83]:
mae_test = mean_absolute_error(targets_test, preds_test)
print('MAE TEST: ', mae_test)

MAE TEST:  8178.32995198

In [74]:
def write_predictions_csv_file(inds, preds, prediction_filename):
    df = pd.DataFrame(preds, index=inds, columns=['count'])
    df.to_csv(prediction_filename, index_label='d3mIndex')

def write_scores_csv_file(metric_dict, score_filename):
    metric_names = []
    metric_values = []
    for metric_name, metric_value in metric_dict.items():
        metric_names.append(metric_name)
        metric_values.append(metric_value)
    metric_names = np.array(metric_names)
    metric_values = np.array(metric_values)
    
    df = pd.DataFrame(np.concatenate((metric_names[:, None], metric_values[:, None]), axis=1), columns=['metric', 'value'])
    df.to_csv(score_filename, index=None)

In [67]:
print('Writing predictions to .csv file.')
output_dir = '../'
predictions_file = os.path.join(output_dir, 'predictions.csv')
write_predictions_csv_file(df_test.index, preds_test, predictions_file)

Writing predictions to .csv file.

In [75]:
print('Writing scores to .csv file.')
metric_dict = {'meanAbsoluteError': mae_test}
scores_file = os.path.join(output_dir, 'scores.csv')
write_scores_csv_file(metric_dict, scores_file)

Writing scores to .csv file.